{% extends '::backend.html.twig' %}
{% form_theme form with 'LsCoreBundle:Backend:fields.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this);
            var numFiles = input.get(0).files ? input.get(0).files.length : 1;
            var label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready(function () {
            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
                var input = $(this).parents('.input-group').find(':text');
                var log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                    {{ form_errors(form.file) }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
            <div class="tab-content" style="margin-top: 15px;">
                <div id="tab-ustawienia" class="tab-pane active">
                    <div class="form-group{% if form.btnUrl.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(form.btnUrl, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.btnUrl, {'attr': {'class': 'form-control' }}) }}
                            {% if form.btnUrl.vars.errors|length %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                    </div>
					<div class="form-group{% if form.btnTitle.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(form.btnTitle, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.btnTitle, {'attr': {'class': 'form-control' }}) }}
                            {% if form.btnTitle.vars.errors|length %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            {{ form_widget(form.btnBlank) }}
                        </div>
                    </div>
					<div class="form-group{% if form.btnUrl2.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(form.btnUrl2, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.btnUrl2, {'attr': {'class': 'form-control' }}) }}
                            {% if form.btnUrl2.vars.errors|length %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                    </div>
					<div class="form-group{% if form.btnTitle2.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(form.btnTitle2, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.btnTitle2, {'attr': {'class': 'form-control' }}) }}
                            {% if form.btnTitle2.vars.errors|length %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            {{ form_widget(form.btnBlank2) }}
                        </div>
                    </div>
                    <div class="form-group{% if form.file.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(form.file, null, {'label_attr': {'class': 'control-label col-sm-3' }}) }}
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input class="form-control" type="text" readonly="readonly" autocomplete="off">
                                <span class="input-group-btn">
                                    <span class="btn{% if form.file.vars.errors|length %} btn-danger{% else %} btn-default{% endif %} btn-file">
                                        Przeglądaj... {{ form_widget(form.file) }}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% if entity.getPhotoWebPath != null %}
                        <div class="form-group">
                            <div class="control-label col-sm-3">Aktualne zdjęcie</div>
                            <div class="col-sm-9">
                                <img src="{{ entity.getPhotoWebPath() }}?{{ random(10000) }}" style="max-width:100%; height: auto;" />
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
                    {{ form_widget(form.remove_image, {'attr': {'class': 'btn btn-danger' }}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}