{% if categories|length > 0 %}
    <div class="audio-player-container">
        <div class="header">{{ 'label.playing'|trans }}</div>
        <div class="current"></div>
        <div id="audio-player" class="player">
            <div class="control">
                <div class="play"></div>
                <div class="stop"></div>
            </div>
            <div class="progress-container">
                <div id="handle-container" class="progress">
                    <div class="bar"></div>
                    <div id="handle" class="handle">
                        <div class="handle-icon"></div>
                    </div>
                    <div class="from">0:00</div>
                    <div class="to">0:00</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="search">
            <label for="search" >Wyszukaj utwór:</label>
            <input onkeyup="searchFunction();" type="text" name="search" id="search">
        </div>
        <div class="send-form-container">
            <div class="send-form-top">
                <div class="checkbox">
                    <input type="checkbox" id="show-send-form" />
                    <label for="show-send-form">{{ 'label.send.song'|trans }}</label>
                </div>
            </div>
            <div class="send-form-bottom" style="display: none;">
                {% include 'LsAudioPlayerBundle:Front:song_form.html.twig' with { 'form': form } %}
            </div>
        </div>
        {% set first = true %}
        {% for category in categories %}
            <div class="list">
                <div class="playlist">{{ category.title }}</div>
                <div class="songs">
                    {% for song in category.audioFiles %}
                        <div class="song{% if first %} selected{% endif %}">
                            {% set first = false %}
                            <span data-song-id="{{ song.id }}" data-src="{{ song.getFileWebPath() }}">{{ song.title }}</span>

                            <div class="icon"></div>
                        </div>
                        <div class="clear"></div>
                    {% endfor %}
                    <h2 style="display: none;" class="empty-text">Brak wyników wyszukiwania</h2>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}