{{ form_start(form, {'attr': {'id': form.vars.name, 'onsubmit': 'return sendFile();', 'novalidate': 'novalidate' }}) }}
<div class="form-field">
    {% spaceless %}
    {{ form_widget(form.email) }}
    {{ form_widget(form.submit) }}
    <img src="{{ asset('bundles/lscore/images/ajax_loader.gif') }}" alt="" class="song-ajax-loader" style="display: none" />
    {% endspaceless %}
</div>
<div class="form-error">
    {% if form.email.vars.errors|length %}
        {% for error in form.email.vars.errors %}
            <span>{{ error.message }}</span>
        {% endfor %}
    {% endif %}
</div>
{{ form_end(form) }}
