{% extends '::backend.html.twig' %}

{% form_theme form with 'LsCoreBundle:Backend:fields.html.twig' %}



{% block body %}

    {% for flashMessage in app.session.flashbag.get('error') %}

        <div class="row">

            <div class="col-xs-12">

                <div class="alert alert-danger alert-dismissible" role="alert">

                    <button type="button" class="close" data-dismiss="alert">

                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                    <strong>Błąd!</strong> {{ flashMessage }}

                    {{ form_errors(form.title) }}

                    {{ form_errors(form.recipient) }}

                    {{ form_errors(form.message) }}

                </div>

            </div>

        </div>

    {% endfor %}



    {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="row">

            <div class="col-xs-12">

                <div class="alert alert-success alert-dismissible" role="alert">

                    <button type="button" class="close" data-dismiss="alert">

                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                    <strong>Sukces!</strong> {{ flashMessage }}

                </div>

            </div>

        </div>

    {% endfor %}



    <div class="row">

        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>

        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">

            <a href="{{ path('ls_admin_newsletter_message') }}" class="btn btn-default">

                <i class="glyphicon glyphicon-list"></i>

                Powrót do listy

            </a>

        </div>

    </div>



    <div class="row">

        <div class="col-xs-12">

            {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}

            <div class="tab-content" style="margin-top: 15px;">

                <div id="tab-general" class="tab-pane active">

                    <div class="form-group{% if form.title.vars.errors|length %} has-error has-feedback{% endif %}">

                        {{ form_label(form.title, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}

                        <div class="col-sm-9">

                            {{ form_widget(form.title, {'attr': {'class': 'form-control' }}) }}

                            {% if form.title.vars.errors|length %}

                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

                            {% endif %}

                        </div>

                    </div>

                        

                    <div class="form-group{% if form.message.vars.errors|length %} has-error has-feedback{% endif %}">

                        {{ form_label(form.message, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}

                        <div class="col-sm-9">

                            {{ form_widget(form.message, {'attr': {'class': 'form-control wysiwyg template-target' }}) }}

                            {% if form.message.vars.errors|length %}

                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

                            {% endif %}

                        </div>

                    </div>

                        

                    <div class="form-group">

                        {{ form_label(form.startSendDate, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}

                        <div class="col-sm-9">

                            <div class="input-group">

                                {{ form_widget(form.startSendDate, {'attr': {'class': 'form-control datepicker', 'autocomplete': 'off' }}) }}

                                <label for="{{ form.startSendDate.vars.id }}" class="input-group-addon btn">

                                    <span class="glyphicon glyphicon-calendar"></span>

                                </label>

                            </div>

                        </div>

                    </div>



                    {% if templates is not empty %}

                        <div class="form-group">

                            <label class="col-sm-3 control-label required">Szablon e-mail</label>

                            

                            <div class="col-sm-9">

                                <select class="form-control template-changer">

                                    <option data="">Wybierz</option>



                                    {% for template in templates %}

                                        <option data="{{ template.content }}">

                                            {{ template.title }}

                                        </option>

                                    {% endfor %}

                                </select>

                            </div>

                        </div>

                    {% endif %}

                    <div class="form-group">
                        <label class="col-sm-3 control-label required">Kategoria subskrybentów</label>
                        <div class="col-sm-9">
                            <select class="form-control category-changer">
                                <option value="0">Wszystkie</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group{% if form.recipient.vars.errors|length %} has-error has-feedback{% endif %}">

                        {{ form_label(form.recipient, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}

                        <div class="col-sm-9">

                            {{ form_widget(form.recipient, {'attr': {'class': 'form-control', 'style': 'min-height: 200px;' }}) }}

                            {% if form.recipient.vars.errors|length %}

                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

                            {% endif %}

                        </div>

                    </div>

                </div>

            </div>

                        

            <div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>

            

            <div class="form-group">

                <div class="col-sm-offset-3 col-sm-9">

                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}

                    {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}

                    {{ form_widget(form.submit_and_new, {'attr': {'class': 'btn btn-default' }}) }}

                </div>

            </div>

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}





{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">

        $(document).ready(function () {

            $('.datepicker').datetimepicker({

                locale:"pl",

                defaultDate: new Date()

            });

            

            function changeTemplateOptions () {

                var option = $('.template-changer').val();

                var data = $('.template-changer option:selected').attr('data');

                

                $('.wysiwyg.template-target').val(data);
            }

            

            $('.template-changer').on('change', function() {

                changeTemplateOptions();

            });

            $('.category-changer').on('change', function() {
                changeCategoryOptions();
            });

            var allSubscribers = $('#form_admin_newsletter_message_recipient').html();
            function changeCategoryOptions () {
                var selectedCategory = $('.category-changer').val();

                $('#form_admin_newsletter_message_recipient').html('');
                $.each($(allSubscribers), function(i, option) {  
                    if (parseInt(selectedCategory) == 0) {
                        $('#form_admin_newsletter_message_recipient').append(option);
                    } else {
                        if ($(option).data('category') == parseInt(selectedCategory)) {
                            $('#form_admin_newsletter_message_recipient').append(option);
                        }
                    }
                });
            }

        });

    </script>

{% endblock %}