{% extends '::backend.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_newsletter_message') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <td class="col-sm-3"><strong>Tytuł</strong></td>
                        <td class="col-sm-9">{{ entity.title }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Wiadomość</strong></td>
                        <td class="col-sm-9">{{ entity.message|raw }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Odbiorcy</strong></td>
                        <td class="col-sm-9">
                            <select slyle="min-height: 200px;" class="form-control" multiple="multiple">
                            {% for recipients in entity.recipient %}
                                <option disabled>{{ recipients }}</option>
                            {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Ilość odbiorców</strong></td>
                        <td class="col-sm-9">{{ entity.recipientscount }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Data rozpoczęcia wysyłania</strong></td>
                        <td class="col-sm-9">
                            {% if entity.startSendDate|length > 0 %}
                                {{ entity.startSendDate|localizeddate('long', 'medium') }}
                            {% else %}
                                Natychmiast.
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Status</strong></td>
                        <td class="col-sm-9">{{ render(controller('LsNewsletterBundle:AdminMessage:getStatus',{'newsletter': entity })) }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-3"><strong>Data utworzenia</strong></td>
                        <td class="col-sm-9">{{ entity.createdat|localizeddate('long', 'medium') }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}