{{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
    <ul class="nav nav-tabs pills">
        <li class="active">
            <a data-toggle="tab" href="#tab-ustawienia">Treść</a>
        </li>
    </ul>
    
    <div class="tab-content" style="margin-top: 15px;">
        <div id="tab-ustawienia" class="tab-pane active">
            <div class="form-group{% if form.title.vars.errors|length %} has-error has-feedback{% endif %}">
                {{ form_label(form.title, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control' }}) }}
                    {% if form.title.vars.errors|length %}
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    {% endif %}
                </div>
            </div>
            
            <div class="form-group{% if form.url.vars.errors|length %} has-error has-feedback{% endif %}">
                {{ form_label(form.url, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.url, {'attr': {'class': 'form-control' }}) }}
                    {% if form.url.vars.errors|length %}
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
    
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
            {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}
            {% if not form_edit %}
                {{ form_widget(form.submit_and_new, {'attr': {'class': 'btn btn-default' }}) }}
            {% endif %}
        </div>
    </div>
{{ form_end(form) }}
