{% extends '::index.html.twig' %}

{% block title %}Artyści - {{ cms_config.get('seo_title_kmevents', '') }}{% endblock %}
{% block description %}Artyści - {{ cms_config.get('seo_description_kmevents', '') }}{% endblock %}
{% block keywords %}Artyści, {{ cms_config.get('seo_keywords_kmevents', '') }}{% endblock %}

{% block content %}    
    <div id="actorsPage" class="actorsBackground">
        <div class="toMainPageWrapper">
            <div class="kmevents-container">
                <div class="toMainPage">
                    <a href="{{ path('ls_core_homepage') }}">Powrót do strony głównej</a>
                </div>
            </div>
        </div>
        <div class="kmeventsMenu">
            <div class="kmevents-container">
                <a href="{{ path('ls_section_kmevents') }}">
                    <img src="{{ asset('bundles/lscore/images/kmevents_logo.png') }}" class="kmeventsLogo" alt="kmevents" />
                </a>
                <div class="kmeventsMenu_navWrapper">
                    <div class="kmeventsMenu_nav">
                        <a href="{{ path('ls_section_kmevents') }}">Wstęp</a>
                        <a class="kmeventsMenu_navActive" href="{{ path('ls_section_kmevents_actors') }}">Artyści</a>
                        <a href="{{ path('ls_section_kmevents_contact') }}">Kontakt</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="actorsPage_content">
            <div class="kmevents-container">
                <h1>Artyści</h1>
                {% for entity in entities %}
                    <a href="{{ path('ls_actors_show', {'slug': entity.slug}) }}" class="actorsPage_actor">
                        <img src="{{ entity.getThumbWebPath('list') }}" alt="{{ entity.title }}" />
                        <h2>{{ entity.title }}</h2>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
