{% extends '::index.html.twig' %}

{% block title %}Aktorzy - {{ parent() }}{% endblock %}
{% block description %}Aktorzy{% endblock %}
{% block keywords %}Aktorzy{% endblock %}

{% block content %}
    <div id="actorsPage">
        <div class="toMainPageWrapper">
            <div class="kmevents-container">
                <div class="toMainPage">
                    <a href="#">Powrót do strony głównej</a>
                </div>
            </div>
        </div>
        <div class="kmeventsMenu">
            <div class="kmevents-container">
                <img src="{{ asset('bundles/lscore/images/kmevents_logo.png') }}" class="kmeventsLogo" alt="kmevents" />
                <div class="kmeventsMenu_navWrapper">
                    <div class="kmeventsMenu_nav">
                        <a class="kmeventsMenu_navActive" href="#">Wstęp</a>
                        <a href="#">Artyści</a>
                        <a href="#">Kontakt</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="actorsPage_content">
            <div class="kmevents-container">
                <h1>Artyści</h1>
                {% for entity in entities %}
                    <div class="actorsPage_actor">
                        <img src="{{ entity.getThumbWebPath('list') }}" alt="{{ entity.title }}" />
                        <h2>{{ entity.title }}</h2>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}