{% extends '::index.html.twig' %}

{% block title %}Kontakt{% endblock %}
{% block description %}Kontakt{% endblock %}
{% block keywords %}Kontakt{% endblock %}

{% block content %}
    <div id="kmeventsContact" class="actorsBackground">
        <div class="toMainPageWrapper">
            <div class="kmevents-container">
                <div class="toMainPage">
                    <a href="{{ path('ls_core_homepage') }}">Powrót do strony głównej</a>
                </div>
            </div>
        </div>
        <div class="kmeventsMenu">
            <div class="kmevents-container">
                <a href="{{ path('ls_section_kmevents') }}">
                    <img src="{{ asset('bundles/lscore/images/kmevents_logo.png') }}" class="kmeventsLogo" alt="kmevents" />
                </a>
                <div class="kmeventsMenu_navWrapper">
                    {{ knp_menu_render(menuEvents) }}
					<div class="socialsNetworks">
                        <a class="socialsNetworks_facebook" href="{{ cms_config.get('km_events_facebook', '')|nl2br|raw }}"></a>
                        <a class="socialsNetworks_instagram" href="{{ cms_config.get('km_events_instagram', '')|nl2br|raw }}"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="kmeventsContact_content">
            <div class="kmevents-container">
                <h1>Masz pytania?<br>
                    Zapraszamy do kontaktu!</h1>
                <p><a class="kmeventsContact_email" href="mailto:{{ cms_config.get('km_events_email', '') }}">{{ cms_config.get('km_events_email', '') }}</a><br>
                    <span>{{ cms_config.get('km_events_phone_number', '')|nl2br }}</span></p>
            </div>
        </div>
    </div>
{% endblock %}