{% extends '::index.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/lscore/css/jquery.bxslider.css') }}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block content %}
    <div id="kmusic-page">
        <div id="page-content">
            <div class="text-content">
                <a class="link to-home" href="{{ path('ls_core_homepage') }}">Powrót do strony głównej</a>
                <img class="logo" src="{{ asset('bundles/lscore/images/kmmusic.png') }}" alt="Kindla Music">
                {{ entity.content|raw }}
            </div>
            {{ render(controller('LsPartnersBundle:Front:block')) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/lscore/js/jquery.bxslider.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/js/slider.js') }}" type="text/javascript"></script>
{% endblock %}