{% extends '::index.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block content %}
    <div id="kmpublishing-page">
        <div id="page-content">
            <img class="logo" src="{{ asset('bundles/lscore/images/kmpublishing.png') }}" alt="Kindla Music">
            <a class="link to-home" href="{{ path('ls_core_homepage') }}">Powrót do strony głównej</a>
            <div class="container">
                <div class="text-content">
                    {{ entity.content|raw }}
                    {{ render(controller('LsLogosBundle:Front:block')) }}
                </div>
                <div class="right">
                    {{ render(controller('LsComposerBundle:Front:block', { 'request': app.request })) }}
                    <div class="login-box">
                        <div onclick="showModal();" class="link send-demo">Prześlij demo</div>
                        <a class="link login-btn" href="{{ path('ls_section_kmpublishing_login') }}">Przejdź do logowania</a>
                    </div>
                    <div class="contact-box">
                        <div class="title">Kontakt</div>
                        <div class="email contact">{{ cms_config.get('kmpublishing_contact_email', '')|nl2br|raw }}</div>
                        <div class="phone contact">{{ cms_config.get('kmpublishing_contact_phone', '')|nl2br|raw }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                        
    <div class="send-modal-demo">
        <div class="modal-content">
            {{ render(controller('LsSendDemoBundle:Front:form')) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/lscore/js/qtip/jquery.qtip.min.js') }}"></script>
    <script src="{{ asset('bundles/lscore/js/sendDemo.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/js/jquery.bxslider.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/js/slider.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(".form-modal").submit(function( event ) {
            event.preventDefault();
            sendDemo("{{ path('ls_send_demo') }}", $(this));
        });
    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/lscore/js/qtip/jquery.qtip.min.css') }}">
    <link href="{{ asset('bundles/lscore/css/jquery.bxslider.css') }}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}