{% extends '::index.html.twig' %}

{% block title %}{{ entity.seotitle }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block content %}
    
    
    <div id="kmevents-page" class="actorsBackground">
        <div class="toMainPageWrapper">
            <div class="kmevents-container">
                <div class="toMainPage">
                    <a href="{{ path('ls_core_homepage') }}">Powrót do strony głównej</a>
                </div>
            </div>
        </div>
        <div class="kmeventsMenu">
            <div class="kmevents-container">
                <a href="{{ path('ls_section_kmevents') }}">
                    <img src="{{ asset('bundles/lscore/images/kmevents_logo.png') }}" class="kmeventsLogo" alt="kmevents" />
                </a>
                <div class="kmeventsMenu_navWrapper">
                    {{ knp_menu_render(menuEvents) }}
                    <div class="socialsNetworks">
                        <a class="socialsNetworks_facebook" href="{{ cms_config.get('km_events_facebook', '')|nl2br|raw }}"></a>
                        <a class="socialsNetworks_instagram" href="{{ cms_config.get('km_events_instagram', '')|nl2br|raw }}"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="kmeventsContent">
            <div class="kmevents-container">
                <div class="kmeventsContent_header">
                    <h1>{{ entity.title }}</h1>
                </div>
                <div class="kmeventsContent_textArea">
                    {{ entity.content|raw }}
                    
                    <div class="video-slider-container">
                        <div class="video-slider-wrapper">
                            <div class="video-slider">
                                {% for key, video in videoGallery.movies %}
                                    <div class="item item-{{ key }}{% if loop.first %} current{% endif %}">
                                        <div id="video-{{ video.movieid }}" class="ytplayer"></div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    {{ entity.content2|raw }}
                </div>
                <div class="kmeventsContent_button">
                    <a class="myButton myButton-green" href="{{ path('ls_section_kmevents_actors') }}">Zobacz artystów</a>
                </div>
            </div>
        </div>
           
    </div>    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/lscore/js/bxslider.min.js') }}"></script>
    <script>
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        
        var ytVideos = 
        [{% for video in videoGallery.movies %}
            "{{ video.movieid }}",
        {% endfor %}];
            
        var players = [];
        function onYouTubeIframeAPIReady() {
          $.each(ytVideos, function(index, item) {
            var player = new YT.Player('video-'+item, {
                height: '392',
                width: '700',
                videoId: item,
                host: 'https://www.youtube.com',
                playerVars: {
                    'playsinline': 1,
                    'origin': window.location.origin
                }
            });

            players.push(player);

          });

          if ($('.video-slider').length > 0) {
              var videoSlider = $('.video-slider').bxSlider(videoSliderSettings);
          }
        }

        var videoSliderSettings = {
            slideWidth: 700,
            maxSlides: 1,
            minSlides: 1,
            slideMargin: 0,
            moveSlides: 1,
            infiniteLoop: true,
            pager: false,
            hideControlOnEnd: true,
            useCSS: false,
            nextText: '<img class="icon" src="/bundles/lscore/images/video-slide-control.svg" alt="Poprzedni slide"><img class="icon hover" src="/bundles/lscore/images/video-slide-control-hover.svg" alt="Poprzedni slide">',
            prevText: '<img class="icon" src="/bundles/lscore/images/video-slide-control.svg" alt="Następny slide"><img class="icon hover" src="/bundles/lscore/images/video-slide-control-hover.svg" alt="Następny slide">',
            onSliderResize: reloadVideoSliderBX,
            onSliderLoad: function (currentIndex) {
                setTimeout(function() {
                    $(".video-slider .item").removeClass('current');
                    $('.video-slider .item-'+currentIndex).addClass('current');

                    $(".video-slider").css("visibility", "visible");
                }, 1);
            },
            onSlideBefore: function ($slideElement, oldIndex, newIndex) {
                $(".video-slider .item").removeClass('current');
                $slideElement.addClass('current');

                $.each(players, function(index, item) {
                    item.stopVideo();
                });
            }
        };

        function reloadVideoSliderBX() {
            videoSlider.reloadSlider(videoSliderSettings);
        }

    </script>
{% endblock %}
