{% extends '::index.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block content %}
    <div id="mamamusic-page">
        <div id="page-content">
            <div class="text-content">
                <a class="to-home" href="{{ path('ls_core_homepage') }}">Powrót do strony głównej</a>
                <img class="logo" src="{{ asset('bundles/lscore/images/mamamusic-2.svg') }}" alt="MAMAMusic">
                {{ entity.content|raw }}
                <a href="http://www.mamamusicstudio.pl" class="link">Zobacz więcej na <span>www.mamamusicstudio.pl</span></a>
            </div>
        </div>
    </div>
{% endblock %}