{% extends '::index.html.twig' %}

{% block content %}
    <div id="kmpublishing-page">
        <div id="page-content">
            <img class="logo" src="{{ asset('bundles/lscore/images/kmpublishing.png') }}" alt="Kindla Music">
            {% if userData %}
                <a class="link to-home logout" href="{{ path('ls_section_kmpublishing_logout') }}">Wyloguj</a>
            {% endif %}
            <a class="link to-home player-to-home" href="{{ path('ls_core_homepage') }}">Powrót do strony głównej</a>
            <div class="container">
                <div class="text-content player main-content">
                    <h2 class="head2">Player</h2>
                    {% include 'LsAudioPlayerBundle:Front:publishingPlayer.html.twig' with { 'categories': categories } %}
                </div>
                <div class="right">
                    {{ render(controller('LsComposerBundle:Front:block', { 'request': app.request })) }}
                    <div class="contact-box">
                        <div class="title">Kontakt</div>
                        <div class="email contact">{{ cms_config.get('kmpublishing_contact_email', '')|nl2br|raw }}</div>
                        <div class="phone contact">{{ cms_config.get('kmpublishing_contact_phone', '')|nl2br|raw }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/lscore/js/main.js') }}" type="text/javascript"></script>
    
    <script>
    function searchFunction() {
        var input, filter, ul, li, a, i;
        input = $("#search");
        filter = input.val().toUpperCase();
        list = $(".songs");
        for (j = 0; j < list.length; j++) {
            element = $(list[j]).find(".song");
            var count = 0;
            for (i = 0; i < element.length; i++) {
                a = $(element[i]).find("span");
                if ($(a).text().toUpperCase().indexOf(filter) > -1) {
                    $(element[i]).show();
                } else {
                    count++;
                    $(element[i]).hide();
                }
            }
            
            if (element.length === count) {
                $(list[j]).find('.empty-text').show();
            } else {
                $(list[j]).find('.empty-text').hide();
            }
        }
    }
</script>
{% endblock %}