<div class="composers-list">
    <div class="title">Profile kompozytorów</div>
    {% for entity in entities %}
        <a class="item {% if currentSlug == entity.slug %}active{% endif %}" href="{{ path('ls_composer_show', {'slug': entity.slug}) }}" title="{{ entity.title }}">{{ entity.title }}</a>
    {% endfor %}
</div>