{% extends '::index.html.twig' %}

{% block title %}Profile kompozytorów - {{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block content %}
    <div id="kmpublishing-page">
        <div id="page-content">
            <img class="logo" src="{{ asset('bundles/lscore/images/kmpublishing.png') }}" alt="Kindla Music">
            <a class="link to-home" href="{{ path('ls_core_homepage') }}">Powrót do strony głównej</a>
            <div class="container">
                <div class="text-content">
                    <div class="top">
                        <a class="link to-home to-back" href="{{ path('ls_section_kmpublishing') }}">Powrót do opisu</a>
                        <h2 class="head2">{{ entity.title }}</h2>
                    </div>
                    <img class="photo" src="{{ entity.getThumbWebPath('detail') }}?{{random(10000)}}" alt="{{entity.title}}" title="{{entity.title}}">
                    {{ entity.content|raw }}
                    {% if entity.gallery %}
                        {% include "LsGalleryBundle:Front:gallery.html.twig" with { movies: entity.gallery.movies } %}
                    {% endif %}
                </div>
                <div class="right">
                    {{ render(controller('LsComposerBundle:Front:block', { 'request': app.request })) }}
                    <div class="login-box">
                        <div onclick="showModal();" class="link send-demo">Prześlij demo</div>
                        <a class="link login-btn" href="{{ path('ls_section_kmpublishing_login') }}">Przejdź do logowania</a>
                    </div>
                    <div class="contact-box">
                        <div class="title">Kontakt</div>
                        <div class="email contact">{{ cms_config.get('kmpublishing_contact_email', '')|nl2br|raw }}</div>
                        <div class="phone contact">{{ cms_config.get('kmpublishing_contact_phone', '')|nl2br|raw }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                 
    <div class="send-modal-demo">
        <div class="modal-content">
            {{ render(controller('LsSendDemoBundle:Front:form')) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/lscore/js/qtip/jquery.qtip.min.js') }}"></script>
    <script src="{{ asset('bundles/lscore/js/sendDemo.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(".form-modal").submit(function( event ) {
            event.preventDefault();
            sendDemo("{{ path('ls_send_demo') }}", $(this));
        });
    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/lscore/js/qtip/jquery.qtip.min.css') }}">
{% endblock %}