{% extends '::index.html.twig' %}

{% block title %}Media - {{ parent() }}{% endblock %}
{% block description %}Media - {{ cms_config.get('seo_description_kmevents', '') }}{% endblock %}
{% block keywords %}Media, {{ cms_config.get('seo_keywords_kmevents', '') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/lscore/css/media.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div id="media-page" class="actorsBackground">
        <div class="toMainPageWrapper">
            <div class="kmevents-container">
                <div class="toMainPage">
                    <a href="{{ path('ls_core_homepage') }}">Powrót do strony głównej</a>
                </div>
            </div>
        </div>
        
        <div class="kmeventsMenu">
            <div class="kmevents-container">
                <a href="{{ path('ls_section_kmevents') }}">
                    <img src="{{ asset('bundles/lscore/images/kmevents_logo.png') }}" class="kmeventsLogo" alt="kmevents" />
                </a>
                <div class="kmeventsMenu_navWrapper">
                    {{ knp_menu_render(menuEvents) }}
                    <div class="socialsNetworks">
                        <a class="socialsNetworks_facebook" href="{{ cms_config.get('km_events_facebook', '')|nl2br|raw }}"></a>
                        <a class="socialsNetworks_instagram" href="{{ cms_config.get('km_events_instagram', '')|nl2br|raw }}"></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="actorContent">
            <div class="kmevents-container">
                <div class="media">
                    <h1 class="media-title">Media</h1>
                    
                    {% if entities|length > 0 %}
                        <div class="media-items">
                            {% for entity in entities %}
                                <a class="media-item" href="{{ path('ls_events_media_show', {'slug': entity.slug}) }}">
                                    <h1 class="media-item-title">{{ entity.title }}</h1>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
