{% extends '::index.html.twig' %}

{% block title %}Media - {{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/lscore/css/media.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div id="media-page" class="actorsBackground">
        <div class="toMainPageWrapper">
            <div class="kmevents-container">
                <div class="toMainPage">
                    <a href="{{ path('ls_core_homepage') }}">Powrót do strony głównej</a>
                </div>
            </div>
        </div>
        
        <div class="kmeventsMenu">
            <div class="kmevents-container">
                <a href="{{ path('ls_section_kmevents') }}">
                    <img src="{{ asset('bundles/lscore/images/kmevents_logo.png') }}" class="kmeventsLogo" alt="kmevents" />
                </a>
                <div class="kmeventsMenu_navWrapper">
                    {{ knp_menu_render(menuEvents) }}
                    <div class="socialsNetworks">
                        <a class="socialsNetworks_facebook" href="{{ cms_config.get('km_events_facebook', '')|nl2br|raw }}"></a>
                        <a class="socialsNetworks_instagram" href="{{ cms_config.get('km_events_instagram', '')|nl2br|raw }}"></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="actorContent">
            <div class="kmevents-container">
                <div class="media">
                    <h1 class="media-title">Media</h1>
                    
                    <div class="media-show">
                        <div class="media-left">
                            <h2 class="media-show-title">{{ entity.title }}</h2>
                            
                            {% if entity.files|length > 0 %}
                                <div class="download">
                                    <h4 class="download-title">Zdjęcia do pobrania</h4>
                                    
                                    {% for file in entity.files %}
                                        <a class="download-link" href="{{ file.getFileWebPath }}" target="_blank">{{ file.fileName }}</a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            
                            {% if entity.links|length > 0 %}
                                <div class="media-links">
                                    <h4 class="media-links-title">Teledyski</h4>
                                    
                                    {% for link in entity.links %}
                                        <a class="media-link" href="{{ link.url }}" target="_blank">{{ link.title }}</a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            
                            {% if entity.facebook|length > 0 or entity.instagram|length > 0 or entity.youtube|length > 0 or entity.twitter|length > 0 %}
                                <div class="social-media">
                                    <h4 class="social-media-title">Social media:</h4>
                                    
                                    {% if entity.facebook|length > 0 %}
                                        <a class="social-media-link" href="{{ entity.facebook }}" target="_blank">Facebook</a>
                                    {% endif %}
                                    
                                    {% if entity.instagram|length > 0 %}
                                        <a class="social-media-link" href="{{ entity.instagram }}" target="_blank">Instagram</a>
                                    {% endif %}
                                    
                                    {% if entity.youtube|length > 0 %}
                                        <a class="social-media-link" href="{{ entity.youtube }}" target="_blank">YouTube</a>
                                    {% endif %}
                                    
                                    {% if entity.twitter|length > 0 %}
                                        <a class="social-media-link" href="{{ entity.twitter }}" target="_blank">Twitter</a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                        
                        <div class="media-right editor">
                            <p class="media-page-title">Info prasowe</p>
                            {{ entity.content|raw }}
                            <p class="media-page-title">Bio Monika</p>
                            {{ entity.content2|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        // Menu item MEDIA add class "current"
        $('a[title="MEDIA"]').parent().addClass('current');
    </script>
{% endblock %}
