<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <title>{% block title %}{{ cms_config.get('seo_title', '') }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}" />
        <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}
    <link href="{{ asset('bundles/lscore/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lscore/images/favicon.png') }}" />
</head>
<body class="login">
<div id="content-wrapper">
    <div id="content">
        <div id="languages-login">{{ locale_switcher() }}</div>
        <div class="login-top">
            <div class="firstname">{{ 'main.firstname'|trans }}</div>
            <div class="lastname">{{ 'main.lastname'|trans }}</div>
        </div>

        <form id="login-form" action="{{ path("ls_user_login_check") }}" method="post" role="form" novalidate="novalidate">
            {% if error %}
                <div class="error">{{ error.messageKey|trans(error.messageData, 'LsUserBundle') }}</div>
            {% endif %}

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans({}, 'LsUserBundle') }}</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>


            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans({}, 'LsUserBundle') }}</label>

                <input type="password" class="form-control" id="password" name="_password" required="required" />
            </div>

            <div class="form-buttons">
                <input type="hidden" id="remember_me" name="_remember_me" value="off" />
                <input type="submit" id="submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'LsUserBundle') }}" />
            </div>
        </form>
    </div>
</div>
</body>
</html>
