@import "scss/variables";
@import "scss/mixins";

[data-src] {
    visibility: hidden;
}

body {
    font-weight: $regular;
    color: $textColor;
    font-size: 14px;
    background-color: $backgroundColor;
    position: relative;
    font-style: normal;
    font-stretch: normal;
    line-height: 25px;
    letter-spacing: normal;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    
    &.overflow {
        overflow: hidden;
    }
    
    .editor {
        p {
            color: $textColor;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: block;
    position: relative;
    width: 1300px;
    margin: 0 auto;
    @include clearfix();

    @include breakpoint(laptop) {
        width: 1026px;
    }

    @include breakpoint(tablet) {
        width: 752px;
    }

    @include breakpoint(mobile) {
        width: calc(100% - 50px);
        margin: 0 25px;
    }
}

#content-wrapper {
    float: left;
    width: 100%;
    position: relative;
    overflow: auto;
    @include clearfix();
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-content-wrapper {
    float: left;
    width: 100%;
    position: relative;
    display: block;
    @include clearfix();
    height: 100%;
    flex: 1;
    overflow: hidden;
}

#header {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
    @include clearfix();
    flex: 0 0 auto;
    
    @include breakpoint(mobile) {
        height: 422px;
    }
    
    .header-bg {
        float: left;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        
        @include breakpoint(laptop) {
            height: 277px;
        }
        
        @include breakpoint(tablet) {
            height: 266px;
        }
        
        @include breakpoint(mobile) {
            height: 422px;
            width: 153%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    
    .container {
        z-index: 1;
    }
    
    .logo {
        float: left;
        margin-top: 36px;
        margin-left: -37px;
        
        @include breakpoint(laptop) {
            margin-top: 9px;
            margin-left: 42px;
        }
        
        @include breakpoint(tablet) {
            margin-top: 20px;
            margin-left: -25px;
            width: 244px;
        }
        
        @include breakpoint(mobile) {
            width: 177px;
            margin: 0;
            margin-left: -19px;
            margin-top: 10px;
        }
        
        img {
            float: left;
            max-width: 100%;
        }
    }
    
    .content-wrapper {
        float: left;
        width: 400px;
        margin-left: 34px;
        margin-top: 75px;
        
        @include breakpoint(laptop) {
            width: 275px;
            margin-left: 16px;
            margin-top: 63px;
        }
        
        @include breakpoint(tablet) {
            width: 275px;
            margin-left: 0px;
            margin-top: 63px;
        }
        
        @include breakpoint(mobile) {
            width: 100%;
            margin: 0;
        }
        
        .title {
            float: left;
            width: 100%;
            font-family: 'Braah One', sans-serif;
            font-size: 55px;
            color: white;
            line-height: 60px;
            font-weight: 400;
            
            @include breakpoint(laptop, tablet) {
                font-size: 40px;
                line-height: 40px;
            }
            
            @include breakpoint(mobile) {
                font-size: 28px;
                line-height: 30px;
                width: 175px;
                position: absolute;
                top: 61px;
                right: -5px;
            }
        }
        
        .socials {
            float: left;
            width: 100%;
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            
            @include breakpoint(laptop) {
                margin-top: 23px;
            }
            
            @include breakpoint(tablet) {
                margin-top: 23px;
            }
            
            @include breakpoint(mobile) {
                margin: 0;
                justify-content: center;
                position: absolute;
                top: 353px;
                left: 0;
            }
            
            .item {
                float: left;
                margin-right: 10px;
                border-radius: 8px;
                border: 1px solid rgba(255, 255, 255, 0.30);
                padding: 8px 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                flex-wrap: wrap;
                text-decoration: none;
                
                @include breakpoint(laptop, tablet) {
                    margin-right: 5px;
                }
                
                @include breakpoint(mobile) {
                    margin: 0 4px;
                }
                
                span {
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-left: 6px;
                    color: white;
                    text-decoration: none;
                    
                    @include breakpoint(laptop, tablet, mobile) {
                        display: none;
                    }
                }
                
                &:hover {
                    border-color: white;
                }
            }
        }
    }
    
    .image {
        float: right;
        margin-right: 66px;
        
        @include breakpoint(laptop) {
            margin-right: 65px;
            margin-left: -60px;
            width: 406px;
            margin-top: -16px;
        }
        
        @include breakpoint(tablet) {
            margin-right: -40px;
            margin-left: -100px;
            margin-top: 18px;
            width: 370px;
        }
        
        @include breakpoint(mobile) {
            position: absolute;
            width: 291px;
            top: 130px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.main-section {
    float: left;
    width: 100%;
    margin-top: 17px;
    
    @include breakpoint(laptop) {
        margin-top: 24px;
    }
    
    @include breakpoint(tablet) {
        margin-top: 13px;
    }
    
    @include breakpoint(mobile) {
        margin-top: 27px;
    }
    
    .title {
        float: left;
        width: 100%;
        text-align: center;
        font-family: 'Braah One', sans-serif;
        font-size: 25px;
        line-height: 30px;
        font-weight: 400;
        
        @include breakpoint(laptop, tablet, mobile) {
            font-size: 23px;
        }
        
        b {
            font-size: 25px;
            line-height: 30px;
            font-weight: 400;
            font-family: 'Braah One', sans-serif;
            color: $purple;
            
            @include breakpoint(laptop, tablet, mobile) {
                font-size: 23px;
            }
        }
    }
    
    .description {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 14px;
    }
}

.list-section {
    float: left;
    width: 100%;
    margin-top: 16px;
    
    @include breakpoint(laptop) {
        margin-top: 20px;
    }
    
    @include breakpoint(tablet) {
        margin-top: 23px;
    }
    
    @include breakpoint(mobile) {
        margin-top: 47px;
    }
    
    &.home {
        margin-top: 50px;
        
        @include breakpoint(laptop) {
            margin-top: 44px;
        }
        
        @include breakpoint(tablet) {
            margin-top: 33px;
        }
        
        @include breakpoint(mobile) {
            margin-top: 21px;
        }
        
        .categories-left-list {
            @include breakpoint(mobile) {
                border-color: $purple;
            
                .list-title {
                    text-align: center;
                    background-position-x: calc(50% - 78px);
                }
                
                &.open {
                    .list-title {
                        background-position-x: calc(50% - 78px);
                    }
                }
            }
        }
    }
    
    .categories-left-list {
        float: left;
        width: 221px;
        position: relative;
        
        @include breakpoint(tablet, mobile) {
            border-radius: 8px;
            border: 1px solid #BBB;
            width: calc(100% - 2px);
            
            &.open {
                border-color: $purple;
                border-bottom: 1px solid transparent;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                
                .list-title {
                    background: url('../../images/bambini/icon-close.svg') calc(100% - 22px) center no-repeat;
                }
                
                .items-wrapper {
                    border-color: $purple;
                }
            }
        }
        
        .list-title {
            float: left;
            width: 100%;
            font-size: 20px;
            font-weight: 400;
            font-family: 'Braah One', sans-serif;
            
            @include breakpoint(tablet, mobile) {
                line-height: 26px;
                font-size: 12px;
                font-weight: 700;
                font-family: 'Open Sans', sans-serif;
                width: calc(100% - 50px);
                padding: 11px 24px;
                cursor: pointer;
                background: url('../../images/bambini/icon-menu.svg') calc(100% - 22px) center no-repeat;
            }
        }
        
        .items-wrapper {
            float: left;
            width: 100%;
            margin-top: 22px;
            
            @include breakpoint(desktop, laptop) {
                display: block !important;
            }
            
            @include breakpoint(tablet, mobile) {
                width: calc(100% - 48px);
                padding: 0px 24px;
                padding-bottom: 17px;
                display: none;
                position: absolute;
                top: 100%;
                left: -1px;
                border: 1px solid #BBB;
                border-top: none;
                z-index: 11;
                background: white;
                margin: 0;
                padding-top: 10px;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
            
            .item {
                float: left;
                width: 100%;
                text-decoration: none;
                color: $textColor;
                border-bottom: 1px solid #E1E1E1;
                font-size: 14px;
                line-height: 40px;
                margin-bottom: 4px;
                font-weight: 600;
                
                @include breakpoint(laptop) {
                    font-size: 12px;
                    line-height: 42px;
                }
                
                @include breakpoint(tablet, mobile) {
                    font-size: 12px;
                    line-height: 40px;
                    border-bottom: 1px solid #BBB;
                }
                
                &:hover,
                &.active {
                    color: $purple;
                }
            }
        }
    }
    
    .items-list {
        float: right;
        width: calc(100% - 278px);
        
        @include breakpoint(laptop) {
            width: calc(100% - 258px);
        }
        
        @include breakpoint(tablet) {
            width: 100%;
            margin-top: 27px;
        }
        
        @include breakpoint(mobile) {
            width: 100%;
            margin-top: 27px;
        }
        
        .title {
            float: left;
            width: 100%;
            font-size: 25px;
            font-weight: 400;
            font-family: 'Braah One', sans-serif;
            color: $textColor;
            margin-bottom: 18px;
            
            @include breakpoint(laptop) {
                font-size: 23px;
                margin-bottom: 16px;
            }
            
            @include breakpoint(tablet) {
                font-size: 23px;
                margin-bottom: 16px;
            }
            
            @include breakpoint(mobile) {
                font-size: 23px;
                margin-bottom: 16px;
                text-align: center;
            }
            
            span {
                font-size: 25px;
                font-weight: 400;
                font-family: 'Braah One', sans-serif;
                color: $purple;
                
                @include breakpoint(laptop, tablet, mobile) {
                    font-size: 23px;
                }
            }
        }
        
        .description {
            float: left;
            width: calc(100% - 37px);
            
            @include breakpoint(tablet) {
                width: 100%;
            }
            
            @include breakpoint(mobile) {
                width: 100%;
                text-align: center;
            }
        }
        
        .items-wrapper {
            float: left;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            margin-top: 30px;
            
            @include breakpoint(laptop) {
                margin-top: 32px;
                width: calc(100% + 30px);
            }
            
            @include breakpoint(tablet) {
                margin-top: 34px;
                width: calc(100% + 28px);
            }
            
            @include breakpoint(mobile) {
                margin-top: 34px;
                width: 100%;
                display: flex;
                justify-content: center;
            }
            
            .item {
                float: left;
                margin-right: 37px;
                margin-bottom: 37px;
                padding: 24px 58px;
                border-radius: 10px;
                border: 1px solid #BBB;
                
                @include breakpoint(laptop) {
                    margin-right: 28px;
                    margin-bottom: 28px;
                    padding: 13px 43px;
                }
                
                @include breakpoint(tablet) {
                    margin-right: 30px;
                    margin-bottom: 30px;
                    padding: 13px 39px;
                }
                
                @include breakpoint(mobile) {
                    margin-right: 0px;
                    margin-bottom: 16px;
                    padding: 13px 39px;
                }
                
                &:hover {
                    border-color: $purple;
                }
                
                .image-wrapper {
                    width: 185px;
                    height: 185px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    
                    @include breakpoint(laptop) {
                        width: 150px;
                        height: 150px;
                    }
                    
                    @include breakpoint(tablet) {
                        width: 150px;
                        height: 150px;
                    }
                    
                    @include breakpoint(mobile) {
                        width: 150px;
                        height: 150px;
                    }
                    
                    img {
                        max-width: 185px;
                        max-height: 185px;
                        
                        @include breakpoint(laptop) {
                            max-width: 150px;
                            max-height: 150px;
                        }
                        
                        @include breakpoint(tablet) {
                            max-width: 150px;
                            max-height: 150px;
                        }
                        
                        @include breakpoint(mobile) {
                            max-width: 150px;
                            max-height: 150px;
                        }
                    }
                }
            }
        }
    }
    
    .categories-list {
        float: right;
        width: calc(100% - 278px);
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        
        @include breakpoint(laptop) {
            width: calc(100% - 258px);
            margin-top: 12px;
        }
        
        @include breakpoint(tablet) {
            width: calc(100% + 32px);
            float: left;
            margin-top: 36px;
        }
        
        @include breakpoint(mobile) {
            width: 100%;
            float: left;
            margin-top: 36px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .item {
            position: relative;
            float: left;
            margin-right: 36px;
            margin-bottom: 36px;
            text-decoration: none;
            
            @include breakpoint(laptop) {
                margin-right: 27px;
                margin-bottom: 27px;
            }
            
            @include breakpoint(tablet) {
                margin-right: 32px;
                margin-bottom: 32px;
            }
            
            @include breakpoint(mobile) {
                margin-right: 0px;
                margin-bottom: 32px;
            }
            
            &:before {
                content: "";
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid #BBB;
                border-radius: 10px;
                transform: rotate(4.921deg);
            }
            
            &:hover {
                .item-wrapper {
                    color: $purple;
                    border-color: $purple;
                }
            }
            
            .item-wrapper {
                background: white;
                width: 222px;
                padding: 13px 40px;
                border: 1px solid #BBB;
                border-radius: 10px;
                z-index: 1;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                font-weight: 400;
                font-family: 'Braah One', sans-serif;
                text-decoration: none;
                color: $textColor;
                
                @include breakpoint(laptop) {
                    width: 187px;
                    padding: 6px 20px;
                    font-size: 16px;
                }
                
                @include breakpoint(tablet, mobile) {
                    width: 187px;
                    padding: 9px 20px;
                    font-size: 16px;
                }
            }
            
            .image-wrapper {
                float: left;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin-top: 13px;
                margin-bottom: 13px;
                
                @include breakpoint(tablet, mobile) {
                    margin-top: 0px;
                    margin-bottom: 10px;
                }
                
                img {
                    max-width: 150px;
                    max-height: 150px;
                    
                    @include breakpoint(laptop) {
                        max-width: 115px;
                        max-height: 115px;
                    }
                    
                    @include breakpoint(tablet, mobile) {
                        max-width: 125px;
                        max-height: 125px;
                    }
                }
            }
        }
    }
    
    .photo-wrapper {
        float: left;
        width: 100%;
        position: relative;
        margin-top: 24px;
        
        @include breakpoint(laptop) {
            margin-top: 33px;
        }
        
        @include breakpoint(tablet) {
            margin-top: 33px;
        }
        
        @include breakpoint(mobile) {
            margin-top: 33px;
            display: flex;
            flex-wrap: wrap-reverse;
        }
        
        .photo-item {
            float: left;
            width: 100%;
            height: 730px;
            border-radius: 10px;
            border: 1px solid #BBB;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            
            @include breakpoint(laptop) {
                height: 557px;
            }
            
            @include breakpoint(tablet) {
                height: 548px;
            }
            
            @include breakpoint(mobile) {
                height: 250px;
                margin-bottom: 8px;
            }
            
            img {
                max-width: calc(100% - 280px);
                max-height: calc(100% - 280px);
                
                @include breakpoint(laptop) {
                    max-width: calc(100% - 200px);
                    max-height: calc(100% - 200px);
                }
                
                @include breakpoint(tablet) {
                    max-width: calc(100% - 200px);
                    max-height: calc(100% - 200px);
                }
                
                @include breakpoint(mobile) {
                    max-width: calc(100% - 70px);
                    max-height: calc(100% - 70px);
                }
            }
        }
    }
    
    .other-wrapper {
        float: left;
        width: 100%;
        margin-top: 70px;
        
        @include breakpoint(laptop) {
            margin-top: 36px;
        }
        
        @include breakpoint(tablet) {
            margin-top: 36px;
        }
        
        @include breakpoint(mobile) {
            margin-top: 36px;
        }
        
        .other-title {
            float: left;
            width: 100%;
            font-size: 20px;
            font-weight: 400;
            font-family: 'Braah One', sans-serif;
            
            @include breakpoint(laptop) {
                font-size: 18px;
            }
            
            @include breakpoint(tablet) {
                font-size: 18px;
            }
            
            @include breakpoint(mobile) {
                font-size: 18px;
                text-align: center;
            }
        }
        
        .items-wrapper {
            @include breakpoint(laptop) {
                margin-top: 22px;
            }
            
            @include breakpoint(tablet) {
                margin-top: 22px;
            }
            
            @include breakpoint(mobile) {
                margin-top: 22px;
            }
        }
    }
    
    .print-btn {
        position: absolute;
        z-index: 1;
        top: 20px;
        right: 20px;
        background: white;
        border-radius: 8px;
        border: 1px solid #F329F4;
        outline: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 10px 43px;
        
        @include breakpoint(laptop) {
            top: 12px;
            right: 10px;
            font-size: 12px;
            padding: 8px 20px;
        }
        
        @include breakpoint(tablet) {
            top: 10px;
            right: 8px;
            font-size: 12px;
            padding: 8px 20px;
        }
        
        @include breakpoint(mobile) {
            position: unset;
            top: unset;
            left: unset;
            width: 100%;
        }
        
        svg {
            margin-right: 14px;
            
            @include breakpoint(laptop) {
                margin-right: 8px;
            }
            
            @include breakpoint(tablet) {
                margin-right: 8px;
            }
        }
        
        &:hover {
            background: $purple;
            color: white;
            
            svg, path {
                fill: white !important;
            }
        }
    }
}

#footer {
    float: left;
    width: 100%;
    padding: 35px 0;
    background: #F4F4F4;
    line-height: 30px;
    margin-top: 90px;
    flex: 0 0 auto;
    
    @include breakpoint(laptop) {
        padding: 15px 0;
        margin-top: 60px;
    }
    
    @include breakpoint(tablet) {
        padding: 23px 0;
        margin-top: 60px;
    }
    
    @include breakpoint(mobile) {
        padding: 20px 0;
        margin-top: 50px;
    }

    .container {
        @include breakpoint(tablet, mobile) {
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
    }
    
    .copyrights {
        float: left;
        color: #636363;
        font-size: 12px;
        
        @include breakpoint(laptop, tablet, mobile) {
            font-size: 10px;
        }
        
        @include breakpoint(mobile) {
            line-height: 170%;
            width: 260px;
            text-align: center;
        }
        
        a {
            color: #636363;
            text-decoration: none;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    .links {
        float: right;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        
        @include breakpoint(tablet, mobile) {
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: center;
            align-content: center;
            align-items: center;
            width: 100%;
        }
        
        a {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            text-decoration: none;
            font-size: 12px;
            color: $textColor;
            margin-left: 26px;
            
            @include breakpoint(laptop) {
                font-size: 10px;
            }
            
            @include breakpoint(tablet, mobile) {
                font-size: 10px;
                margin: 0 12px;
            }
            
            &.privacy {
                margin-right: 12px;
                
                @include breakpoint(tablet, mobile) {
                    margin: 0;
                    margin-top: 10px;
                    width: 100%;
                    text-align: center;
                }
            }
            
            &:hover {
                color: $purple;
            }
        }
    }
}

.print-image {
    display: none;
}

@media print {
    .print-mode {
        display: none !important;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    
    .print-image {
        display: block !important;
        width: 100%;
        margin: auto;
    }
}

.cookies-info {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    padding-top: 13px;
    padding-bottom: 18px;
    z-index: 1111;
    display: none;
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        
        @include breakpoint(mobile) {
            flex-direction: column;
        }
    }
    
    .text {
        margin-right: 30px;
        font-size: 12px;
        line-height: 170%;
        
        @include breakpoint(mobile) {
            width: 100%;
            margin-bottom: 10px;
            margin-right: 0px;
        }
        
        a {
            color: $textColor;
            font-weight: 700;
            text-decoration: underline;
            
            &:hover {
                color: $purple;
            }
        }
    }
    
    .btn {
        padding: 11px 45px;
        color: #000;
        text-decoration: none;
        border-radius: 8px;
        border: 1px solid $purple;
        text-decoration: none;
        font-weight: 700;
        
        &:hover {
            background: $purple;
            color: white;
        }
    }
}