<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
{% block body %}
    {{ content|replace({'%link%': subscriptionDeactivationUrl})|raw }}
{% endblock %}
</body>
</html>
