{% form_theme form with 'LsCoreBundle:Frontend:fields.html.twig' %}

<div class="newsletter-section">
    <div class="title">Newsletter</div>
    <div class="description">
        {{ cms_text.get('label_newsletter_text_1') }}
        <strong>{{ cms_text.get('label_newsletter_text_2') }}</strong>
    </div>
    {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'subscribe-form', 'novalidate': 'novalidate' }}) }}
        {{ form_widget(form.email, {'attr': {'class': 'input', 'placeholder': cms_text.get('label_enter_your_email', '')}}) }}
        {{ form_widget(form.submit, {'label': cms_text.get('label_send', '') ,'attr': {'class': 'btn btn-send' }}) }}
        <div class="response"></div>
        {{ form_widget(form.accept, {'label': cms_text.get('newsletter_rodo', '')}) }}
    {{ form_end(form) }}
</div>