{% extends '::index.html.twig' %}

{% block stylesheets %}
    <style>
        .btn-submit {
            cursor: pointer;
            width: 165px;
            height: 50px;
            line-height: 50px;
            color: white;
            bottom: 40px;
            margin: 0 auto;
            font-weight: 700;
            text-align: center;
            border-radius: 30px;
            transition: all 0.3s;
            outline: none;
            border: none;
            background: #be4c54;
            -webkit-box-shadow: 0px 4px 20px 0px rgb(190 76 84 / 80%);
            -moz-box-shadow: 0px 4px 20px 0px rgba(190,76,84,0.8);
            box-shadow: 0px 4px 20px 0px rgb(190 76 84 / 80%);
        }

        .btn-submit:hover {
            transform: scale(0.95);
        }

        .unsubscribe-form {
            float; left;
            width: 100%;
            text-align: center;
            padding: 100px 0;
        }

        h1 {
            float; left;
            width: 100%;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'unsubscribe-form', 'novalidate': 'novalidate' }}) }}
        <h1>Rezygnacji z subskrypcji</h1>
        {{ form_widget(form.submit, {'attr': {'class': 'btn-submit' }}) }}
    {{ form_end(form) }}
{% endblock %}