{{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
<ul class="nav nav-tabs pills">
    <li class="active">
        <a data-toggle="tab" href="#tab-general">Galeria</a>
    </li>
</ul>

<div class="tab-content" style="margin-top: 15px;">
    <div id="tab-general" class="tab-pane active">
        <div class="form-group{% if form.movie_id.vars.errors|length %} has-error has-feedback{% endif %}">
            {{ form_label(form.movie_id, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                {{ form_widget(form.movie_id, {'attr': {'class': 'form-control' }}) }}
                {% if form.movie_id.vars.errors|length %}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <div class="error-tooltip">
                        <div class="text">
                            <ul>
                                {% for error in form.movie_id.vars.errors %}
                                    <li>{{ error.message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="arrow">
                            <div class="inner"></div>
                        </div>
                    </div>
                {% endif %}
                <p class="help-block">Pogrubiona część linku do filmu np. https://www.youtube.com/watch?v=<b>5c8geMaTbkQ</b></p>
            </div>
        </div>
    </div>
</div>
<div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
        {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}
        {% if not form_edit %}
            {{ form_widget(form.submit_and_new, {'attr': {'class': 'btn btn-default' }}) }}
        {% endif %}
    </div>
</div>
{{ form_end(form) }}
