{% extends '::backend.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".gallery-list").sortable({
                tolerance: 'pointer',
                revert: 'invalid',
                helper: 'clone',
                forceHelperSize: true,
                placeholder: 'placeholder pull-left',
                start: function (e, ui) {
                    var width = ui.helper.outerWidth() - 33;
                    var height = ui.helper.outerHeight() - 2;
                    ui.placeholder.width(width);
                    ui.placeholder.height(height);
                },
                stop: function (e, ui) {
                    var items = JSON.stringify($(".gallery-list").sortable("toArray"));
                    $.ajax({
                        type: 'post',
                        url: '{{ path('ls_admin_gallery_movie_update_arrangement', {'galleryId': gallery.id}) }}',
                        data: {
                            'items': items
                        }
                    });
                }
            })
        });
    </script>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <div class="btn-group" role="group" aria-label="...">
                <a href="{{ path('ls_admin_gallery_movie_new', {'galleryId': gallery.id}) }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Dodaj</span>
                </a>
                <a href="{{ path('ls_admin_gallery') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-list"></i>
                    <span>Lista galerii</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p class="text-success text-center">Aby zmienić kolejność filmów przeciągnij i upuść.</p>
            {% if gallery.movies|length > 0 %}
                <form action="{{ path('ls_admin_gallery_movie_batch', {'galleryId': gallery.id}) }}" method="post">
                    <div class="panel panel-default">
                        <div class="panel-body gallery-list">
                            {% for entity in gallery.movies %}
                                <div id="item-{{ entity.id }}" class="item col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                    <div class="thumbnail">
                                        <img src="http://i1.ytimg.com/vi/{{ entity.movieid }}/hqdefault.jpg?{{ random(10000) }}" alt="...">

                                        <div class="caption">
                                            <p class="text-center">
                                                <input type="checkbox" class="ids" name="ids[]" value="{{ entity.id }}">
                                            </p>

                                            <p class="text-center">
                                                <a href="{{ path('ls_admin_gallery_movie_edit', {'galleryId': gallery.id, 'id': entity.id}) }}" class="btn btn-default" role="button">Edytuj</a>
                                                <a href="#" data-href="{{ path('ls_admin_gallery_movie_delete', {'galleryId': gallery.id, 'id': entity.id}) }}" class="btn btn-danger btn-delete" role="button" data-toggle="modal" data-target="#confirm-delete">Usuń</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="panel-footer">
                            <div class="form-inline">
                                <span>Zaznaczone</span>
                                <select class="form-control" name="action">
                                    <option value="delete">Usuń</option>
                                </select>
                                <button type="submit" class="btn btn-primary">Ok</button>
                            </div>
                        </div>
                    </div>
                </form>
            {% else %}
                <h4 class="text-center">Brak elementów w bazie</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h4>Usuwanie ustawienia</h4></div>
                <div class="modal-body">Czy napewno chcesz usunąć to zdjęcie?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    <a href="#" class="btn btn-danger btn-ok-delete">Usuń</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
