{% spaceless %}
<!DOCTYPE html>
<html lang="pl">
<head>
    {% block meta %}
        <title>{% block title %}{{ bambini_cms_config.get('bambini_seo_title', '') }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Description" content="{% block description %}{{ bambini_cms_config.get('bambini_seo_description', '') }}{% endblock %}" />
        <meta name="Keywords" content="{% block keywords %}{{ bambini_cms_config.get('bambini_seo_keywords', '') }}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="canonical" href="{{ app.request.uri }}" />
    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('bundles/lscore/css/bambini/style.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Braah+One&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lscore/images/bambini/favicon.png') }}" />
</head>
<body>
    <div id="content-wrapper" {% block wrapper_attr %}{% endblock %}>
        <div id="header">
            <svg preserveAspectRatio="none" class="header-bg" xmlns="http://www.w3.org/2000/svg" width="1920" height="331" viewBox="0 0 1920 331" fill="none">
                <path d="M0 -323H1920V268C1920 268 1370.5 330.5 959.5 330.5C548.5 330.5 0 268 0 268V-323Z" fill="url(#paint0_linear_1_5)"/>
                <defs>
                    <linearGradient id="paint0_linear_1_5" x1="0" y1="-59.7476" x2="1920" y2="-59.7476" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF7ED8"/>
                        <stop offset="1" stop-color="#1179FF"/>
                    </linearGradient>
                </defs>
            </svg>
            
            <div class="container">
                <a href="{{ path('ls_core_bambini') }}" class="logo">
                    <img src="{{ asset('bundles/lscore/images/bambini/logo.svg') }}" alt="{{ bambini_cms_config.get('bambini_seo_title', '') }}"/>
                </a>
                
                <div class="content-wrapper">
                    <h2 class="title">{{ bambini_cms_config.get('label_title', '') }}</h2>
                    
                    <div class="socials">
                        {% if bambini_cms_config.get('youtube_url', '') is not empty %}
                            <a href="{{ bambini_cms_config.get('youtube_url', '') }}" class="item" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                                    <path d="M24.271 7.60418C24.271 7.39584 23.9585 5.72918 23.2293 5.00001C22.2918 3.95834 21.2502 3.85418 20.7293 3.85418H20.6252C17.396 3.64584 12.6043 3.64584 12.5002 3.64584C12.5002 3.64584 7.60433 3.64584 4.37516 3.85418H4.271C3.75016 3.85418 2.7085 3.95834 1.771 5.00001C1.04183 5.83334 0.729329 7.50001 0.729329 7.70834C0.729329 7.81251 0.520996 9.68751 0.520996 11.6667V13.4375C0.520996 15.4167 0.729329 17.2917 0.729329 17.3958C0.729329 17.6042 1.04183 19.2708 1.771 20C2.60433 20.9375 3.646 21.0417 4.271 21.1458C4.37516 21.1458 4.47933 21.1458 4.5835 21.1458C6.4585 21.3542 12.1877 21.3542 12.396 21.3542C12.396 21.3542 17.2918 21.3542 20.521 21.1458H20.6252C21.146 21.0417 22.1877 20.9375 23.1252 20C23.8543 19.1667 24.1668 17.5 24.1668 17.2917C24.1668 17.1875 24.3752 15.3125 24.3752 13.3333V11.5625C24.4793 9.68751 24.271 7.70834 24.271 7.60418ZM16.5627 12.7083L10.3127 16.0417C10.2085 16.0417 10.2085 16.1458 10.1043 16.1458C10.0002 16.1458 9.896 16.1458 9.896 16.0417C9.79183 15.9375 9.68766 15.8333 9.68766 15.625V8.85418C9.68766 8.64584 9.79183 8.54168 9.896 8.43751C10.0002 8.33334 10.2085 8.33334 10.4168 8.43751L16.6668 11.7708C16.8752 11.875 16.9793 11.9792 16.9793 12.1875C16.9793 12.3958 16.771 12.6042 16.5627 12.7083Z" fill="white"/>
                                </svg>
                                <span>YouTube</span>
                            </a>
                        {% endif %}
                        
                        {% if bambini_cms_config.get('facebook_url', '') is not empty %}
                            <a href="{{ bambini_cms_config.get('facebook_url', '') }}" class="item" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                                    <path d="M17.25 14.1833H13.4167C13.1292 14.1833 12.9375 14.375 12.9375 14.6625V22.0417H8.2417V14.6625C8.2417 14.375 8.05003 14.1833 7.76253 14.1833H5.3667V9.48751H7.6667C7.9542 9.48751 8.14587 9.29584 8.14587 9.00834V6.42084C8.14587 5.17501 8.62503 0.958344 13.7042 0.958344H17.6334V4.88751H14.95C14.1834 4.88751 13.225 5.36668 13.225 6.70834V8.52918H11.7875C11.5 8.52918 11.3084 8.72084 11.3084 9.00834C11.3084 9.29584 11.5 9.48751 11.7875 9.48751H13.7042H16.2917H17.6334L17.25 14.1833Z" fill="white"/>
                                </svg>
                                <span>Facebook</span>
                            </a>
                        {% endif %}
                        
                        {% if bambini_cms_config.get('instagram_url', '') is not empty %}
                            <a href="{{ bambini_cms_config.get('instagram_url', '') }}" class="item" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                                    <g clip-path="url(#clip0_8_269)">
                                    <path d="M15.4875 0.4375H5.5125C2.7125 0.4375 0.4375 2.7125 0.4375 5.5125V15.4C0.4375 18.2 2.7125 20.475 5.5125 20.475H15.4C18.2 20.475 20.475 18.2 20.475 15.4V5.5125C20.5625 2.7125 18.2875 0.4375 15.4875 0.4375ZM10.5 16.0125C7.4375 16.0125 4.9875 13.5625 4.9875 10.5C4.9875 7.4375 7.4375 4.9875 10.5 4.9875C13.5625 4.9875 16.0125 7.4375 16.0125 10.5C16.0125 13.5625 13.5625 16.0125 10.5 16.0125ZM16.275 5.5125C15.8375 5.5125 15.4875 5.1625 15.4875 4.725C15.4875 4.2875 15.8375 3.9375 16.275 3.9375C16.7125 3.9375 17.0625 4.2875 17.0625 4.725C17.0625 5.1625 16.7125 5.5125 16.275 5.5125Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_8_269">
                                    <rect width="21" height="21" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                                <span>Instagram</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
                    
                <img class="image" src="{{ asset('bundles/lscore/images/bambini/header-image.png') }}" alt="Zdjęcie"/>
            </div>
        </div>
        
        <div id="main-content-wrapper">
            {% block main_content %}
            {% endblock %}
        </div>
        
        <div id="footer">
            <div class="container">
                <div class="copyrights">
                    © 2023 Mini Bambini TV. Wszystkie prawa zastrzeżone. Projekt i realizacja: <a target="_blank" title="Branding i projektowanie" href="https://www.lemonadestudio.pl/">Lemonade Studio</a>
                </div>
                
                <div class="links">
                    <a href="{{ bambini_cms_config.get('privacy_policy_url', '') }}" target="blank" class="privacy">
                        Polityka prywatności
                    </a>
                        
                    {% if bambini_cms_config.get('youtube_url', '') is not empty %}
                        <a href="{{ bambini_cms_config.get('youtube_url', '') }}" class="item" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13" fill="none">
                                <path d="M16.8229 2.92882C16.8229 2.78125 16.6016 1.60069 16.0851 1.0842C15.421 0.346354 14.6832 0.272569 14.3142 0.272569H14.2405C11.9531 0.125 8.55903 0.125 8.48524 0.125C8.48524 0.125 5.01736 0.125 2.73003 0.272569H2.65625C2.28733 0.272569 1.54948 0.346354 0.885417 1.0842C0.368924 1.67448 0.147569 2.85503 0.147569 3.0026C0.147569 3.07639 0 4.40451 0 5.80642V7.06076C0 8.46267 0.147569 9.7908 0.147569 9.86458C0.147569 10.0122 0.368924 11.1927 0.885417 11.7092C1.47569 12.3733 2.21354 12.447 2.65625 12.5208C2.73003 12.5208 2.80382 12.5208 2.8776 12.5208C4.20573 12.6684 8.26389 12.6684 8.41146 12.6684C8.41146 12.6684 11.8793 12.6684 14.1667 12.5208H14.2405C14.6094 12.447 15.3472 12.3733 16.0113 11.7092C16.5278 11.1189 16.7491 9.93837 16.7491 9.7908C16.7491 9.71701 16.8967 8.38889 16.8967 6.98698V5.73264C16.9705 4.40451 16.8229 3.0026 16.8229 2.92882ZM11.3628 6.54427L6.93576 8.90538C6.86198 8.90538 6.86198 8.97917 6.78819 8.97917C6.71441 8.97917 6.64062 8.97917 6.64062 8.90538C6.56684 8.8316 6.49306 8.75781 6.49306 8.61024V3.81424C6.49306 3.66667 6.56684 3.59288 6.64062 3.5191C6.71441 3.44531 6.86198 3.44531 7.00955 3.5191L11.4366 5.88021C11.5842 5.95399 11.658 6.02778 11.658 6.17535C11.658 6.32292 11.5104 6.47049 11.3628 6.54427Z" fill="#636363"/>
                            </svg>
                        </a>
                    {% endif %}

                    {% if bambini_cms_config.get('facebook_url', '') is not empty %}
                        <a href="{{ bambini_cms_config.get('facebook_url', '') }}" class="item" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                                <path d="M12.75 10.4833H9.91667C9.70417 10.4833 9.56251 10.625 9.56251 10.8375V16.2916H6.09168V10.8375C6.09168 10.625 5.95001 10.4833 5.73751 10.4833H3.96667V7.01248H5.66667C5.87917 7.01248 6.02084 6.87081 6.02084 6.65831V4.74581C6.02084 3.82498 6.37501 0.708313 10.1292 0.708313H13.0333V3.61248H11.05C10.4833 3.61248 9.77501 3.96665 9.77501 4.95831V6.30415H8.71251C8.50001 6.30415 8.35834 6.44581 8.35834 6.65831C8.35834 6.87081 8.50001 7.01248 8.71251 7.01248H10.1292H12.0417H13.0333L12.75 10.4833Z" fill="#636363"/>
                            </svg>
                        </a>
                    {% endif %}

                    {% if bambini_cms_config.get('instagram_url', '') is not empty %}
                        <a href="{{ bambini_cms_config.get('instagram_url', '') }}" class="item" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                                <g clip-path="url(#clip0_8_215)">
                                <path d="M12.5375 0.354187H4.46249C2.19582 0.354187 0.354156 2.19585 0.354156 4.46252V12.4667C0.354156 14.7334 2.19582 16.575 4.46249 16.575H12.4667C14.7333 16.575 16.575 14.7334 16.575 12.4667V4.46252C16.6458 2.19585 14.8042 0.354187 12.5375 0.354187ZM8.49999 12.9625C6.02082 12.9625 4.03749 10.9792 4.03749 8.50002C4.03749 6.02085 6.02082 4.03752 8.49999 4.03752C10.9792 4.03752 12.9625 6.02085 12.9625 8.50002C12.9625 10.9792 10.9792 12.9625 8.49999 12.9625ZM13.175 4.46252C12.8208 4.46252 12.5375 4.17919 12.5375 3.82502C12.5375 3.47085 12.8208 3.18752 13.175 3.18752C13.5292 3.18752 13.8125 3.47085 13.8125 3.82502C13.8125 4.17919 13.5292 4.46252 13.175 4.46252Z" fill="#636363"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_8_215">
                                <rect width="17" height="17" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
                
        <div class="cookies-info">
            <div class="container">
                <p class="text">Strona korzysta z plików cookie w celu realizacji usług zgodnie z <a href="{{ bambini_cms_config.get('privacy_policy_url', '') }}" target="blank" class="privacy">Polityką Prywatności</a>. Możesz określić warunki przechowywania lub dostępu mechanizmu cookie w Twojej przeglądarce.</p>
                <a href="#" class="btn" onclick="acceptCookies(event);">Akceptuję</a>
            </div>
        </div>
    </div>
    
    {% block print_item %}
    {% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/lscore/js/bambini/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ asset('bundles/lscore/js/bambini/main.js') }}"></script>
{% endblock %}
</body>
</html>
{% endspaceless %}