<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <title>{% block title %}{{ cms_config.get('seo_title', '') }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}" />
        <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('bundles/lscore/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/lscore/css/editor.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lscore/images/favicon.png') }}" />
</head>
{% set menuTop = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_top'}) %}
{% set menuBottom = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_bottom'}) %}
{% set currentRoute = app.request.attributes.get('_route') %}
<body{% if currentRoute == 'ls_page_show' %} class="subpage"{% endif %}{% if currentRoute == 'ls_core_contact_pl' or currentRoute == 'ls_core_contact_en' %} class="contact"{% endif %}>
<div id="content-wrapper">
    <div id="menu-mobile">
        <div class="close"></div>
        {{ knp_menu_render(menuTop) }}
        <div class="other">
            <div class="separator-top">-</div>
            <div class="facebook"><a href="{{ cms_config.get('url_facebook', '#') }}" target="_blank">Facebook</a></div>
            <div class="youtube"><a href="{{ cms_config.get('url_youtube', '#') }}" target="_blank">Youtube</a></div>
            <div class="separator-bottom">-</div>
        </div>
        <div id="languages-mobile">{{ locale_switcher() }}</div>
    </div>
    <div id="content">
        <div id="menu-container">
            {{ knp_menu_render(menuTop) }}
            <div class="other">
                <div class="separator-top">-</div>
                <div class="facebook"><a href="{{ cms_config.get('url_facebook', '#') }}" target="_blank">Facebook</a></div>
                <div class="youtube"><a href="{{ cms_config.get('url_youtube', '#') }}" target="_blank">Youtube</a></div>
                <div class="separator-bottom">-</div>
            </div>
            <div id="languages">{{ locale_switcher() }}</div>
        </div>
        <div id="menu-mobile-show"></div>
        {% block content %}{% endblock %}
        <div class="footer">
            <p>-</p>
            <p>{{ 'copyright'|trans }}</p>
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('bundles/lscore/js/jquery-1.11.3.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/js/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/js/jquery.ui.touch-punch.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/js/scripts.js') }}" type="text/javascript"></script>
{% endblock %}
{% if app.request.schemeAndHttpHost == 'http://www.kmevents.pl' or app.request.schemeAndHttpHost == 'https://www.kmevents.pl' %}
    <!-- Global site tag (gtag.js ) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31095387-20"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-31095387-20');
    </script>
	
    <script src="{{ asset('bundles/lscore/js/popup.js') }}" type="text/javascript"></script>
    {{ render(controller('LsPopupBundle:Front:index')) }}
{% else %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31095387-21"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-31095387-21');
    </script>
{% endif %}
</body>
</html>
