<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <title>{% block title %}{{ cms_config.get('seo_title', '') }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}" />
        <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('bundles/lscore/css/style.css') }}?v=8" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/lscore/css/editor.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lscore/images/favicon.png') }}" />
</head>
{% set menuEvents = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_events'}) %}
<body class="index">
{% block content %}
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="{{ asset('bundles/lscore/js/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/lscore/js/jquery.ui.touch-punch.min.js') }}"></script>
{% endblock %}
	
	{% if app.request.schemeAndHttpHost == 'http://www.kmevents.pl' or app.request.schemeAndHttpHost == 'https://www.kmevents.pl' %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-31095387-20"></script>
		<script>
		 window.dataLayer = window.dataLayer || [];
		 function gtag(){dataLayer.push(arguments);}
		 gtag('js', new Date());

		 gtag('config', 'UA-31095387-20');
		</script>
	<script src="{{ asset('bundles/lscore/js/popup.js') }}" type="text/javascript"></script>
	{{ render(controller('LsPopupBundle:Front:index')) }}
	{% else %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-31095387-21"></script>
		<script>
		 window.dataLayer = window.dataLayer || [];
		 function gtag(){dataLayer.push(arguments);}
		 gtag('js', new Date());

		 gtag('config', 'UA-31095387-21');
		</script>
	{% endif %}
</body>
</html>
