<div class="youtube-content">
    {% for entity in movies %}
        <div class="youtube-item">
            <iframe id="player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/{{ entity.movieid }}?enablejsapi=1&origin={{ app.request.getSchemeAndHttpHost() }}" frameborder="0"></iframe>
        </div>
    {% endfor %}
</div>