{{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
<ul class="nav nav-tabs pills">
    <li class="active">
        <a data-toggle="tab" href="#tab-general">Kategoria</a>
    </li>
</ul>

<div class="tab-content" style="margin-top: 15px;">
    <div id="tab-general" class="tab-pane active">
        <div class="form-group{% if form.title.vars.errors|length %} has-error has-feedback{% endif %}">
            {{ form_label(form.title, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                <div class="form-field">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control' }}) }}
                    {% if form.title.vars.errors|length %}
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <div class="error-tooltip">
                            <div class="text">
                                <ul>
                                    {% for error in form.title.vars.errors %}
                                        <li>{{ error.message }}</li>
                                        {% endfor %}
                                </ul>
                            </div>
                            <div class="arrow">
                                <div class="inner"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.users, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                <div class="form-field">
                    {{ form_widget(form.users, {'attr': {'class': 'form-control chosen-select' }}) }}
                </div>
            </div>
        </div>

        {% if form.vars.value.id %}
        <div class="form-group">
            <label class="col-sm-3 control-label">Adres URL playera</label>
            <div class="col-sm-9">
                <div class="form-field">
                    <div type="text" class="form-control" disabled style="cursor: text;">
                        <a href="{{ path('ls_section_kmpublishing_player_by_url', {'publicId': form.vars.value.publicId}) }}" target="_blank">
                            {{ url('ls_section_kmpublishing_player_by_url', {'publicId': form.vars.value.publicId}) }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
        {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}
        {% if not form_edit %}
            {{ form_widget(form.submit_and_new, {'attr': {'class': 'btn btn-default' }}) }}
        {% endif %}
    </div>
</div>
{{ form_end(form) }}
