{% extends '::backend.html.twig' %}
{% form_theme form with 'LsCoreBundle:Backend:fields.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function chosenSelect() {
            var config = {
                '.chosen-select': {},
            };

            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }
        }

        chosenSelect();
    </script>
{% endblock %}

{% block body %}
    {% include 'LsCoreBundle:Backend:_errors.html.twig' %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_audio_player_category') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% include 'LsAudioPlayerBundle:AdminCategory:_form.html.twig' with { 'form': form, 'form_edit': true } %}
        </div>
    </div>
{% endblock %}