{{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
<ul class="nav nav-tabs pills">
    <li class="active">
        <a data-toggle="tab" href="#tab-general">Plik audio</a>
    </li>
</ul>

<div class="tab-content" style="margin-top: 15px;">
    <div id="tab-general" class="tab-pane active">
        <div class="form-group{% if form.title.vars.errors|length %} has-error has-feedback{% endif %}">
            {{ form_label(form.title, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                <div class="form-field">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control' }}) }}
                    {% if form.title.vars.errors|length %}
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <div class="error-tooltip">
                            <div class="text">
                                <ul>
                                    {% for error in form.title.vars.errors %}
                                        <li>{{ error.message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="arrow">
                                <div class="inner"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-group{% if form.file.vars.errors|length %} has-error has-feedback{% endif %}">
            {{ form_label(form.file, null, {'label_attr': {'class': 'control-label col-sm-3' }}) }}
            <div class="col-sm-9">
                <div class="form-field">
                    {{ form_widget(form.file) }}
                    <div class="input-group">
                        <input id="filename" class="form-control" type="text" readonly="readonly" autocomplete="off" />
                        <span class="input-group-btn">
                            <span class="btn{% if form.file.vars.errors|length %} btn-danger{% else %} btn-default{% endif %} fileinput-button">
                                <span>Dodaj...</span>
                                <!-- The file input field used as target for the file upload widget -->
                                <input id="fileupload" type="file" name="files[]" data-url="{{ asset('bundles/lscore/js/fileupload/server/php/index.php') }}">
                            </span>
                        </span>
                    </div>
                    <div class="progress-container">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;">0%</div>
                        </div>
                    </div>
                    {% if form.file.vars.errors|length %}
                        <div class="error-tooltip">
                            <div class="text">
                                <ul>
                                    {% for error in form.file.vars.errors %}
                                        <li>{{ error.message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="arrow">
                                <div class="inner"></div>
                            </div>
                        </div>
                    {% endif %}
                    {% if entity.getFileAbsolutePath() %}
                        <p class="help-block">Aktualny plik: {{ entity.filename }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
        {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}
        {% if not form_edit %}
            {{ form_widget(form.submit_and_new, {'attr': {'class': 'btn btn-default' }}) }}
        {% endif %}
    </div>
</div>
{{ form_end(form) }}
