@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

$desktop-min: 1401px;
$laptop-max: 1400px;
$laptop-min: 1100px;
$tablet-max: 1099px;
$tablet-min: 768px;
$mobile-max: 767px;

@mixin breakpoint($breakpoints...) {
    @each $breakpoint in $breakpoints {
        @if $breakpoint == mobile {
            @media screen and (max-width: $mobile-max) {
                @content;
            }
        } @else if $breakpoint == tablet {
            @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
                @content;
            }
        } @else if $breakpoint == laptop {
            @media screen and (min-width: $laptop-min) and (max-width: $laptop-max) {
                @content;
            }
        } @else if $breakpoint == desktop {
            @media screen and (min-width: $desktop-min) {
                @content;
            }
        }
    }
}

@mixin print() {
    @media print {
        @content;
    }
}