{% form_theme form with 'LsCoreBundle:Backend:fields.html.twig' %}

<script type="text/javascript">
    var searchServices = JSON.parse('{{ form['searchServices'].vars.value|raw }}');
    var object = '{{ form['object'].vars.value|raw }}';
    var object_url = '{{ path('ls_admin_menu_object') }}';
    var current_route = $('#form_admin_menuitem_route').val();

    function populateObjectSelect() {
        var select_element = $('#form_admin_menuitem_object_choice');

        $.ajax({
            type: 'POST',
            dataType: 'html',
            url: object_url,
            data: {
                route: current_route,
                object: object
            },
            success: function (response) {
                $('#row_object_choice').show();
                select_element.html(response);
            }
        });

    }
    jQuery(function () {
        $('#form_admin_menuitem_type').change(function () {
            // hide all choices
            $('#row_route').hide();
            $('#row_url').hide();
            $('#row_onclick').hide();

            // show only selected
            val = $(this).val();

            switch (val) {
                case 'url':
                    $('#row_url').show();
                    $('#row_object_choice').hide();
                    $('#form_admin_menuitem_object').val('');
                    break;

                case 'route':
                    $('#row_route').show();
                    break;

                case 'button':
                    $('#row_onclick').show();
                    $('#row_object_choice').hide();
                    $('#form_admin_menuitem_object').val('');
                    break;
            }

        }).change();

        $('#form_admin_menuitem_route').change(function () {
            $('#row_object_choice').hide();
            current_route = $(this).val();
            // show routeParameters select if module is searchable
            if ($('#row_route').is(':visible')) {
                if (searchServices[current_route] !== null && current_route.length > 0) {
                    populateObjectSelect();
                }
            } else {
                $('#form_admin_menuitem_object').val('');
            }
        }).change();

        $('#form_admin_menuitem_object_choice').change(function () {
            $('#form_admin_menuitem_object').val($(this).val());
        });

        $('form#form_admin_menuitem').submit(function (event) {
            event.preventDefault();

            var action = $('form#form_admin_menuitem').attr('action');
            var data = $('form#form_admin_menuitem').serialize();

            $.ajax({
                type: 'POST',
                url: action,
                data: data,
                success: function (response) {
                    if (response.result === 'OK') {
                        window.location.reload();
                    } else {
                        $('form#form_admin_menuitem').parent('div').parent('div').parent('div').html(response);
                    }

                }
            });
        });
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </div>
        <span style="line-height: 26px; font-weight: bold; font-size: 16px;">Element menu</span>
    </div>
    <div class="panel-body">
        {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
        {% include 'LsMenuBundle:Admin:_form.html.twig' with { 'form': form, 'form_edit': true } %}
        {{ form_end(form) }}
    </div>
</div>
