<option value="">-- Wybierz --</option>
{% for element in elements %}
	<option value="{{ element.id }}"{% if element.id == object_id %} selected="selected" {% endif %}>{{ element.title }}</option>
{% endfor %}