{% extends '::index.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block description %}{{ parent() }}{% endblock %}
{% block keywords %}{{ parent() }}{% endblock %}

{% block content %}
    <div id="kmpublishing-page" class="login-page">
        <div id="login-content">
            <img class="logo" src="{{ asset('bundles/lscore/images/kmpublishing.png') }}" alt="Kindla Music">
            <a class="link to-home" href="{{ path('ls_section_kmpublishing') }}">Powrót do KM Publishing</a>
            <div class="container">
                <h1 class="title">{{ 'security.login.title'|trans({}, 'LsUserBundle') }}</h1>
                
                <form id="form-login" action="{{ path("ls_section_kmpublishing_login_check") }}" method="post" role="form" novalidate="novalidate">
                    {% if error %}
                        <div class="error">{{ error.messageKey|trans(error.messageData, 'LsUserBundle') }}</div>
                    {% endif %}
                    <div class="form-group">
                        <label for="username">{{ 'security.login.login'|trans({}, 'LsUserBundle') }}</label>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                    
                    <div class="form-group">
                        <label for="password">{{ 'security.login.password'|trans({}, 'LsUserBundle') }}</label>

                        <input type="password" class="form-control" id="password" name="_password" required="required" />
                    </div>
                        
                    <div class="form-buttons">
                        <input type="hidden" id="remember_me" name="_remember_me" value="off" />
                        <input type="submit" id="submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'LsUserBundle') }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}