<div class="partners">
    {% for partner in entities %}
        {% if partner.link is not null %}
            <a href="{{ partner.link }}"><img class="partner-logo" src="{{ partner.getPhotoWebPath() }}?{{ random(10000) }}"></a>
        {% else %}
            <a><img class="partner-logo" src="{{ partner.getPhotoWebPath() }}?{{ random(10000) }}"></a>
        {% endif %}
    {% endfor %}
</div>