{{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
    <ul class="nav nav-tabs pills">
        <li class="active">
            <a data-toggle="tab" href="#tab-ustawienia">Treść</a>
        </li>

        <li>
            <a data-toggle="tab" href="#tab-download">Do pobrania</a>
        </li>

        <li>
            <a data-toggle="tab" href="#tab-socialMedia">Media społecznościowe</a>
        </li>

        <li>
            <a data-toggle="tab" href="#tab-seo">SEO</a>
        </li>
    </ul>

    <div class="tab-content" style="margin-top: 15px;">
        <div id="tab-ustawienia" class="tab-pane active">
            <div class="form-group{% if form.title.vars.errors|length %} has-error has-feedback{% endif %}">
                {{ form_label(form.title, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control' }}) }}
                    {% if form.title.vars.errors|length %}
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.content, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.content, {'attr': {'class': 'wysiwyg' }}) }}
                </div>
            </div>
                
            <div class="form-group">
                {{ form_label(form.content2, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.content2, {'attr': {'class': 'wysiwyg' }}) }}
                </div>
            </div>
        </div>

        <div id="tab-download" class="tab-pane">
            <div class="form-group{% if form.multipleFiles.vars.errors|length %} has-error has-feedback{% endif %}">
                {{ form_label(form.multipleFiles, null, {'label_attr': {'class': 'control-label col-sm-3' }}) }}
                <div class="col-sm-9">
                    <div class="input-group">
                        <input class="form-control" type="text" readonly="readonly" autocomplete="off">
                        <span class="input-group-btn">
                            <span class="btn{% if form.multipleFiles.vars.errors|length %} btn-danger{% else %} btn-default{% endif %} btn-file">
                                Przeglądaj... {{ form_widget(form.multipleFiles) }}
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            {% if entity is defined %}
                {% if entity.files|length > 0 %}
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <ul class="list-group">
                                {% for file in entity.files %}
                                    <li class="list-group-item">
                                        {{ file.fileName }}

                                        <a 
                                            class="delete-ajax" 
                                            href="{{ path('ls_admin_media_file_delete', {'id': file.id}) }}" 
                                            style="float:right;" 
                                            title="Usuń"
                                            >
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <div id="tab-socialMedia" class="tab-pane">
            <div class="form-group">
                {{ form_label(form.youtube, null, {'label_attr': {'class': 'control-label col-sm-3' }}) }}

                <div class="col-sm-9">
                    <div class="form-field">
                        {{ form_widget(form.youtube) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.facebook, null, {'label_attr': {'class': 'control-label col-sm-3' }}) }}

                <div class="col-sm-9">
                    <div class="form-field">
                        {{ form_widget(form.facebook) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.instagram, null, {'label_attr': {'class': 'control-label col-sm-3' }}) }}

                <div class="col-sm-9">
                    <div class="form-field">
                        {{ form_widget(form.instagram) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.twitter, null, {'label_attr': {'class': 'control-label col-sm-3' }}) }}

                <div class="col-sm-9">
                    <div class="form-field">
                        {{ form_widget(form.twitter) }}
                    </div>
                </div>
            </div>
        </div>

        <div id="tab-seo" class="tab-pane">
            <div class="form-group">
                {{ form_label(form.slug, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.slug, {'attr': {'class': 'form-control' }}) }}
                    <p class="help-block">Element linku URL identyfikujący aktualność np. http://www.test.pl/media/<b>tytuł</b>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="form-field">
                        {{ form_widget(form.seo_generate) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.seo_title, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.seo_title, {'attr': {'class': 'form-control' }}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.seo_keywords, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.seo_keywords, {'attr': {'class': 'form-control' }}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.seo_description, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.seo_description, {'attr': {'class': 'form-control' }}) }}
                </div>
            </div>
        </div>
    </div>

    <div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
            {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}
            {% if not form_edit %}
                {{ form_widget(form.submit_and_new, {'attr': {'class': 'btn btn-default' }}) }}
            {% endif %}
        </div>
    </div>
{{ form_end(form) }}
