.editor {
}

p,
.editor p {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    color: #252322;
}

p.red,
.editor p.red {
    color: #be4c54;
}

p.roboto {
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 1.9em;
}

p.lato {
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 2.2em;
}

.media-page-title {
    font-weight: 700;
}

h2.head2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 60px;
    color: #2c4d9f;
    margin: 0;
    padding: 0;
    margin-bottom: 39px;
    letter-spacing: -0.016em;
}

.editor ul,
.index ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    padding-left: 2px;
    font-size: 14px;
}
.editor ul li,
.index ul li {
    margin: 10px 0;
    padding-left: 10px;
    position: relative;
}
.editor ul li:before,
.index ul li:before {
    content: "•";
    font-size: 14px;
    position: absolute;
    left: -1px;
    top: -2px;
}



@media screen and (max-width: 980px)  and (min-width: 788px) {
    h2.head2 {
        margin-bottom: 29px;
        line-height: 1.0em;
        margin-top: 6px;
        margin-bottom: 46px;
    }
}

@media screen and (max-width: 787px) {
    .editor ul li, 
    .index ul li {
        margin: 11px 0;
    }
    
    .editor ul, 
    .index ul {
        font-size: 13px;
    }

    h2.head2 {
        margin-bottom: 46px;
        margin-top: 4px;
        line-height: 1.0em;
        max-width: 100%;
    }
}