@import './fonts/playfair-display/stylesheet.css';

body {
    background: #ffffff url('../images/body_main_bg2.jpg') no-repeat center top;
    font-family: 'Georgia', 'Times New Roman', serif;
    width: 100%;
    padding: 0;
    margin: 0;
}

body.subpage {
    background: #ffffff url('../images/body_subpage_bg.jpg') no-repeat center top;
}

body.contact {
    background: #ffffff url('../images/body_contact_bg.jpg') no-repeat center top;
}

body.login {
    background: #ffffff url('../images/body_bg.png') no-repeat center top;
}

body.index {
    background: transparent;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

#content-wrapper {
    position: relative;
    overflow: hidden;
}

#menu-mobile {
    background-color: #be4c54;
    display: none;
    position: absolute;
    top: 0;
    right: -420px;
    z-index: 2;
    padding: 80px 80px 0 80px;
    width: 260px;
}

#menu-mobile .close {
    background: transparent url('../images/menu_close.png') no-repeat left top;
    cursor: pointer;
    position: absolute;
    right: 80px;
    top: 26px;
    height: 26px;
    width: 26px;
}

#menu-mobile .close:hover {
    background-position: left bottom;
}

#menu-mobile ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu-mobile ul li {
    padding: 6px 0;
    text-align: right;
}

#menu-mobile ul li:last-child {
    padding: 6px 0 0 0;
}

#menu-mobile ul li a {
    font-size: 24px;
    line-height: 36px;
    color: #ffa7ad;
}

#menu-mobile ul li a:hover,
#menu-mobile ul li.current a {
    font-weight: bold;
    color: #ffffff;
}

#menu-mobile .other {
    text-align: right;
    font-size: 24px;
    line-height: 36px;
    color: #ffa7ad;
}

#menu-mobile .other a {
    color: #ffa7ad;
}

#menu-mobile .other .facebook {
    padding-bottom: 6px;
}

#menu-mobile .other .facebook a:hover {
    font-weight: bold;
    color: #ffffff;
}

#menu-mobile .other .youtube {
    padding-top: 6px;
}

#menu-mobile .other .youtube a:hover {
    font-weight: bold;
    color: #ffffff;
}

#languages-mobile {
    padding-top: 12px;
    text-align: right;
    height: 21px;
}

#languages-mobile a {
    background-position: bottom left;
    margin-left: 7px;
    display: inline-block;
    height: 21px;
    width: 36px;
}

#languages-mobile a.active {
    background-position: top left;
}

#languages-mobile a.pl {
    background-image: url('../images/locale_pl_mobile.png');
}

#languages-mobile a.en {
    background-image: url('../images/locale_en_mobile.png');
}

#content {
    position: relative;
    margin: 0 auto;
    width: 980px;
    min-height: 300px;
}

#page-content {
    position: relative;
    margin: 0 auto;
    width: 980px;
    min-height: 300px;
}

#page-content:after {
    clear: both;
    content: "";
    display: table;
}

#menu-container {
    padding-top: 26px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#menu-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu-container ul li {
    padding: 4px 0;
    text-align: right;
}

#menu-container ul li:last-child {
    padding: 4px 0 0 0;
}

#menu-container ul li a {
    font-size: 14px;
    line-height: 18px;
    color: #0f0d0f;
}

#menu-container ul li a:hover,
#menu-container ul li.current a {
    font-weight: bold;
    color: #c35d64;
}

#menu-container .other {
    text-align: right;
    font-size: 14px;
    line-height: 18px;
}

#menu-container .other .separator-top {
    color: #0f0d0f;
}

#menu-container .other .facebook {
    padding-bottom: 4px;
}

#menu-container .other .facebook a {
    color: #3b5998;
}

#menu-container .other .facebook a:hover {
    font-weight: bold;
}

#menu-container .other .youtube {
    padding-top: 4px;
}

#menu-container .other .youtube a {
    color: #bb0000;
}

#menu-container .other .youtube a:hover {
    font-weight: bold;
}

#menu-container .other .separator-bottom {
    color: #c35d64;
}

#languages-login {
    padding-top: 12px;
    text-align: right;
    height: 14px;
}

#languages {
    padding-top: 2px;
    text-align: right;
    height: 14px;
}

#languages-login a,
#languages a {
    background-position: bottom left;
    border: 1px solid #ffffff;
    margin-left: 5px;
    display: inline-block;
    height: 12px;
    width: 22px;
}

#languages-login a.active,
#languages a.active {
    background-position: top left;
    border: 1px solid #dd9791;
}

#languages-login a.pl,
#languages a.pl {
    background-image: url('../images/locale_pl.jpg');
}

#languages-login a.en,
#languages a.en {
    background-image: url('../images/locale_en.jpg');
}

#menu-mobile-show {
    background: #ffffff url('../images/hamburger.png') no-repeat left top;
    display: none;
    position: absolute;
    top: 26px;
    right: 20px;
    width: 36px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

#menu-mobile-show:hover {
    background-position: left bottom;
}

.login-top {
    margin: 101px 360px 27px 360px;
    position: relative;
    height: 101px;
}

.login-top .firstname {
    position: absolute;
    top: 0;
    left: 10px;
    font-family: 'playfair_displayitalic';
    font-size: 64px;
    line-height: 64px;
    color: #5a5552;
}

.login-top .lastname {
    position: absolute;
    top: 39px;
    left: 69px;
    font-family: 'playfair_displayitalic';
    font-size: 62px;
    line-height: 62px;
    color: #Be4c54;
}

#login-form {
    padding-bottom: 50px;
    margin: 0 auto;
    width: 330px;
}

#login-form .error {
    text-align: center;
    font-size: 14px;
    color: #Be4c54;
}

#login-form .form-group {
    padding-bottom: 7px;
}

#login-form .form-group label {
    text-align: center;
    display: block;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    color: #5a5552;
}

#login-form .form-group input {
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    border: 1px solid #f4f0e9;
    outline: none;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 23px;
    color: #5a5552;
    width: 282px;
}

#login-form .form-buttons {
    padding-top: 19px;
}

#login-form .form-buttons #submit {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff4754+0,e0323f+100 */
    background: #ff4754; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNDc1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMDMyM2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ff4754 0%, #e0323f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff4754), color-stop(100%, #e0323f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff4754 0%, #e0323f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff4754 0%, #e0323f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff4754 0%, #e0323f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff4754 0%, #e0323f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4754', endColorstr='#e0323f', GradientType=0); /* IE6-8 */
    display: block;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    border: 1px solid #ce2834;
    margin: 0 auto;
    width: 152px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    text-shadow: 0px 1px 0px rgba(202, 42, 53, 1);
    font-size: 18px;
    color: #ffffff;
}

#login-form .form-buttons #submit:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0323f+0,ff4754+100 */
    background: #e0323f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwMzIzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjQ3NTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e0323f 0%, #ff4754 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0323f), color-stop(100%, #ff4754)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e0323f 0%, #ff4754 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e0323f 0%, #ff4754 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e0323f 0%, #ff4754 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e0323f 0%, #ff4754 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0323f', endColorstr='#ff4754', GradientType=0); /* IE6-8 */
}

.main-content {
    position: relative;
    padding: 285px 0 50px 0;
    min-height: 525px;
}

.main-content .firstname {
    position: absolute;
    top: 48px;
    left: 320px;
    letter-spacing: 3px;
    font-family: 'playfair_displayitalic';
    font-size: 110px;
    line-height: 120px;
    color: #5a5552;
}

.main-content .lastname {
    position: absolute;
    top: 153px;
    left: 363px;
    font-family: 'playfair_displayitalic';
    font-size: 90px;
    line-height: 100px;
    color: #be4c54;
}

.main-content .info {
    position: absolute;
    top: 254px;
    font-family: 'playfair_displayitalic';
    font-size: 26px;
    line-height: 30px;
    color: #605343;
    text-align: right;
}

.main-content .info .producer {
    display: inline-block;
    min-width: 60px;
}

.main-content .audio-player-container {
    padding-left: 445px;
}

.main-content .audio-player-container .header {
    font-size: 14px;
    line-height: 22px;
    color: #93846e;
}

.main-content .audio-player-container .current {
    font-family: 'playfair_displayregular';
    font-size: 30px;
    line-height: 32px;
    min-height: 32px;
    color: #5a5552;
}

.main-content .audio-player-container .player {
    height: 86px;
}

.main-content .audio-player-container .player .control {
    padding: 35px 0 0 0;
    width: 50px;
    float: left;
}

.main-content .audio-player-container .player .control .play {
    background: transparent url('../images/play.png') no-repeat left top;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    float: left;
    cursor: pointer;
}

.main-content .audio-player-container .player .control .play:hover {
    background-position: left bottom;
}

.main-content .audio-player-container .player .control .play.active {
    background: transparent url('../images/pause.png') no-repeat left top;
}

.main-content .audio-player-container .player .control .play.active:hover {
    background-position: left bottom;
}

.main-content .audio-player-container .player .control .stop {
    background: transparent url('../images/stop.png') no-repeat left top;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    float: left;
    cursor: pointer;
}

.main-content .audio-player-container .player .control .stop:hover {
    background-position: left bottom;
}

.main-content .audio-player-container .player .progress-container {
    padding: 40px 9px 0 9px;
    width: 378px;
    float: left;
}

.main-content .audio-player-container .player .progress-container .progress {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #f4f0e9;
    position: relative;
    height: 7px;
}

.main-content .audio-player-container .player .progress-container .progress .bar {
    position: absolute;
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0333f+0,e7636d+100 */
    background: #e0333f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwMzMzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNzYzNmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #e0333f 0%, #e7636d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e0333f), color-stop(100%, #e7636d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #e0333f 0%, #e7636d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #e0333f 0%, #e7636d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #e0333f 0%, #e7636d 100%); /* IE10+ */
    background: linear-gradient(to right, #e0333f 0%, #e7636d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0333f', endColorstr='#e7636d', GradientType=1); /* IE6-8 */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 7px;
    width: 0;
}

.main-content .audio-player-container .player .progress-container .progress .handle {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 28px;
    width: 1px;
}

.main-content .audio-player-container .player .progress-container .progress .handle .handle-icon {
    background: transparent url('../images/player_handle_icon.png') no-repeat left top;
    position: absolute;
    top: 0;
    left: -9px;
    height: 28px;
    width: 19px;
    cursor: pointer;
}

.main-content .audio-player-container .player .progress-container .progress .from {
    position: absolute;
    top: 7px;
    left: 0;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    color: #5a5552;
}

.main-content .audio-player-container .player .progress-container .progress .to {
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    color: #5a5552;
}

.main-content .audio-player-container .send-form-container {
}

.main-content .audio-player-container .send-form-container .send-form-top {
    padding-bottom: 9px;
}

.main-content .audio-player-container .send-form-container .send-form-top .checkbox {
    font-size: 0;
}

.main-content .audio-player-container .send-form-container .send-form-top .checkbox label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-left: 28px;
    line-height: 23px;
    font-size: 13px;
    color: #5a5552;
}

.main-content .audio-player-container .send-form-container .send-form-top .checkbox label:before {
    content: '';
    background: transparent url('../images/checkbox_bg.png') no-repeat left top;
    position: absolute;
    left: 0;
    top: 1px;
    width: 20px;
    height: 17px;
}

.main-content .audio-player-container .send-form-container .send-form-top .checkbox input {
    display: none;
}

.main-content .audio-player-container .send-form-container .send-form-top .checkbox input:checked + label:before {
    background-position: left bottom;
}

.main-content .audio-player-container .send-form-container .send-form-bottom {
    padding: 0 0 0 28px;
}

.main-content .audio-player-container .send-form-container .send-form-bottom .form-field input {
    font-family: 'Georgia', 'Times New Roman', serif;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    display: inline-block;
    vertical-align: top;
    padding: 9px 23px;
    line-height: 18px;
    font-size: 13px;
    color: #5a5552;
    width: 180px;
}

.main-content .audio-player-container .send-form-container .send-form-bottom .form-field input:focus {
    -moz-appearance:none;
    box-shadow:none;
    outline:none;
}

.main-content .audio-player-container .send-form-container .send-form-bottom .form-field button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff4754+0,e23240+100 */
    background: #ff4754; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff4754 0%, #e23240 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ff4754 0%,#e23240 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ff4754 0%,#e23240 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4754', endColorstr='#e23240',GradientType=0 ); /* IE6-9 */
    text-shadow: 0 1px 0 rgba(203, 26, 38, 1);
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    border: 1px solid #ce2834;
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
    font-weight: 700;
    padding: 0 23px;
    cursor: pointer;
    font-size: 14px;
    color: #f4f0e9;
    height: 38px;
}

.main-content .audio-player-container .send-form-container .send-form-bottom .form-field img {
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
}

.main-content .audio-player-container .send-form-container .send-form-bottom .form-error {
    padding: 8px 0;
    line-height: 16px;
    font-size: 12px;
    color: #be4c54;
    height: 16px;
    width: 100%;
}

.main-content .audio-player-container .playlist {
    font-size: 14px;
    line-height: 24px;
    color: #93846e;
}

.main-content .audio-player-container .songs .song {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: #5a5552;
    float: left;
}

.main-content .audio-player-container .songs .song .icon {
    background: transparent url('../images/song-active.png') no-repeat left top;
    display: none;
    position: absolute;
    width: 10px;
    height: 9px;
    top: 9px;
}

.main-content .audio-player-container .songs .song.playing .icon {
    display: block;
}

.main-content .audio-player-container .songs .song span {
    cursor: pointer;
}

.main-content .audio-player-container .songs .song.selected span,
.main-content .audio-player-container .songs .song span:hover {
    text-decoration: underline;
    color: #be4c54;
}

.main-content .audio-player-container .logos {
    padding-top: 20px;
}

.main-content .audio-player-container .logos img {
    display: inline-block;
    margin-right: 16px;
    height: 50px;
}

.page-content {
    padding: 0 0 60px 400px;
}

.page-content h1 {
    font-family: 'playfair_displayitalic';
    padding: 110px 0 24px 0;
    font-size: 72px;
    line-height: 86px;
    color: #5a5552;
    margin: 0;
}

.contact-content {
    min-height: 760px;
}

.contact-content h1 {
    font-family: 'playfair_displayitalic';
    padding: 110px 0 38px 0;
    font-size: 72px;
    line-height: 86px;
    color: #5a5552;
    margin: 0;
}

.contact-content .left {
    float: left;
    width: 400px;
}

.contact-content .right {
    float: left;
    width: 580px;
}

.contact-content h2 {
    padding: 10px 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    color: #be4c54;
    margin: 0;
}

.contact-content p {
    font-size: 16px;
    line-height: 26px;
    color: #5a5552;
    margin: 0;
}

.contact-content a {
    color: #5a5552;
}

.contact-content a:hover {
    text-decoration: underline;
}

.youtube-content {
    padding-top: 30px;
}

.youtube-content .youtube-item {
    padding-bottom: 25px;
    width: 560px;
}

.youtube-content .youtube-item iframe {
    display: block;
    width: 560px;
}

.footer {
    padding-bottom: 45px;
}

.footer p {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: #93846e;
}

#index-page {
    width: 100%;
    height: 100%;
    min-height: 400px;
    float: left;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#index-page .box {
    width: 250px;
    height: 310px;
    background: white;
    position: absolute;
    bottom: 110px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#index-page .link {
    width: 165px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    color: white;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: 700;
    text-align: center;
    border-radius: 30px;
    transition: all 0.3s;
}
#index-page .link:hover {
    transform: scale(0.95);
}
#index-page .box .logo {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#index-page .kmmusic {
    float: left;
    width: 25%;
    height: 100%;
    background: url('../images/index_left.jpg') no-repeat top center;
    position: relative;
    background-size: cover;
}
#index-page .kmmusic .link {
    background: #be4c54;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(190,76,84,0.8);
    -moz-box-shadow: 0px 4px 20px 0px rgba(190,76,84,0.8);
    box-shadow: 0px 4px 20px 0px rgba(190,76,84,0.8);
}
#index-page .kmpublishing {
    float: left;
    width: 25%;
    height: 100%;
    background: url('../images/index_center.jpg') no-repeat top center;
    position: relative;
    background-size: cover;
}
#index-page .kmpublishing .link {
    background: #0042e0;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(0,67,224,0.8);
    -moz-box-shadow: 0px 4px 20px 0px rgba(0,67,224,0.8);
    box-shadow: 0px 4px 20px 0px rgba(0,67,224,0.8);
}
#index-page .mamamusic {
    float: left;
    width: 25%;
    height: 100%;
    background: url('../images/index_right.jpg')  top center;
    position: relative;
    background-size: cover;
}
#index-page .mamamusic .link {
    background: #ffad1d;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(255,172,29,0.8);
    -moz-box-shadow: 0px 4px 20px 0px rgba(255,172,29,0.8);
    box-shadow: 0px 4px 20px 0px rgba(255,172,29, 0.8);
}
#index-page .kmevents {
    float: left;
    width: 25%;
    height: 100%;
    background: url('../images/index_new_bg.png') no-repeat top center;
    position: relative;
    background-size: cover;
}
#index-page .kmevents .link {
    background: #5e9f18;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(94,159,24, 0.8);
    -moz-box-shadow: 0px 4px 20px 0px rgba(94,159,24, 0.8);
    box-shadow: 0px 4px 20px 0px rgba(94,159,24, 0.8);
}
#index-page .mamamusic .logo {
    top: 70px;
}
#kmusic-page {
    background: #ffffff url('../images/kmusic_page_bg.jpg') no-repeat center -6%;
    min-height: 900px;
    position: relative;
    overflow-x: hidden;
}

#kmusic-page #page-content {
    padding-bottom: 133px;
}
#kmusic-page .text-content {
    float: right;
    max-width: 500px;
    margin-top: 21px;
    min-height: 1000px;
    margin-bottom: 26px;
}
#kmusic-page .link {
    float: left;
    width: 165px;
    height: 50px;
    line-height: 50px;
    color: black;
    text-decoration: underline;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 37px;
    margin-left: 11px;
}
#kmusic-page .btn {
    float: left;
    width: 165px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-weight: 700;
    text-align: center;
    border-radius: 30px;
    transition: all 0.3s;
    font-family: 'Roboto', sans-serif;
    background: #be4c54;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(190,76,84,0.8);
    -moz-box-shadow: 0px 4px 20px 0px rgba(190,76,84,0.8);
    box-shadow: 0px 4px 20px 0px rgba(190,76,84,0.8);
    font-size: 16px;
    margin-top: 36px;
}
#kmusic-page .btn:hover {
    transform: scale(0.95);
}
#kmusic-page .partners {
    float: left;
    width: 100%;
    margin-top: 50px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    visibility: hidden;
}
#kmusic-page .bx-wrapper {
    width: 100%;
    max-width: 100% !important;
}

#kmusic-page .partners li {
    margin: 0;
    padding: 0;
}
#kmusic-page .partners li:before {
    display: none;
}

#kmusic-page .logo {
    display: block;
    margin-top: 92px;
    margin-bottom: 37px;
}
#kmusic-page .to-home {
    float: right;
    font-size: 14px;
    width: initial;
}

#kmpublishing-page {
    background: #ffffff url('../images/kmpublishing_page_bg.png') no-repeat center top;
    min-height: 650px;
    padding-bottom: 50px;
}

#kmpublishing-page img.logo {
    float: left;
    margin-top: 2px;
}

#kmpublishing-page .to-home {
    float: right;
    font-size: 14px;
    color: black;
    text-decoration: underline;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
#kmpublishing-page .container {
    float: left;
    width: 100%;
}

#kmpublishing-page .top {
    float: left;
    width: 100%;
}

#kmpublishing-page .top h2 {
    float: left;
    max-width: 80%;
}

#kmpublishing-page .top .to-home {
    margin-top: 45px;
}

#kmpublishing-page img.photo {
    float: left;
    width: 199px;
    height: 199px;
    margin-right: 24px;
    margin-bottom: 10px;
}

#kmpublishing-page #page-content {
    padding-top: 37px;
}

#kmpublishing-page .text-content {
    float: left;
    max-width: 670px;
    margin-top: 40px;
}

#mamamusic-page {
    background: #fffcf4 url('../images/mamamusic_page_bg.png') no-repeat center top;
    padding-bottom: 293px;
}
#mamamusic-page .text-content {
    float: right;
    width: 500px;
    margin-top: 37px;
}

#mamamusic-page .logo {
    display: block;
    margin-top: 65px;
    margin-bottom: 37px;
}
#mamamusic-page .to-home {
    float: right;
    font-size: 14px;
    color: black;
    text-decoration: underline;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

#mamamusic-page .link {
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
    border: 2px solid #ffdea4;
    text-decoration: none;
    padding: 15px 20px;
    float: left;
    margin-top: 12px;
    transition: all 0.3s;
}
#mamamusic-page .link:hover {
    transform: scale(0.95);
}
#mamamusic-page .link span {
    color: #f0660c;
    font-weight: normal;
    text-decoration: underline;
}

#kmpublishing-page .login-box {
    margin-top: 0px;
    width: 180px;
    float: right;
    padding: 29px 39px 20px;
    border-left: 1px solid #e0e4f1;
    border-right: 1px solid #e0e4f1;
    border-bottom: 1px solid #e0e4f1;
    border-top: none;
    position: relative;
    text-align: center
}
#kmpublishing-page .login-box .link {
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
    text-decoration: none;
    padding: 15px 10px;
    margin-top: 12px;
    display: block;
    transition: all 0.3s;
}

#kmpublishing-page .login-box .send-demo:hover {
    transform: scale(0.95);
    cursor: hand;
    cursor: pointer;
}

#kmpublishing-page .logos {
    float: left;
    width: 100%;
    margin-top: 22px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    visibility: hidden;
}
#kmpublishing-page .bx-wrapper {
    width: 100%;
    max-width: 100%;
}

#kmpublishing-page .logos li {
    margin: 0;
    padding: 0;
}
#kmpublishing-page .logos li:before {
    display: none;
}


#kmpublishing-page .login-box .send-demo {
    background: #2c4d9f;
    border-radius: 30px;
    display: block;
    color: white;
    font-size: 16px;
    width: 144px;
    margin-left: 6px;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(0,67,224,0.8);
    -moz-box-shadow: 0px 4px 20px 0px rgba(0,67,224,0.8);
    box-shadow: 0px 4px 20px 0px rgba(0,67,224,0.8);
}

#kmpublishing-page .login-box .login-btn {
    text-decoration: underline;
}

#kmpublishing-page .contact-box {
    float: right;
    width: 260px;
    text-align: center;
}

#kmpublishing-page .contact-box .contact {
    color: #2c4d9f;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 5px;
}

#kmpublishing-page .contact-box .title {
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-top: 32px;
    margin-bottom: 19px;
}

#kmpublishing-page #login-content {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

#kmpublishing-page #login-content .logo {
    float: none;
    display: block;
    margin: 0 auto;
}

#kmpublishing-page #login-content .container {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#kmpublishing-page #login-content .container .title {
    color: #2c4d9f;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    margin-top: 62px;
}

#kmpublishing-page.login-page {
    padding-top: 39px;
}

#kmpublishing-page.login-page .to-home{
    margin-top: -84px;
}

#kmpublishing-page.login-page #form-login {
    width: 300px;
    display: block;
    margin: 0 auto;
}

#kmpublishing-page.login-page #form-login .form-group {
    width: 100%;
    float: left;
    margin: 6px 0 25px;
}

#kmpublishing-page.login-page #form-login .form-buttons {
    width: 100%;
    float: left;
}

#kmpublishing-page.login-page #form-login .form-group label {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin-bottom: 12px;
}

#kmpublishing-page.login-page #form-login .form-group input {
    width: 99%;
    float: left;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    height: 41px;
    outline: none;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

#kmpublishing-page.login-page #form-login #submit {
    background: #2c4d9f;
    outline: none;
    border: none;
    display: block;
    width: 165px;
    height: 52px;
    color: white;
    border-radius: 25px;
    margin: 18px auto;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(0,67,224,0.4);
    -moz-box-shadow: 0px 4px 20px 0px rgba(0,67,224,0.4);
    box-shadow: 0px 4px 20px 0px rgba(0,67,224,0.4);
}

#kmpublishing-page.login-page #form-login #submit:hover {
    transform: scale(0.95);
    cursor: hand;
    cursor: pointer;
}

#kmpublishing-page.login-page #form-login .form-group input:hover,
#kmpublishing-page.login-page #form-login .form-group input:focus {
    border: 1px solid #2c4d9f;
}

/* start km publishing player style */

#kmpublishing-page .main-content {
    float: left;
    width: 670px;
    padding: 0;
    margin: 39px 0;
}

#kmpublishing-page .main-content .head2 {
    margin-bottom: 29px;
}

#kmpublishing-page .main-content .audio-player-container {
    float: left;
    width: 670px;
    padding: 0;
    margin: 0px;
}

#kmpublishing-page .main-content .audio-player-container .header {
    font-size: 16px;
    color: black;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

#kmpublishing-page .main-content .audio-player-container .current {
    font-size: 24px;
    color: #2c4d9f;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-top: 6px;
}

#kmpublishing-page .main-content .audio-player-container .player {
    margin-top: 1px;
}

#kmpublishing-page .main-content .audio-player-container .player .control .play.active {
    background: transparent url('../images/pause-blue.png') no-repeat left top;
}

#kmpublishing-page .main-content .audio-player-container .player .control .stop {
    background: transparent url('../images/stop-blue.png') no-repeat left top;
}

#kmpublishing-page .main-content .audio-player-container .player .control .play {
    background: transparent url('../images/play-blue.png') no-repeat left top;
}

#kmpublishing-page .main-content .audio-player-container .player .progress-container {
    padding: 40px 0px 0 9px;
    width: 611px;
}

#kmpublishing-page .main-content .audio-player-container .player .progress-container .progress {
    background-color: #c6dae5;
}

#kmpublishing-page  .main-content .audio-player-container .player .progress-container .progress .bar {
    position: absolute;
    top: 0;
    left: 0;
    background: #2c4d9f;
    background: -moz-linear-gradient(left, #2c4d9f 0%, #3b6dea 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #2c4d9f), color-stop(100%, #3b6dea));
    background: -webkit-linear-gradient(left, #2c4d9f 0%, #3b6dea 100%);
    background: -o-linear-gradient(left, #2c4d9f 0%, #3b6dea 100%);
    background: -ms-linear-gradient(left, #2c4d9f 0%, #3b6dea 100%);
    background: linear-gradient(to right, #2c4d9f 0%, #3b6dea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c4d9f', endColorstr='#3b6dea', GradientType=1);
}

#kmpublishing-page .main-content .audio-player-container .player .progress-container .progress .handle .handle-icon {
    background: transparent url(../images/player_handle_icon_black.png) no-repeat left top;
    position: absolute;
    top: 7px;
    left: -9px;
    height: 20px;
    width: 14px;
    background-size: contain;
    cursor: pointer;
}

#kmpublishing-page .main-content .search {
    float: left;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-top: 9px;
}

#kmpublishing-page .main-content .search label {
    float: left;
    margin-top: 12px;
    margin-right: 16px;
}

#kmpublishing-page .main-content .search input {
    float: left;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    color: #2c4d9f;
    width: 218px;
    height: 40px;
    border-radius: 25px;
    outline: none;
    border: 1px solid #c4c4c4;
    padding: 0 15px;
    background: white url('../images/search.png') 94% center no-repeat;
}

#kmpublishing-page .main-content .audio-player-container .songs .empty-text {
    position: relative;
    font-size: 14px;
    line-height: normal;
    color: black;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding: 1px 0;
    margin-bottom: 11px;
}

#kmpublishing-page .logout {
    margin-left: 35px;
}

#kmpublishing-page .main-content .list {
    float: left;
    margin-top: 40px;
    padding-left: 25px;
    padding-right: 10px;
    width: 299px;
    border-left: 1px solid #c4c4c4;
}

#kmpublishing-page .main-content .list .playlist {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    float: left;
    width: 100%;
    color: black;
    margin-bottom: 16px;
}

#kmpublishing-page .main-content .audio-player-container .songs .song {
    position: relative;
    font-size: 14px;
    line-height: normal;
    color: black;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding: 1px 0;
    margin-bottom: 11px;
}

#kmpublishing-page .main-content .audio-player-container .songs .song.selected span, 
#kmpublishing-page .main-content .audio-player-container .songs .song span:hover {
    color: #2c4d9f;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
}

#kmpublishing-page .main-content .audio-player-container .songs .song .icon {
    display: none !important;
}

#kmpublishing-page .send-form-container {
    float: left;
    width: 100%;
    margin-top: 20px;
}

#kmpublishing-page .send-form-container .send-form-top .checkbox label {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
}

#kmpublishing-page .send-form-container .send-form-top .checkbox label:before {
    background: transparent url(../images/checkbox_bg_blue.png) no-repeat left top;
}

#kmpublishing-page .send-form-container .send-form-top .checkbox input:checked + label:before {
    background-position: left bottom;
}

#kmpublishing-page .audio-player-container .send-form-container .send-form-bottom {
    padding: 0px;
}

#kmpublishing-page .audio-player-container .send-form-container .send-form-bottom .form-field button {
    background: #2c4d9f;
    background: -moz-linear-gradient(top, #3b6dea 0%, #2c4d9f  100%);
    background: -webkit-linear-gradient(top, #3b6dea 0%,#2c4d9f 100%);
    background: linear-gradient(to bottom, #3b6dea 0%,#2c4d9f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b6dea', endColorstr='#2c4d9f',GradientType=0 );
    text-shadow: 0 1px 0 rgb(33, 26, 203);
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    border: 1px solid #2c4d9f;
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
    font-weight: 700;
    padding: 0 23px;
    cursor: pointer;
    font-size: 14px;
    color: #f4f0e9;
    height: 38px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

#kmpublishing-page .song-ajax-loader {
    width: 38px;
    height: 38px;
}

/* end km publishing player style */

#kmpublishing-page .right {
    float: right; 
    width: 260px;
}

.composers-list {
    margin-top: 59px;
    width: 178px;
    float: right;
    padding: 0 40px 21px;
    border: 1px solid #c4c4c4;
    border-top: none;
    position: relative;
}
.composers-list:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #c4c4c4;
    width: 36px;
    height: 1px;
}
.composers-list:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: #c4c4c4;
    width: 36px;
    height: 1px;
}
.composers-list .title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    float: left;
    width: 100%;
    margin-top: -15px;
    position: relative;
    margin-bottom: 41px;
}

.composers-list .title:before {
    content: "";
    background: url('../images/icon-note.png') no-repeat;
    width: 12px;
    height: 13px;
    position: absolute;
    top: -38px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.composers-list .item {
    color: black;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    float: left;
    width: 100%;
    margin-bottom: 19px;
}

.composers-list .item.active,
.composers-list .item:hover {
    color: #2c4d9f;
    text-decoration: none;
}

#index-page .mamamusic:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../images/index_filter.png') repeat;
    transition: all 0.3s;
}

#index-page .kmpublishing:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../images/index_filter.png') repeat;
    transition: all 0.3s;
}

#index-page .kmmusic:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../images/index_filter.png') repeat;
    transition: all 0.3s;
}

#index-page .kmevents:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../images/index_filter.png') repeat;
    transition: all 0.3s;
}

#index-page .hovered:before {
    opacity: 0;
}

.send-modal-demo {
    display: block;
    z-index: 110;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/modal-bg.png') repeat;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

.send-modal-demo .modal-content {
    display: block;
    z-index: 111;
    margin: 30px auto;
    background: white;
    width: 490px;
    text-align: center;
    padding-top: 54px;
    position: relative;
}

.send-modal-demo .modal-content .modal-title {
    font-size: 36px;
    font-weight: 700;
    color: #2c4d9f;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
}

.modal-open {
    overflow: hidden;
}

.send-modal-demo .modal-content .form-modal {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.send-modal-demo .modal-content .form-modal:after {
    display: block;
    content: "";
    clear: both;
}

.send-modal-demo .modal-content .form-group {
    float: left;
    width: 100%;
    margin-bottom: 32px;
}

.send-modal-demo .modal-content .form-group label {
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 11px;
    font-family: 'Lato', sans-serif;
    padding-bottom: 24px;
}

.send-modal-demo .modal-content .form-group label:hover {
    cursor: hand;
    cursor: pointer;
}

.send-modal-demo .modal-content .form-group .contact-textarea,
.send-modal-demo .modal-content .form-group input {
    float: left;
    width: 86%;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    outline: none;
    padding: 0 20px;
    height: 43px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    transition: all 0.3s;
}

.send-modal-demo .modal-content .form-group .contact-textarea {
    height: 54px;
    resize: none;
    padding: 20px;
}

.send-modal-demo .modal-content .form-group .contact-textarea:hover,
.send-modal-demo .modal-content .form-group .contact-textarea:focus,
.send-modal-demo .modal-content .form-group input:hover,
.send-modal-demo .modal-content .form-group input:focus {
    border: 1px solid #2c4d9f;
}


.send-modal-demo .modal-content .file-names {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    margin-top: -9px;
}

.send-modal-demo .modal-content .file-label {
    text-decoration: underline;
}

.send-modal-demo .modal-content .file-names .name {
    float: left;
    width: 100%;
    text-align: center;
    color: #2c4d9f;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 4px;
}

.send-modal-demo .modal-content .submit-button {
    margin: 0 auto;
    display: block;
    width: 164px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    font-family: 'Roboto', sans-serif;
    background: #2c4d9f;
    outline: none;
    border: none;
    border-radius: 25px;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(0,67,224,0.8);
    -moz-box-shadow: 0px 4px 20px 0px rgba(0,67,224,0.8);
    box-shadow: 0px 4px 20px 0px rgba(0,67,224,0.8);
    transition: all 0.3s;
}

.send-modal-demo .modal-content .submit-button:hover {
    transform: scale(0.95);
    cursor: hand;
    cursor: pointer;
}

.send-modal-demo .modal-content #send-demo-btn {
    margin: 0;
    bottom: -23px;
    left: 0;
    right: 0;
    position: absolute;
}

@media screen and (min-width: 981px) {
    #content-wrapper {
        min-width: 980px;
    }

    .main-content .info {
        right: 70px;
    }

    .main-content .audio-player-container .songs .song .icon {
        left: -20px;
    }
}

@media screen and (max-height: 460px) and (min-width: 1316px) {
    #index-page .box {
        top: 40px; 
    }
}
@media screen and (max-width: 1316px) {
    #index-page {
        width: 100%;
        height: 1125px;
    }

    #index-page .mamamusic {
        float: left;
        width: 100%;
        height: 375px;
        background: url('../images/index_right_mobile.png') no-repeat top center;
        position: relative;
        margin-right: 0px;
        background-size: cover;
        margin-left: 0px;
        left: 0px;
    }

    #index-page .kmpublishing {
        float: left;
        width: 100%;
        height: 375px;
        background: url('../images/index_center_mobile.png') no-repeat top center;
        position: relative;
        background-size: cover;
        margin-left: 0px;
        left: 0px;
    }

    #index-page .kmmusic {
        float: left;
        width: 100%;
        height: 375px;
        background: url('../images/index_left_mobile.png') no-repeat top center;
        position: relative;
        background-size: cover;
        margin-left: 0px;
        left: 0px;
    }

    #index-page .kmevents {
        float: left;
        width: 100%;
        height: 375px;
        /*background: url('../images/index_left_mobile.png') no-repeat top center;*/
        position: relative;
        background-size: cover;
        margin-left: 0px;
        left: 0px;
    }

    #index-page .box {
        bottom: 34px;
    }
}

@media screen and (max-width: 787px) {
    #page-content {
        width: 300px;
        padding: 0 10px;
    }

    #kmpublishing-page #login-content {
        width: 300px;
        margin: 0 auto;
    }

    #kmpublishing-page #login-content .logo {
        margin-top: 55px;
    }

    #kmpublishing-page.login-page .to-home {
        margin-top: -139px;
    }

    #kmpublishing-page .right {
        float: right; 
        width: 300px;
        text-align: center;
    }

    #kmpublishing-page .contact-box {
        width: 100%;
    }

    #kmpublishing-page .login-box {
        margin: 0 19px;
    }

    .send-modal-demo .modal-content {
        width: 300px;
    }

    .send-modal-demo .modal-content .form-modal {
        width: 230px;
    }

    #kmusic-page {
        background: #ffffff url('../images/top_bg_tablet.png') no-repeat center top;
        min-height: auto;
        position: relative;
    }
    #kmusic-page #page-content {
        padding-bottom: 343px;
    }
    #kmusic-page #page-content:before {
        background: #ffffff url('../images/kmusic_page_tablet.png') no-repeat center top;
        content: "";
        position: absolute;
        bottom: 0;
        left: -340px;
        width: 980px;
        min-height: 500px;
        background-size: cover;
    }
    #kmusic-page .text-content {
        float: left;
        max-width: 100%;
        width: 100%;
        margin-top: 0px;
        min-height: 100px;
        margin-bottom: 0px;
    }
    #kmusic-page .logo {
        margin-top: 71px;
    }
    #kmusic-page .partners {
        margin-right: 0px;
    }
    #kmusic-page .link {
        margin-top: 16px;
        margin-left: 0px;
        width: 50%;
        text-align: left;
        font-size: 14px;
    }
    #kmusic-page .to-home {
        margin-top: 21px;
        margin-right: 0px;
        overflow: hidden;
        width: 15%;
    }
    #kmpublishing-page img.logo {
        margin-top: 27px;
    }
    #kmpublishing-page .to-home {
        width: 15%;
        overflow: hidden;
        height: 18px;
    }
    #kmpublishing-page .top .to-back {
        margin-top: -14px;
        width: 34%;
        float: right;
    }

    .composers-list {
        float: left;
        margin: 0 21px;
        margin-top: 96px;
    }  
    #kmpublishing-page {
        padding-bottom: 110px;
    }
    #kmpublishing-page img.photo {
        margin-right: 98px;
        margin-bottom: 24px;
    }
    #mamamusic-page {
        background: #fffcf4;
        background-image: url('../images/mamamusic_page_bg_top_mobile.png'), url('../images/mamamusic_page_bg_bottom_mobile.png');
        background-repeat: no-repeat;
        background-position: top left, bottom left;
        padding-bottom: 150px;
    }
    #mamamusic-page .link {
        border: none;
        padding: 0;
        margin-top: 24px;
    }
    #mamamusic-page .link:hover {
        transform: scale(1)
    }
    #mamamusic-page .to-home {
        width: 15%;
        height: 18px;
        overflow: hidden;
    }
    #mamamusic-page .logo {
        display: block;
        margin-top: 44px;
        margin-bottom: 47px;
    }
    #mamamusic-page .text-content {
        float: left;
        width: 100%;
        margin-top: 37px;
    }

    #kmpublishing-page .main-content {
        width: 100%;
    }

    #kmpublishing-page .logout {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 35px;
        width: 17%;
        overflow: hidden;
        height: 18px;
    }

    #kmpublishing-page .to-home.player-to-home {
        margin-right: -51px;
    }

    #kmpublishing-page .main-content .audio-player-container {
        width: 100%;
        margin-top: 16px;
    }

    #kmpublishing-page .main-content .audio-player-container .current {
        margin-top: 3px;
        line-height: 1.4em;
    }

    #kmpublishing-page .main-content .audio-player-container .player .progress-container {
        padding: 0;
        width: 100%;
        margin-top: 37px;
    }

    #kmpublishing-page .main-content .audio-player-container .player {
        position: relative;
        padding-bottom: 13px;
    }

    #kmpublishing-page .main-content .audio-player-container .player .control {
        position: absolute;
        bottom: -6px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 59px;
    }

    #kmpublishing-page .main-content .audio-player-container .player .control .stop {
        float: right;
    }

    #kmpublishing-page .main-content .search {
        margin-top: 31px;
    }

    #kmpublishing-page .main-content .list {
        float: left;
        margin-top: 41px;
        padding: 0px;
        width: 100%;
        border-left: none;
    }

    #kmpublishing-page {
        padding-bottom: 140px;
    }

    #kmpublishing-page .main-content .head2 {
        margin-bottom: 20px;
        margin-top: 8px;
    }

    #kmpublishing-page .main-content .search input {
        margin-top: 19px;
        width: 266px;
    }

}

@media screen and (max-width: 1000px)  and (min-width: 788px) {
    body {
        background: #ffffff url('../images/body_main_tablet_bg.jpg') no-repeat center top;
    }

    #page-content {
        width: 738px;
        padding: 0 15px;
    }

    body #content {
        background: #ffffff url('../images/body_main_tablet_bg2.jpg') no-repeat -280px top;
    }

    body.subpage {
        background: #ffffff url('../images/body_subpage_tablet_bg.jpg') no-repeat center top;
    }

    body.subpage #content {
        background: #ffffff url('../images/content_subpage_tablet_bg.jpg') no-repeat left top;
    }

    body.contact #content {
        background: none;
    }

    body.login {
        background: #ffffff url('../images/body_bg.png') no-repeat center top;
    }

    body.login #content {
        background: none;
    }

    #content-wrapper {
        min-width: 768px;
    }

    #content {
        padding: 0 20px;
        width: 728px;
    }

    #menu-container {
        right: 20px;
    }

    .login-top {
        margin: 101px 234px 27px 234px;
    }

    .main-content {
        padding-top: 305px;
        min-height: 475px;
    }

    .main-content .firstname {
        left: 240px;
    }

    .main-content .lastname {
        left: 275px;
        font-size: 70px;
        line-height: 80px;
    }

    .main-content .info {
        right: 110px;
    }

    .main-content .info .producer {
        position: absolute;
        display: block;
        top: 24px;
        right: -40px;
        width: 330px;
    }

    .main-content .audio-player-container {
        padding-left: 280px;
    }

    .main-content .audio-player-container .current {
        padding: 4px 0;
        font-size: 24px;
        line-height: 28px;
        min-height: 36px;
    }

    .main-content .audio-player-container .player {
        height: 83px;
    }

    .main-content .audio-player-container .player .control {
        padding: 31px 0 0 0;
    }

    .main-content .audio-player-container .player .progress-container {
        padding: 36px 9px 0 9px;
        width: 378px;
    }
    .main-content .audio-player-container .songs .song .icon {
        left: -20px;
    }
    .page-content {
        padding-left: 226px;
    }
    .contact-content {
        min-height: 660px;
    }
    .contact-content h1 {
        padding: 110px 0 9px 0;
    }
    .contact-content .left {
        width: 294px;
    }
    .contact-content .right {
        width: 434px;
    }
    .youtube-content .youtube-item {
        width: 502px;
    }
    .youtube-content .youtube-item iframe {
        width: 502px;
    }
    #kmusic-page {
        background: #ffffff url('../images/top_bg_tablet.png') no-repeat center top;
        min-height: auto;
        position: relative;
    }
    #kmusic-page #page-content {
        padding-bottom: 472px;
    }
    #kmusic-page #page-content:before {
        background: #ffffff url('../images/kmusic_page_tablet.png') no-repeat center top;
        content: "";
        position: absolute;
        bottom: 0;
        left: -106px;
        width: 980px;
        min-height: 543px;
        background-size: cover;
    }
    #kmusic-page .text-content {
        float: left;
        max-width: 100%;
        width: 92%;
        margin-top: 0px;
        min-height: 100px;
    }
    #kmusic-page .to-home {
        margin-top: 21px;
        margin-right: -58px;
    }
    #kmusic-page .logo {
        margin-top: 71px;
    }
    #kmusic-page .partners {
        margin-top: 52px;
    }
    #kmpublishing-page img.logo {
        margin-top: 28px;
    }
    #kmpublishing-page .container {
        margin-top: 22px;
    }
    #kmpublishing-page .text-content {
        max-width: 430px;
    }
    #kmpublishing-page .top .to-home {
        margin-top: 44px;
        margin-right: 2px;
    }
    #kmpublishing-page .top h2 {
        float: left;
        max-width: 75%;
    }
    #kmpublishing-page img.photo {
        float: left;
        width: 199px;
        height: 199px;
        margin-right: 17px;
        margin-bottom: 10px;
    }

    #kmpublishing-page #login-content {
        width: 728px;
        margin: 0 auto;
    }

    #mamamusic-page .text-content {
        width: 399px;
    }

    #kmpublishing-page .main-content .audio-player-container {
        width: 430px;
        margin-top: 16px;
    }

    #kmpublishing-page .main-content .audio-player-container .current {
        margin-top: 3px;
    }

    #kmpublishing-page .main-content .audio-player-container .player .progress-container {
        padding: 0;
        width: 428px;
        margin-top: 31px;
    }

    #kmpublishing-page .main-content .audio-player-container .player {
        position: relative;
        padding-bottom: 13px;
    }

    #kmpublishing-page .main-content .audio-player-container .player .control {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 59px;
    }

    #kmpublishing-page .main-content .audio-player-container .player .control .stop {
        float: right;
    }

    #kmpublishing-page .main-content .search {
        margin-top: 47px;
    }

    #kmpublishing-page .main-content .list {
        float: left;
        margin-top: 41px;
        padding: 0px;
        width: 100%;
        border-left: none;
    }

    #kmpublishing-page {
        padding-bottom: 140px;
    }
}

@media screen and (max-width: 767px)  and (min-width: 480px) {
    body,
    body.subpage {
        background: #ffffff url('../images/body_mobile_bg.jpg') no-repeat center top;
    }

    body #content {
        background: #ffffff url('../images/content_mobile_bg.jpg') no-repeat left top;
    }

    body.contact #content {
        background: #ffffff url('../images/content_contact_mobile_bg.jpg') no-repeat left top;
    }

    body.login {
        background: #ffffff url('../images/body_bg.png') no-repeat center top;
    }

    #content-wrapper {
        min-width: 480px;
    }

    #menu-mobile {
        display: block;
    }

    #content {
        padding: 0 20px;
        width: 440px;
    }

    #menu-container {
        display: none;
    }

    #menu-mobile-show {
        display: block;
    }

    .login-top {
        margin: 101px 90px 27px 90px;
    }

    .main-content {
        padding-top: 305px;
        min-height: 0;
    }

    .main-content .firstname {
        left: 0;
    }

    .main-content .lastname {
        left: 35px;
        font-size: 70px;
        line-height: 80px;
    }

    .main-content .info {
        text-align: left;
        left: 25px;
    }

    .main-content .info .producer {
        position: absolute;
        display: block;
        top: 24px;
        left: 100px;
        width: 330px;
    }

    .main-content .audio-player-container {
        padding-left: 0;
    }

    .main-content .audio-player-container .current {
        padding: 4px 0;
        font-size: 24px;
        line-height: 28px;
        min-height: 36px;
    }

    .main-content .audio-player-container .player {
        height: 83px;
    }

    .main-content .audio-player-container .player .control {
        padding: 31px 0 0 0;
    }

    .main-content .audio-player-container .player .progress-container {
        padding: 36px 9px 0 9px;
        width: 372px;
    }

    .main-content .audio-player-container .songs .song .icon {
        right: -20px;
    }

    .page-content {
        padding: 0 0 30px 0;
    }

    .page-content h1 {
        padding: 72px 0 24px 0;
    }

    .contact-content {
        min-height: 840px;
    }

    .contact-content h1 {
        padding: 72px 0 9px 0;
    }

    .contact-content .left {
        padding-bottom: 35px;
        float: none;
        width: 440px;
    }

    .contact-content .right {
        float: none;
        width: 440px;
    }

    .youtube-content .youtube-item {
        padding-bottom: 20px;
        width: 440px;
    }

    .youtube-content .youtube-item iframe {
        width: 440px;
    }
}

@media screen and (max-width: 479px) {
    body,
    body.contact,
    body.login,
    body.subpage {
        background: #ffffff url('../images/body_mobile_small_bg.png') no-repeat center top;
    }

    body #content,
    body.contact #content,
    body.login #content,
    body.subpage #content {
        background: #ffffff url('../images/content_mobile_small_bg.jpg') no-repeat left top;
    }

    #content-wrapper {
        min-width: 320px;
    }


    #menu-mobile {
        display: block;
        right: -320px;
        z-index: 2;
        padding: 80px 30px 0 30px;
        width: 260px;
    }

    #menu-mobile .close {
        right: 30px;
    }

    #content {
        padding: 0 10px;
        width: 300px;
    }

    #menu-container {
        display: none;
    }

    #menu-mobile-show {
        display: block;
    }

    .login-top {
        margin: 101px 20px 27px 20px;
    }

    #login-form {
        width: 300px;
    }

    #login-form .form-group input {
        width: 252px;
    }

    .main-content {
        padding-top: 280px;
        min-height: 0;
    }

    .main-content .firstname {
        line-height: 100px;
        font-size: 90px;
        left: 0;
    }

    .main-content .lastname {
        line-height: 94px;
        font-size: 86px;
        left: 50px;
        top: 105px;
    }

    .main-content .info {
        text-align: left;
        font-size: 24px;
        top: 200px;
        left: 0;
        width: 300px;
    }

    .main-content .info .producer {
        text-align: right;
        position: absolute;
        display: block;
        top: 24px;
        right: 10px;
        width: 300px;
    }

    .main-content .audio-player-container {
        padding-left: 0;
    }

    .main-content .audio-player-container .current {
        padding: 4px 0;
        font-size: 24px;
        line-height: 28px;
        min-height: 36px;
    }

    .main-content .audio-player-container .player {
        height: 83px;
    }

    .main-content .audio-player-container .player .control {
        padding: 31px 0 0 0;
    }

    .main-content .audio-player-container .player .progress-container {
        padding: 36px 9px 0 9px;
        width: 232px;
    }

    .main-content .audio-player-container .send-form-container .send-form-bottom {
        padding: 0;
    }

    .main-content .audio-player-container .send-form-container .send-form-bottom .form-field {
        position: relative;
    }

    .main-content .audio-player-container .send-form-container .send-form-bottom .form-field input {
        width: 140px;
    }

    .main-content .audio-player-container .send-form-container .send-form-bottom .form-field img {
        position: absolute;
        right: 35px;
        top: 40px;
    }

    .main-content .audio-player-container .songs .song .icon {
        right: -20px;
    }

    .page-content {
        padding: 0 0 30px 0;
    }

    .page-content h1 {
        padding: 72px 0 24px 0;
    }

    .contact-content {
        min-height: 840px;
    }

    .contact-content h1 {
        padding: 72px 0 9px 0;
    }

    .contact-content .left {
        padding-bottom: 35px;
        float: none;
        width: 300px;
    }

    .contact-content .right {
        float: none;
        width: 300px;
    }

    .youtube-content .youtube-item {
        padding-bottom: 20px;
        width: 300px;
    }

    .youtube-content .youtube-item iframe {
        width: 300px;
    }
}

/* --------------------- */
/* --- Style mkevent --- */
/* --------------------- */

.kmevents-container {
    width: 980px;
    margin: 0 auto;
}
.actorsBackground {
    width: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background: #010101 url(../images/kmevents-page_background.png) no-repeat;
    background-size: 100%;
    min-height: 1000px;
}

.toMainPageWrapper {
    width: 100%;
    float: left;
    background-color: #3d3d3d;
    position: relative; /* video */
    z-index: 2; /* video */
}
.toMainPageWrapper .toMainPage {
    text-align: right;
    padding: 5px 0;
}
.toMainPageWrapper .toMainPage a {
    color: #ffffff;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.kmeventsMenu {
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding: 16px 0 10px 0;
    font-size: 0;
    position: relative; /* video */
    z-index: 2; /* video */
}
.kmeventsMenu .kmeventsLogo {
    float: left;
    width: 80px;
    height: 44px;
}
.kmeventsMenu .kmeventsMenu_navWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 820px;
    padding: 13px 0 14px 0;
    float: left;
}
.kmeventsMenu .kmeventsMenu_navWrapper ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.kmeventsMenu .kmeventsMenu_navWrapper .socialsNetworks {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}
.kmeventsMenu .kmeventsMenu_navWrapper .socialsNetworks:before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 10px;
    background: url('../images/Prostokat.png') no-repeat;
    position: absolute;
    top: 4px;
    left: -30px;
}

.socialsNetworks_facebook {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url('../images/facebook.png') no-repeat;
}
.socialsNetworks_facebook:hover {
    background: url('../images/facebook-hover.png') no-repeat;
}

.socialsNetworks_instagram {
    display: inline-block;
    width: 19px;
    margin-left: 15px;
    height: 19px;
    background: url('../images/instagram.png') no-repeat;
}
.socialsNetworks_instagram:hover {
    background: url('../images/instagram-hover.png') no-repeat;
}

.kmeventsMenu .kmeventsMenu_navWrapper ul a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    margin: 0 30px 0 32px;
    transition: all 0.3s;
}

.kmeventsMenu .kmeventsMenu_navWrapper ul li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.kmeventsMenu .kmeventsMenu_navWrapper ul li:before {
    display: none;
}

.kmeventsMenu .kmeventsMenu_navWrapper ul .current a,
.kmeventsMenu .kmeventsMenu_navWrapper a:hover {
    color: #5e9f18;
}

@media screen and (max-width: 1000px) and (min-width: 788px) {
    .actorsBackground {
        background-size: 140%;
        background-position: center top;
        min-height: 100vh;
    }
    .kmevents-container {
        width: 738px;
    }

    .kmeventsMenu .kmeventsMenu_navWrapper {
        width: 578px;
        padding: 0;
    }

    .kmeventsMenu .kmeventsMenu_navWrapper ul {
        max-width: 353px;
    }

    .kmeventsMenu .kmeventsMenu_navWrapper ul li {
        padding: 10px 0;
    }
}
@media screen and (max-width: 787px) {
    .actorsBackground {
        background-size: 220%;
        background-position: center top;
        min-height: 100vh;
    }
    .kmevents-container {
        width: 300px;
    }
    .kmeventsMenu .kmeventsMenu_navWrapper {
        width: 100%;
        position: relative;
    }
    .kmeventsMenu .kmeventsMenu_navWrapper ul {
        text-align: center;
        width: 100%;
    }
    
    .kmeventsMenu .kmeventsMenu_navWrapper ul li {
        padding: 5px 10px;
    }
    
    .kmeventsMenu .kmeventsMenu_navWrapper ul a:nth-child(1) {
        margin: 0;
        float: left;
    }
    .kmeventsMenu .kmeventsMenu_navWrapper ul a:nth-child(2) {
        margin: 0;
    }
    .kmeventsMenu .kmeventsMenu_navWrapper ul a:nth-child(3) {
        margin: 0;
        float: right;
        display: inline-block;
    }
    .toMainPageWrapper {
        background: initial;
    }
    .toMainPageWrapper .toMainPage {
        text-align: left;
        position: relative;
        padding: 0;
        margin: 0;
    }
    .toMainPageWrapper .toMainPage a {
        position: absolute;
        top: 25px;
        left: 140px;
        color: #000000;
    }
    
    .kmeventsMenu .kmeventsMenu_navWrapper .socialsNetworks:before {
        display: none;
    }
    
    .kmeventsMenu .kmeventsMenu_navWrapper .socialsNetworks {
        width: auto;
        position: absolute;
        right: 0px;
        top: -29px;
    }
}

#kmevents-page .kmeventsContent {
    width: 100%;
    float: left;
    position: relative; /* video */
    z-index: 4; /* video */
    padding-bottom: 50px;
}
#kmevents-page .kmeventsContent .kmeventsContent_header {
    float: left;
    width: 100%;
    margin-top: 72px;
}
#kmevents-page .kmeventsContent .kmeventsContent_header h1 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    margin: 0;
    width: 100%;
    text-align: center;
    float: left;
}

#kmevents-page .kmeventsContent .kmeventsContent_textArea {
    float: left;
    width: 100%;
    margin-top: 26px;
}

#kmevents-page .kmeventsContent .kmeventsContent_textArea p {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

#kmevents-page .kmeventsContent .kmeventsContent_button {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 21px;
}

.video-slider-container {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 25px;
}

.video-slider-wrapper {
    display: table;
    margin: 0 auto;
    width: 700px;
    height: 392px;
    position: relative;
    z-index: 51;
}

.video-slider-wrapper .bx-wrapper,
.video-slider-wrapper .bx-viewport {
    width: 700px !important;
    height: 392px !important;
}
    

.video-slider-wrapper .video-slider {
    float: left;
    width: 100%;
}

.video-slider-wrapper .bx-next,
.video-slider-wrapper .bx-prev {
    float: left;
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -83px;
}

.video-slider-wrapper .bx-next {
    left: unset;
    right: -83px;
}
    
.video-slider-wrapper .bx-next .icon,
.video-slider-wrapper .bx-prev .icon {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 0;
    transition: all 0.3s;
}

.video-slider-wrapper .bx-prev .icon.hover,
.video-slider-wrapper .bx-next .icon.hover {
    z-index: 1;
    opacity: 0;
}

.video-slider-wrapper .bx-prev:hover .icon,
.video-slider-wrapper .bx-next:hover .icon {
    opacity: 0;
}

.video-slider-wrapper .bx-prev:hover .icon.hover,
.video-slider-wrapper .bx-next:hover .icon.hover {
    opacity: 1;
}

.video-slider-wrapper .bx-prev .icon {
    transform: rotate(180deg);
}

.video-slider-wrapper .item {
    float: left;
    width: 700px !important;
    height: 392px !important;
}

.video-slider-wrapper .item  .ytplayer {
    float: left;
    width: 700px !important;
    height: 392px !important;
}

.video-slider-wrapper .item  .ytplayer iframe {
    float: left;
    width: 100% !important;
    height: 100% !important;
}

@media screen and (max-width: 1000px) and (min-width: 788px) {
    #kmevents-page .kmeventsContent .kmeventsContent_header h1 {
        font-size: 36px;
        line-height: 42px;
    }
    
    
    .video-slider-wrapper {
        width: 541px;
        height: 303px;
    }

    .video-slider-wrapper .bx-wrapper,
    .video-slider-wrapper .bx-viewport {
        width: 541px !important;
        height: 303px !important;
    }
    
    .video-slider-wrapper .item {
        width: 541px !important;
        height: 303px !important;
    }

    .video-slider-wrapper .item  .ytplayer {
        width: 541px !important;
        height: 303px !important;
    }
}

@media screen and (max-width: 787px) {
    #kmevents-page .kmeventsContent .kmeventsContent_header h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #kmevents-page .kmeventsContent .kmeventsContent_textArea p {
        font-size: 12px;
        line-height: 26px;
    }
    
    .video-slider-wrapper {
        width: 300px;
        height: 168px;
    }

    .video-slider-wrapper .bx-wrapper,
    .video-slider-wrapper .bx-viewport {
        width: 300px !important;
        height: 168px !important;
    }
    
    .video-slider-wrapper .item {
        width: 300px !important;
        height: 168px !important;
    }

    .video-slider-wrapper .item  .ytplayer {
        width: 300px !important;
        height: 168px !important;
    }
    
    .video-slider-wrapper .bx-next,
    .video-slider-wrapper .bx-prev {
        width: 38px;
        height: 38px;
        left: -50px;
    }

    .video-slider-wrapper .bx-next {
        left: unset;
        right: -50px;
    }
}
/* --- Actors --- */
#actorsPage .actorsPage_content {
    width: 100%;
    float: left;
}
#actorsPage .actorsPage_content h1 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin: 82px 0 61px 0;
}
#actorsPage .actorsPage_content .actorsPage_actor {
    width: 25%;
    float: left;
}
#actorsPage .actorsPage_content .actorsPage_actor h2 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    max-width: 200px;
    min-height: 74px;
}
@media screen and (max-width: 1000px) and (min-width: 788px) {
    #actorsPage .actorsPage_content h1 {
        margin: 52px 0 31px 0;
    }
    #actorsPage .actorsPage_content .actorsPage_actor {
        width: 245px;
        padding: 0 62px;
        min-height: 500px;
    }
    #actorsPage .actorsPage_content .actorsPage_actor h2 {
        margin: 10px 0;
        min-height: 0px;
    }
}
@media screen and (max-width: 787px) {
    #actorsPage .actorsPage_content {
        padding: 0 0 30px 0;
    }
    #actorsPage .actorsPage_content h1 {
        margin: 30px 0 30px 40px;
        font-size: 30px;
    }
    #actorsPage .actorsPage_content .actorsPage_actor {
        width: 100%;
        text-align: center;
    }
    #actorsPage .actorsPage_content .actorsPage_actor img {
        width: 175px;
    }
    #actorsPage .actorsPage_content .actorsPage_actor h2 {
        max-width: none;
        font-size: 20px;
        margin: 10px 0;
        min-height: 0px;
    }
}
/* --- Actor --- */
#actorPage .actorContent {
    float: left;
    width: 100%;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
#actorPage .actorContent h1 {
    padding: 57px 0 37px 0;
    font-size: 36px;
}
#actorPage .actorContent .actorContent_leftSide {
    float: left;
    width: 350px;
}
#actorPage .actorContent .actorContent_leftSide h2 {
    font-size: 30px;
    width: 200px;
    line-height: 34px;
}
#actorPage .actorContent .actorContent_leftSide .booking {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 28px 0;
}
#actorPage .actorContent .actorContent_leftSide .booking .booking_title {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    padding: 0 0 24px 0;
}
#actorPage .actorContent .actorContent_leftSide .booking .booking_content {
    font-size: 16px;
    line-height: 28px;
}
#actorPage .actorContent .actorContent_textArea {
    float: left;
    width: 630px;
    padding: 24px 0 250px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

#actorPage .actorContent .actorContent_textArea a {
    text-decoration: underline;
    color: #ffffff;
}

#actorPage .actorContent .actorContent_textArea p {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 1000px) and (min-width: 788px) {
    #actorPage .actorContent h1 {
        padding: 52px 0 31px 0;
        margin: 0;
    }
    #actorPage .actorContent .actorContent_leftSide {
        width: 280px;
    }
    #actorPage .actorContent .actorContent_textArea {
        width: 458px;
        padding: 0 0 100px 0;
        line-height: 24px;
    }
    #actorPage .actorContent .actorContent_textArea p {
        line-height: 24px;
    }
}
@media screen and (max-width: 787px) {
    #actorPage .actorContent h1 {
        padding: 30px 0 30px 40px;
        font-size: 30px;
        margin: 0;
    }
    #actorPage .actorContent .actorContent_leftSide {
        width: 100%;
    }
    #actorPage .actorContent .actorContent_leftSide img {
        padding: 0 27.5px;
    }
    #actorPage .actorContent .actorContent_leftSide h2 {
        font-size: 24px;
        margin: 10px 0;
    }
    #actorPage .actorContent .actorContent_leftSide .booking {
        padding: 12px 0;
    }
    #actorPage .actorContent .actorContent_leftSide .booking .booking_title {
        font-size: 14px;
        padding: 0 0 10px 0;
    }
    #actorPage .actorContent .actorContent_leftSide .booking .booking_content {
        font-size: 12px;
        line-height: 22px;
    }
    #actorPage .actorContent .actorContent_textArea {
        width: 100%;
        padding: 10px 0 50px 0;
        line-height: 26px;
        font-size: 12px;
    }

    #actorPage .actorContent .actorContent_textArea p {
        line-height: 26px;
        font-size: 12px;
    }
}
/* --- Kontakt --- */
#kmeventsContact .kmeventsContact_content {
    float: left;
    width: 100%;
}
#kmeventsContact .kmeventsContact_content h1 {
    width: 440px;
    margin: 0;
    line-height: 48px;
    padding: 305px 0 10px 233px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
}
#kmeventsContact .kmeventsContact_content p {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding: 22px 0 0 233px;
    line-height: 40px;
}
#kmeventsContact .kmeventsContact_content .kmeventsContact_email {
    color: #ffffff;
    text-decoration: none;
}
@media screen and (max-width: 787px) {
    #kmeventsContact .kmeventsContact_content h1 {
        width: calc(100% - 10px);
        padding: 100px 5px 20px 5px;
        font-size: 30px;
        line-height: 40px;
    }
    #kmeventsContact .kmeventsContact_content p {
        width: calc(100% - 10px);
        padding: 0 5px 100px 5px;
        font-size: 20px;
    }
}
/* Buttons */
.myButton {
    display: inline-block;
    width: 180px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    line-height: 50px;
    color: white;
    margin: 0 auto;
    font-weight: 700;
    text-align: center;
    border-radius: 30px;
    transition: all 0.3s;
    outline: none;
    border: none;
    cursor: pointer;
}
.myButton:hover {
    transform: scale(0.95);
}
.myButton-green {
    background: #5e9f18;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(94,159,24, 0.8);
    -moz-box-shadow: 0px 4px 20px 0px rgba(94,159,24, 0.8);
    box-shadow: 0px 4px 20px 0px rgba(94,159,24, 0.8);
}

/* --- VIDEO --- */
.kmevents_video {
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.kmevents_video_background {
    position: absolute;
    top: 99px;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: rgba(58, 58, 58, 0.4);
}
.kmevents_video .video {
    width: 100%;
    height: 50vw;
    margin-top: 99px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: url(../images/background.png) center center repeat;
    background-size: 100%;
}
.kmevents_video .video:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.kmevents_video .video #player {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}
@media screen and (max-width: 787px) {
    .kmevents_video_background {
        display: none;
    }
    .kmevents_video {
        display: none;
    }
    #kmevents-page {
        background: #000000 url(../images/kmevents-page_background.png) no-repeat !important;
    }
}

.soundManager {
    float: right;
    width: 22px;
    height: 22px;
    padding: 7px 0 0 0;
    cursor: pointer;
}
.soundManager #unmute {
    display: none;
    width: 16px;
    height: 16px;
    padding: 3px;
}
.soundManager #mute {
    width: 22px;
    height: 22px;
    display: block;
}
@media screen and (max-width: 787px) {
    .soundManager {display: none}
}
.kmevents .logo {
    width: 148px;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#popup .popup-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#popup .popup-container {
    position: relative;
    z-index: 2;
    display: block;
    max-width: 90%;
    max-height: 90%;
}

#popup .popup-container img {
    display: table;
    max-width: 100%;
    max-height: calc(100% - 88px);
}

#popup .popup-container .popup-bottom {
    display: table;
    width: 100%;
    background: white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
}

#popup .popup-container .popup-bottom .myButton {
    margin: 10px;
}

.myButton-white {
    background: white;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow: 0px 4px 20px 0px rgba(0,0,0, 0.5);
    box-shadow: 0px 4px 20px 0px rgba(0,0,0, 0.5);
    color: black;
}

#actorPage .actorContent .actorContent_leftSide .myButton-green {
    margin-top: 12px;
}

#media-page .media.login-page .media-title {
    text-align: center;
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

.media.login-page .form-horizontal {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.media.login-page .form-horizontal .form-group {
    width: 100%;
    float: left;
    margin: 6px 0 25px;
}

.media.login-page .form-horizontal .form-group.error input {
    border: 2px solid red;
}

.media.login-page .form-horizontal .form-group label {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
    color: white;
}

.media.login-page .form-horizontal .form-group input {
    width: 99%;
    float: left;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    height: 41px;
    outline: none;
    border: 2px solid #fff;
    border-radius: 5px;
    background: transparent;
    color: white;
}

.media.login-page .form-horizontal .form-buttons {
    width: 100%;
    float: left;
}

.media.login-page .form-horizontal .form-buttons .myButton-green {
    display: block;
    float: none;
    margin: 18px auto;
    line-height: 48px;
}

#media-page .media.login-page {
    float: left;
    width: 100%;
    min-height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media screen and (max-width: 1000px) and (min-width: 788px) {
    #media-page .media.login-page {
        height: calc(100vh - 100px);
        min-height: 400px;
    }
}

@media screen and (max-width: 787px) {
    #media-page .media.login-page {
        height: calc(100vh - 100px);
        min-height: 400px;
    }
}

#index-new-page-wrapper {
    float: left;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: white;
}

#index-new-page {
    float: left;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    overflow-x: hidden;
    overflow-y: auto;
}

#index-new-page .content-wrapper {
    display: block;
    width: 590px;
    margin: 0 auto;
    min-height: 450px;
}


#index-new-page .title-wrapper {
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 23.5vh;
    position: relative;
}

#index-new-page .title {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    width: 100%;
    color: #1D1D1B;
    margin: 0;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 13px;
    margin-bottom: 46px;
}

#index-new-page .subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    width: 100%;
    color: #FF0041;
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.835em;
}

#index-new-page .top-vector {
    margin-bottom: 49px;
}

#index-new-page .bottom-vector {
    margin-top: 49px;
    transform: rotate(180deg);
}


#index-new-page .logo-items {
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 53px;
}

#index-new-page-wrapper .vector-1 {
    position: absolute;
    top: 0;
    left: calc(50% - 1000px);
}

#index-new-page-wrapper .vector-3 {
    position: absolute;
    bottom: 27px;
    right: calc(50% - 1000px);
}

#index-new-page-wrapper .vector-2 {
    position: absolute;
    top: -277px;
    right: -153px;
}

@media screen and (max-height: 500px) {
    #index-new-page {
        display: block;
    }
    
    #index-new-page .content-wrapper {
        margin-top: 50px;
    }
}

@media screen and (max-width: 670px) {
    #index-new-page .title {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 8px;
        margin-bottom: 30px;
    }
    
    #index-new-page .subtitle {
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.5em;
    }
    
    #index-new-page .content-wrapper {
        float: left;
        margin: 0 20px;
        width: calc(100% - 40px);
    }
    
    #index-new-page .logo-items {
        justify-content: center;
    }
    
    #index-new-page .logo-items a {
        margin: 10px;
    }
}