{% extends 'LsCoreBundle:Default:index_new_template.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block main_content %}
    <img class="subpage-tablet-bg" src="{{ asset('bundles/lscore/images/homepage/subpage-tablet-bg.svg') }}" alt="Background"/>
    <img class="subpage-mobile-bg" src="{{ asset('bundles/lscore/images/homepage/subpage-mobile-bg.svg') }}" alt="Background"/>
    
    <div class="page-content">
        <div class="container editor">
            <h1>{{ entity.title }}</h1>
            
            {{ entity.content|raw }}
        </div>
    </div>
{% endblock %}

{% block index_javascripts %}
    <script src="{{ asset('bundles/lscore/js/smooth-scrollbar.min.js') }}"></script>
    <script src="{{ asset('bundles/lscore/js/homepage.js') }}"></script>
    <script>
        $('html').easeScroll({
            animationTime: 1000,
            stepSize: 120,
            pulseAlgorithm: 1,
            pulseScale: 8,
            pulseNormalize: 1,
            accelerationDelta: 20,
            accelerationMax: 1,
            keyboardSupport: true,
            arrowScroll: 50,
            touchpadSupport: true
        });
    </script>
{% endblock %}