{% extends '::bambini.html.twig' %}

{% block main_content %}
    <div class="main-section">
        <div class="container">
            <h1 class="title">{{ bambini_cms_config.get('home_title', '') | raw }}</h1>
            <p class="description">{{ bambini_cms_config.get('home_description', '') | nl2br }}</p>
        </div>
    </div>
            
    <div class="list-section home">
        <div class="container">
            <div class="categories-left-list">
                <div class="list-title" onclick="toggleDropdown(this);">
                    Wybierz kategorię
                </div>
                <div class="items-wrapper">
                    {% for category in categories %}
                        <a href="{{ path('ls_bambini_coloring', {'categorySlug': category.slug}) }}" class="item">
                            {{ category.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>
                
            <div class="categories-list">
                {% for category in categories %}
                        <a href="{{ path('ls_bambini_coloring', {'categorySlug': category.slug}) }}" class="item">
                            <div class="item-wrapper">
                                <div class="image-wrapper">
                                    <img src="{{ category.getThumbWebPath('list') }}" alt="{{ category.title }}"/>
                                </div>
                            
                            {{ category.title }}
                            </div>
                        </a>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
