{% extends '::index.html.twig' %}

{% block stylesheets %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="{{ asset('bundles/lscore/css/homepage.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/lscore/css/editor.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <header id="header">
            <div class="container">
                <div class="container-wrapper">
                    <a class="logo" href="{{ path('ls_core_homepage') }}">
                        <img class="logo-item" src="{{ asset('bundles/lscore/images/kmgroup.svg') }}" alt="Kindla Music"/>
                    </a>

                    <ul class="menu">
                        <li><a href="#kindla-music">Kindla Music</a></li>
                        <li><a href="#km-publishing">KM Publishing</a></li>
                        <li><a href="#km-events">KM Events</a></li>
                        <li><a href="#mama-music">MAMA MUSIC Studio</a></li>
                        <li><a href="#kontakt">Kontakt</a></li>
                    </ul>
                    
                    <div class="mobile-menu-btn" onclick="openMobileMenu()">
                        <span class="text">Menu</span>
                        <div class="lines-wrapper">
                            <span></span>
                            <span class="middle"></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
                    
        <div class="mobile-menu">
            <div class="close-btn" onclick="closeMobileMenu();">
                Zamknij
                <img class="icon" src="{{ asset('bundles/lscore/images/homepage/icon-close.svg') }}" alt="Zamknij"/>
            </div>
            
            <ul class="menu">
                <li><a href="#kindla-music">Kindla Music</a></li>
                <li><a href="#km-publishing">KM Publishing</a></li>
                <li><a href="#km-events">KM Events</a></li>
                <li><a href="#mama-music">MAMA MUSIC Studio</a></li>
                <li><a href="#kontakt">Kontakt</a></li>
            </ul>
            
            <img class="bg" src="{{ asset('bundles/lscore/images/homepage/mobile-menu-bg.svg') }}" alt="Kindla Music"/>
        </div>
        
         {% block main_content %}
         {% endblock %}
                    
        <footer id="footer">
            <div class="container">
                <a class="logo" href="{{ path('ls_core_homepage') }}">
                    <img class="" src="{{ asset('bundles/lscore/images/kmgroup.svg') }}" alt="Kindla Music"/>
                </a>
                
                {% if cms_text.get('facebook_url', '') is not empty or cms_text.get('instagram_url', '') is not empty %}
                    <div class="socials-wrapper">
                        {% if cms_text.get('facebook_url', '') is not empty %}
                            <a class="facebook" href="{{ cms_text.get('facebook_url', '') }}" target="_blank">
                                <img class="icon" src="{{ asset('bundles/lscore/images/homepage/facebook.svg') }}" alt="Facebook"/>
                                <img class="icon hover" src="{{ asset('bundles/lscore/images/homepage/facebook-hover.svg') }}" alt="Facebook"/>
                            </a>
                        {% endif %}

                        {% if cms_text.get('instagram_url', '') is not empty %}
                            <a class="instagram" href="{{ cms_text.get('instagram_url', '') }}" target="_blank">
                                <img class="icon" src="{{ asset('bundles/lscore/images/homepage/instagram.svg') }}" alt="Instagram"/>
                                <img class="icon hover" src="{{ asset('bundles/lscore/images/homepage/instagram-hover.svg') }}" alt="Instagram"/>
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if cms_text.get('contact_email', '') is not empty %}
                    <a class="contact-mail" href="mailto:{{ cms_text.get('contact_email', '') }}">
                        <span>@: </span>
                        {{ cms_text.get('contact_email', '') }}
                    </a>
                {% endif %}
                
                {% if cms_text.get('contact_phone', '') is not empty %}
                    <a class="contact-phone" href="tel:{{ cms_text.get('contact_phone', '')|replace({' ': ''}) }}">
                        <span>T: </span>
                        {{ cms_text.get('contact_phone', '') }}
                    </a>
                {% endif %}
                
                <div class="bottom">
                    <div class="copyrights">
                        {{ cms_text.get('copyrights', '') }} <br>
                        Projekt i realizacja: <a href="" target="_blank">Lemonade Studio</a>
                    </div>
                        
                    {% if cms_text.get('privacy_policy_url', '') is not empty %}
                        <a class="privacy-policy" href="{{ cms_text.get('privacy_policy_url', '') }}">
                            Polityka prywatności
                        </a>
                    {% endif %}
                </div>  
            </div>  
        </footer>
                
        {% if app.request.cookies.get('close-cookies') is empty %}
            <div class="cookies-container">
                <div class="container">
                    <div class="content-wrapper">
                        <div class="text">{{ cms_text.get('cookies_info', '')|raw }}</div>
                        <div onclick="closeCookies();" class="btn">Akceptuję</div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {% block index_javascripts %}
        <script src="{{ asset('bundles/lscore/js/bxslider.min.js') }}"></script>
        <script src="{{ asset('bundles/lscore/js/tippy.js') }}"></script>
        <script src="{{ asset('bundles/lscore/js/smooth-scrollbar.min.js') }}"></script>
        <script src="https://www.youtube.com/iframe_api"></script>
        <script>
            var ytVideos = [];
            {% for key, video in videoGallery.movies %}
                ytVideos.push("{{ video.movieid }}");
            {% endfor %}
        </script>
        <script src="{{ asset('bundles/lscore/js/homepage.js') }}"></script>
        <script>
            $('html').easeScroll({
                animationTime: 1000,
                stepSize: 120,
                pulseAlgorithm: 1,
                pulseScale: 8,
                pulseNormalize: 1,
                accelerationDelta: 20,
                accelerationMax: 1,
                keyboardSupport: true,
                arrowScroll: 50,
                touchpadSupport: true
            });
        </script>
    {% endblock %}
{% endblock %}