{% extends 'LsCoreBundle:Default:index_new_template.html.twig' %}

{% block main_content %}
        <div class="section section-1">
            <div class="container">
                <div class="content-wrapper">
                    <h1 class="title">
                        {{ cms_text.get('home_section_1_title', '') | nl2br }}
                    </h1>
                    <div class="description">
                        {{ cms_text.get('home_section_1_text', '') | nl2br }}
                    </div>
                    <div class="btn-wrapper">
                        <a href="#kindla-music" class="btn">
                            Dowiedz się więcej
                        </a>
                    </div>
                </div>
            </div>

            <div class="bg-wrapper">
                <img class="bg-image" src="{{ asset('bundles/lscore/images/homepage/bg.svg') }}" alt="Kindla Music"/>
                <img class="bg-image small-desktop" src="{{ asset('bundles/lscore/images/homepage/bg-small-desktop.svg') }}" alt="Kindla Music"/>
                <img class="bg-image tablet" src="{{ asset('bundles/lscore/images/homepage/bg-tablet.svg') }}" alt="Kindla Music"/>
                <img class="bg-image mobile" src="{{ asset('bundles/lscore/images/homepage/bg-mobile.svg') }}" alt="Kindla Music"/>
                
                <img class="image-1" src="{{ cms_text.get('top_image_1', '') }}" alt="Kindla Music"/>
                <img class="image-2" src="{{ cms_text.get('top_image_2', '') }}" alt="Kindla Music"/>
                <img class="image-3" src="{{ cms_text.get('top_image_3', '') }}" alt="Kindla Music"/>
            </div>

            <a href="#kindla-music" class="scroll-down">
                <img src="{{ asset('bundles/lscore/images/homepage/arrow.svg') }}" alt="Kindla Music"/>
            </a>
        </div>
        <div class="section section-2" id="kindla-music">
            <div class="container">
                <div class="background-wrapper">
                    <img class="bg1" src="{{ asset('bundles/lscore/images/homepage/home-bg-3.svg') }}" alt="Kindla Music"/>
                    <img class="bg2" src="{{ asset('bundles/lscore/images/homepage/home-bg-4.svg') }}" alt="Kindla Music"/>
                    <img data-aos="fade-up" class="bg3" src="{{ asset('bundles/lscore/images/homepage/home-bg-5.png') }}" alt="Kindla Music"/>
                </div>
                
                <div class="content-wrapper">
                    <img data-aos="fade-up" class="logo" src="{{ asset('bundles/lscore/images/kindlamusic.svg') }}" alt="Kindla Music"/>
                    
                    <div data-aos="fade-up" class="description editor">
                        {{ cms_text.get('home_section_2_text', '') | raw }}
                    </div>
                    
                    <div data-aos="fade-up" class="btn-wrapper">
                        <a href="{{ cms_text.get('home_section_2_link', '') }}" class="btn">
                            Czytaj więcej
                        </a>
                    </div>
                </div>
                    
                <div class="partners-wrapper">
                    {{ render(controller('LsPartnersBundle:Front:block')) }}
                </div>
            </div>
        </div>
                
        <div class="section section-3" id="km-publishing">
            <div class="container">
                <div class="content-wrapper">
                    <img data-aos="fade-up" class="logo" src="{{ asset('bundles/lscore/images/kmpublishing.svg') }}" alt="KM Publishing"/>
                    
                    <div data-aos="fade-up" class="description editor">
                        {{ cms_text.get('home_section_3_text', '') | raw }}
                    </div>
                    
                    <div data-aos="fade-up" class="btn-wrapper">
                        <a href="{{ cms_text.get('home_section_3_link', '') }}" class="btn">
                            Czytaj więcej
                        </a>
                    </div>
                </div>
                            
                <div class="background-wrapper">
                    <img class="bg1" src="{{ asset('bundles/lscore/images/homepage/home-bg-6.svg') }}" alt="Kindla Music"/>
                    <img class="bg2" src="{{ asset('bundles/lscore/images/homepage/home-bg-7.svg') }}" alt="Kindla Music"/>
                    <img data-aos="fade-up" class="bg3" src="{{ asset('bundles/lscore/images/homepage/home-bg-8.png') }}" alt="Kindla Music"/>
                </div>
            </div>
        </div>
                
        <div class="section section-4" id="km-events">
            <div class="container">
                <div class="video-slider-wrapper" data-aos="fade-up">
                    <img class="bg1" src="{{ asset('bundles/lscore/images/homepage/home-bg-10.svg') }}" alt="Kindla Music"/>
                    <img class="bg2" src="{{ asset('bundles/lscore/images/homepage/home-bg-11.svg') }}" alt="Kindla Music"/>
                    
                    <div class="video-slider">
                        {% for key, video in videoGallery.movies %}
                            <div class="item item-{{ key }}{% if loop.first %} current{% endif %}">
                                <div id="video-{{ video.movieid }}" class="ytplayer"></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                    
                <div class="content-wrapper">
                    <img data-aos="fade-up" class="logo" src="{{ asset('bundles/lscore/images/kmevents.svg') }}" alt="KM Events"/>
                    
                    <div data-aos="fade-up" class="description editor">
                        {{ cms_text.get('home_section_4_text', '') | raw }}
                    </div>
                </div>
                    
                {{ render(controller('LsActorsBundle:Front:section')) }}
                    
                <div data-aos="fade-up" class="btn-wrapper">
                    <a href="{{ cms_text.get('home_section_4_link', '') }}" class="btn">
                        Czytaj więcej
                    </a>
                </div>
            </div>
        </div>
                
        <div class="section section-5" id="mama-music">
            <div class="container">
                <div class="content-wrapper">
                    <img data-aos="fade-up" class="logo" src="{{ asset('bundles/lscore/images/mamamusic-2.svg') }}" alt="MAMA MUSIC Studio"/>
                    
                    <div data-aos="fade-up" class="description editor">
                        {{ cms_text.get('home_section_5_text', '') | raw }}
                    </div>
                    
                    <div data-aos="fade-up" class="btn-wrapper">
                        <a href="{{ cms_text.get('home_section_5_link', '') }}" class="btn">
                            Czytaj więcej
                        </a>
                    </div>
                </div>
                            
                <div class="background-wrapper">
                    <img class="bg1" src="{{ asset('bundles/lscore/images/homepage/home-bg-6.svg') }}" alt="Kindla Music"/>
                    <img class="bg2" src="{{ asset('bundles/lscore/images/homepage/home-bg-7.svg') }}" alt="Kindla Music"/>
                    <img data-aos="fade-up" class="bg3" src="{{ asset('bundles/lscore/images/homepage/home-bg-9.png') }}" alt="Kindla Music"/>
                </div>
            </div>
        </div>
                
        <div class="section contact-section" id="kontakt">
            <div class="container">
                <div class="background-wrapper">
                    <img class="bg1" src="{{ asset('bundles/lscore/images/homepage/contact-bg-1.svg') }}" alt="Kindla Music"/>
                    <img class="bg2" src="{{ asset('bundles/lscore/images/homepage/contact-bg-2.svg') }}" alt="Kindla Music"/>
                    <img data-aos="fade-up" class="bg3" src="{{ asset('bundles/lscore/images/homepage/contact-bg-3.png') }}" alt="Kindla Music"/>
                </div>
                
                <div data-aos="fade-up" class="content-wrapper">
                    <div class="section-title">Kontakt</div>
                    {{ render(controller('LsContactBundle:Front:index')) }}
                    
                    <div id="contact-message">
                        <div class="success">
                            Dziękujemy! Twoja wiadomość została pomyślnie wysłana.
                        </div>
                        <div class="error">
                            Błąd! Wiadomość z formularza nie została wysłana.
                        </div>
                        <div class="btn" href="#" onclick="closeContactMessage();">Zamknij</div>
                    </div>
                </div>  
            </div>  
        </div>
{% endblock %}
