{% extends '::index.html.twig' %}

{% block content %}
    <div id="index-page">
        <div class="kmmusic">
            <div class="box">
                <img class="logo" src="{{ asset('bundles/lscore/images/kmmusic.png') }}">
                <a class="link" href="{{ path('ls_section_kmusic') }}">Przejdź dalej</a>
            </div>
        </div>
        <div class="kmpublishing">
            <div class="box">
                <img class="logo" src="{{ asset('bundles/lscore/images/kmpublishing.png') }}">
                <a class="link" href="{{ path('ls_section_kmpublishing') }}">Przejdź dalej</a>
            </div>
        </div>
        <div class="mamamusic">
            <div class="box">
                <img class="logo" src="{{ asset('bundles/lscore/images/mamamusic.png') }}">
                <a class="link" href="{{ path('ls_section_mamamusic') }}">Przejdź dalej</a>
            </div>
        </div>
        <div class="kmevents">
            <div class="box">
                <img class="logo" src="{{ asset('bundles/lscore/images/kmevents.png') }}">
                <a class="link" href="{{ path('ls_section_kmevents') }}">Przejdź dalej</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".box .link").hover(function() {
            $(this).parent().parent().toggleClass('hovered');
        });
    </script>
{% endblock %}