{% extends '::frontend.html.twig' %}

{% block content %}
    <div class="main-content">
        <div class="firstname">{{ 'brand.firstname'|trans }}</div>
        <div class="lastname">{{ 'brand.lastname'|trans }}</div>
        {#
        <div class="info">
            <span class="composer">{{ 'main.composer'|trans }}</span>
            <span class="lyricist">{{ 'main.lyricist'|trans }}</span>
            <span class="producer">{{ 'main.producer'|trans }}</span>
        </div>
        #}
        {% include 'LsAudioPlayerBundle:Front:player.html.twig' with { 'songs': songs } %}
    </div>
{% endblock %}
