{{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
<ul class="nav nav-tabs pills">
    <li class="active">
        <a data-toggle="tab" href="#tab-ustawienia">Treść</a>
    </li>
    <li>
        <a data-toggle="tab" href="#tab-seo">SEO</a>
    </li>
</ul>

<div class="tab-content" style="margin-top: 15px;">
    <div id="tab-ustawienia" class="tab-pane active">
        <div class="form-group">
            {{ form_label(form.title, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                {{ form_widget(form.title, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>
            
        <div class="form-group">
            {{ form_label(form.content, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                {{ form_widget(form.content, {'attr': {'class': 'form-control wysiwyg' }}) }}
            </div>
        </div>
    </div>
    <div id="tab-seo" class="tab-pane">
        {% if form_edit %}
            <div class="form-group">
                {{ form_label(form.slug, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.slug, {'attr': {'class': 'form-control' }}) }}
                    <p class="help-block">Element linku URL identyfikujący podstronę np. http://www.test.pl/<b>podstrona</b></p>
                </div>
            </div>
        {% else %}
            {% do form.slug.setRendered %}
        {% endif %}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="form-field">
                    {{ form_widget(form.seo_generate) }}
                </div>
            </div>
        </div>
                
        <div class="form-group">
            {{ form_label(form.seo_title, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                {{ form_widget(form.seo_title, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>
                
        <div class="form-group">
            {{ form_label(form.seo_keywords, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                {{ form_widget(form.seo_keywords, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>
                
        <div class="form-group">
            {{ form_label(form.seo_description, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                {{ form_widget(form.seo_description, {'attr': {'class': 'form-control' }}) }}
            </div>
        </div>
    </div>
</div>
<div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
        {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}
        {% if not form_edit %}
            {{ form_widget(form.submit_and_new, {'attr': {'class': 'btn btn-default' }}) }}
        {% endif %}
    </div>
</div>
{{ form_end(form) }}
