{% for locale in locales %}
    <a class="flag {{ locale.locale }}{% if locale.locale == current_locale %} active{% endif %}" href="{{ locale.link }}" title="{{ locale.locale_target_language }}"></a>
{% endfor %}
