@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

$desktop-min: 1001px;
$tablet-max: 1000px;
$tablet-min: 788px;
$mobile-max: 787px;

@mixin breakpoint($breakpoints...) {

	@each $breakpoint in $breakpoints {
		@if $breakpoint == mobile {
			@media screen and (max-width: $mobile-max) {
				@content;
			}
		} @else if $breakpoint == tablet {
			@media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
				@content;
			}
        } @else if $breakpoint == desktop {
            @media screen and (min-width: $desktop-min) {
				@content;
			}
        }
	}
}

@mixin print() {
    @media print {
        @content;
    }
}