@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

$desktop-min: 1500px;
$laptop-max: 1499px;
$laptop-min: 1366px;
$tablet-max: 1365px;
$tablet-min: 768px;
$mobile-max: 767px;

@mixin breakpoint($breakpoints...) {
    @each $breakpoint in $breakpoints {
        @if $breakpoint == mobile {
            @media screen and (max-width: $mobile-max) {
                @content;
            }
        } @else if $breakpoint == tablet {
            @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
                @content;
            }
        } @else if $breakpoint == laptop {
            @media screen and (min-width: $laptop-min) and (max-width: $laptop-max) {
                @content;
            }
        } @else if $breakpoint == desktop {
            @media screen and (min-width: $desktop-min) {
                @content;
            }
        }
    }
}

[data-src] {
    visibility: hidden;
}

[data-aos] {
    opacity: 0;
    
    &.custom-fade-up {
        animation-name: fadeUp;
        animation-duration: 1s;
        opacity: 1;
    }
}

@keyframes fadeUp {
    from {
        transform: translateY(15vh);
        opacity: 0;
    }
    
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

body {
    font-weight: normal;
    color: #1E1E1E;
    font-size: 14px;
    line-height: 25px;
    background-color: #FFFFFF;
    position: relative;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    
    &.overflow {
        overflow: hidden;
    }
    
    .editor {
        p {
            font-family: 'Poppins', sans-serif;
            color: #1E1E1E;
            font-size: 14px;
            line-height: 25px;
            
            @include breakpoint(laptop, tablet) {
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.btn {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    outline: none;
    color: #1E1E1E;
    background: transparent;
    border: 2px solid #ff0041;
    border-radius: 32px;
    display: inline-block;
    text-align: center;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    padding: 21px 45px;
    
    @include breakpoint(laptop, tablet, mobile) {
        font-size: 12px;
        padding: 18px 38px;
    }

    &:hover {
        background: #ff0041;
        color: white;
    }
}

.container {
    display: block;
    position: relative;
    width: 1307px;
    margin: 0 auto;
    @include clearfix();

    @include breakpoint(laptop) {
        width: 1078px;
    }

    @include breakpoint(tablet) {
        width: 667px;
    }

    @include breakpoint(mobile) {
        width: calc(100% - 40px);
        margin: 0 20px;
    }
}

#page-wrapper {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 47px 0;
    background: transparent;
    transition: all 0.3s;
    
    @include breakpoint(tablet) {
        padding: 40px 0;
    }
    
    @include breakpoint(mobile) {
        padding: 24px 0;
    }
    
    &.fixed {
        padding-top: 12px;
        padding-bottom: 10px;
        background: white;
        box-shadow: 0px 3px 6px #00000012;
        
        @include breakpoint(tablet, mobile) {
            padding: 15px 0;
        }
        
        .mobile-menu-btn {
            color: #1E1E1E;
            
            .lines-wrapper {
                span {
                    background: #1E1E1E;
                }
            }
        }
    }
    
    .container {
        min-width: 1307px;
        width: calc(100% - 320px);
        
        @include breakpoint(laptop) {
            width: calc(100% - 156px);
            min-width: 1078px;
        }
        
        @include breakpoint(tablet) {
            min-width: 667px;
        }

        @include breakpoint(mobile) {
            width: calc(100% - 40px);
            margin: 0 20px;
            min-width: unset;
        }
    }
    
    .logo {
        float: left;
        
        img {
            float: left;
            
            @include breakpoint(laptop, tablet, mobile) {
                width: 65px;
            }
        }
    }
    
    .container-wrapper {
        float: left;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        
        @include breakpoint(tablet, mobile) {
            justify-content: space-between;
        }
    }
    
    .mobile-menu-btn {
        cursor: pointer;
        display: none;
        float: right;
        align-content: center;
        align-items: center;
        font-size: 12px;
        color: white;
        font-weight: bold;
        
        @include breakpoint(tablet, mobile) {
            display: flex;
        }
        
        .text {
            @include breakpoint(mobile) {
                display: none;
            }
        }
        
        .lines-wrapper {
            display: block;
            width: 28px;
            margin-left: 21px;
            
            span {
                float: left;
                width: 100%;
                height: 3px;
                border-radius: 5px;
                background: white;
                
                &.middle {
                    width: 55%;
                    float: right;
                    margin: 6px 0;
                }
            }
        }
    }
    
    .menu {
        float: left;
        list-style: none;
        margin: 0;
        margin-left: 55px;
        
        @include breakpoint(laptop) {
            margin-left: 21px;
        }
        
        @include breakpoint(tablet, mobile) {
            display: none;
        }
        
        li {
            float: left;
            margin: 0;
            margin-right: 20px;
            list-style: none;
            
            @include breakpoint(laptop) {
                margin-right: 7px;
            }
            
            &:before {
                display: none;
            }
            
            a {
                float: left;
                text-decoration: none;
                padding: 5px;
                font-size: 14px;
                font-weight: 600;
                color: #1E1E1E;
                margin: 0;
                
                @include breakpoint(laptop) {
                    font-size: 12px;
                }
                
                &:hover {
                    color: #FF0041;
                }
            }
        }
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
    width: 200px;
    padding-right: 56px;
    padding-top: 53px;
    display: none;
    transition: all 0.4s;
    
    @include breakpoint(tablet, mobile) {
        transform: translateX(500px);
        display: block;
    }
    
    @include breakpoint(mobile) {
        padding-right: 30px;
        padding-top: 31px;
    }
    
    &.open {
        transform: translateX(0px);
    }
    
    .close-btn {
        position: relative;
        z-index: 1;
        float: right;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        align-items: center;
        align-content: center;
        color: #FFFFFF;
        cursor: pointer;
        
        .icon {
            float: right;
            margin-left: 27px;
            
            @include breakpoint(mobile) {
                margin-left: 19px;
            }
        }
    }
    
    .menu {
        float: right;
        width: 100%;
        list-style: none;
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0;
        margin-top: 75px;
        margin-right: 81px;
        
        li {
            float: left;
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
            margin-bottom: 30px;
            
            &:before {
                display: none;
            }
            
            a {
                margin: 0;
                padding: 0;
                float: right;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 500;
                text-decoration: none;
            }
        }
    }
    
    .bg {
        position: absolute;
        z-index: 0;
        top: -150px;
        right: -268px;
        
        @include breakpoint(mobile) {
            top: -172px;
            right: -294px;
        }
    }
}

.section {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.section-1 {
    padding-top: 286px;
    padding-bottom: 50px;
    min-height: 564px;
    
    @include breakpoint(laptop) {
        padding-top: 182px;
        padding-bottom: 50px;
        min-height: 368px;
    }
    
    @include breakpoint(tablet) {
        padding-top: 601px;
        padding-bottom: 98px;
        min-height: unset;
    }
    
    @include breakpoint(mobile) {
        padding-top: 400px;
        padding-bottom: 82px;
        min-height: unset;
    }
    
    .content-wrapper {
        float: left;
        width: 540px;
        
        @include breakpoint(tablet, mobile) {
            width: 100%;
        }
        
        .title {
            float: left;
            width: 100%;
            font-size: 80px;
            line-height: 80px;
            font-weight: 600;
            margin-bottom: 35px;
            
            @include breakpoint(laptop) {
                font-size: 60px;
                line-height: 60px;
                margin-bottom: 25px;
            }
            
            @include breakpoint(tablet) {
                font-size: 60px;
                line-height: 60px;
                margin-bottom: 22px;
                text-align: center;
            }
            
            @include breakpoint(mobile) {
                font-size: 35px;
                line-height: 35px;
                margin-bottom: 22px;
                text-align: center;
            }
            
            &::first-line {
                color: #FF0041;
            }
        }
        
        .description {
            float: left;
            width: 387px;
            font-size: 14px;
            line-height: 25px;
            font-weight: 500;
            margin-bottom: 50px;
            
            @include breakpoint(laptop) {
                font-size: 12px;
                line-height: 20px;
                width: 330px;
                margin-bottom: 31px;
            }
            
            @include breakpoint(tablet) {
                font-size: 12px;
                line-height: 20px;
                width: 330px;
                margin: 0 auto;
                display: table;
                float: none;
                text-align: center;
            }
            
            @include breakpoint(mobile) {
                font-size: 12px;
                line-height: 20px;
                width: 100%;
                margin: 0;
                text-align: center;
            }
        }
        
        .btn-wrapper {
            float: left;
            width: 100%;
            
            @include breakpoint(tablet) {
                margin-top: 25px;
                text-align: center;
            }
            
            @include breakpoint(mobile) {
                margin-top: 25px;
                text-align: center;
            }
        }
    }
    
    .bg-wrapper {
        position: absolute;
        top: 0;
        right: calc(50% - 960px);
        width: 930px;
        height: 900px;
        overflow: hidden;
        z-index: 3;
        
        @include breakpoint(laptop) {
            right: calc(50% - 750px);
            width: 715px;
            height: 600px;
        }
        
        @include breakpoint(tablet) {
            right: 0;
            width: 565px;
            height: 578px;
        }
        
        @include breakpoint(mobile) {
            right: 0;
            width: 375px;
            height: 389px;
        }
        
        .bg-image {
            float: left;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 3;
            
            &.mobile,
            &.tablet,
            &.small-desktop {
                display: none;
            }
            
            @include breakpoint(laptop) {
                display: none;
                
                &.small-desktop {
                    display: block;
                }
            }
            
            @include breakpoint(tablet) {
                display: none;
                
                &.tablet {
                    display: block;
                }
            }
            
            @include breakpoint(mobile) {
                display: none;
                
                &.mobile {
                    display: block;
                }
            }
        }
        
        .image-1 {
            position: absolute;
            z-index: 1;
            top: 91px;
            left: 23px;
            border-radius: 100px;
            
            @include breakpoint(laptop) {
                top: 63px;
                left: 32px;
                height: 213px;
                border-radius: 70px;
            }
            
            @include breakpoint(tablet) {
                top: 100px;
                left: 13px;
                height: 202px;
                border-radius: 70px;
            }
            
            @include breakpoint(mobile) {
                top: 72px;
                left: 13px;
                width: 116px;
                border-radius: 35px;
                z-index: 2;
            }
        }
        
        .image-2 {
            position: absolute;
            z-index: 1;
            top: 191px;
            left: 422px;
            border-radius: 70px;
            
            @include breakpoint(laptop) {
                top: 132px;
                left: 297px;
                height: 206px;
                border-radius: 70px;
            }
            
            @include breakpoint(tablet) {
                top: 163px;
                left: 265px;
                height: 194px;
                border-radius: 55px;
            }
            
            @include breakpoint(mobile) {
                top: 74px;
                left: 253px;
                width: 137px;
                border-radius: 40px;
                z-index: 2;
            }
        }
        
        .image-3 {
            position: absolute;
            z-index: 1;
            top: 386px;
            left: 69px;
            height: 456px;
            border-radius: 130px;
            
            @include breakpoint(laptop) {
                top: 261px;
                left: 66px;
                height: 307px;
                border-radius: 115px;
            }
            
            @include breakpoint(tablet) {
                top: 287px;
                left: 43px;
                height: 294px;
                border-radius: 128px;
            }
            
            @include breakpoint(mobile) {
                top: 162px;
                left: 73px;
                height: 226px;
                border-radius: 0;
            }
        }
    }
    
    .scroll-down {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px;
        transition: all 0.3s;
        
        @include breakpoint(laptop) {
            bottom: 33px;
        }
        
        @include breakpoint(tablet) {
            bottom: 10px;
        }
        
        @include breakpoint(mobile) {
            bottom: 10px;
        }
        
        &:hover {
            transform: translate(-50%, -5px);
        }
        
        img {
            float: left;
            
            @include breakpoint(mobile) {
                width: 15px;
            }
        }
    }
}

.section-2 {
    padding-top: 60px;
    padding-bottom: 50px;
    
    @include breakpoint(laptop) {
        padding-top: 47px;
        padding-bottom: 0px;
    }
    
    @include breakpoint(tablet) {
        padding-top: 64px;
        padding-bottom: 0px;
    }
    
    @include breakpoint(mobile) {
        padding-top: 64px;
        padding-bottom: 0px;
    }
    
    .background-wrapper {
        float: left;
        width: 600px;
        height: 610px;
        position: relative;
        margin-left: 26px;
        
        @include breakpoint(laptop) {
            width: 501px;
            height: 509px;
            margin-left: 20px;
        }
        
        @include breakpoint(tablet) {
            width: 469px;
            height: 477px;
            margin: 0 auto;
            display: table;
            float: none;
            position: relative;
            left: -29px;
        }
        
        @include breakpoint(mobile) {
            width: 312px;
            height: 317px;
            margin: 0 auto;
            display: table;
            float: none;
        }
        
        .bg3 {
            position: relative;
            z-index: 1;
            
            @include breakpoint(laptop, tablet, mobile) {
                width: 100%;
            }
        }
        
        .bg2 {
            position: absolute;
            z-index: 0;
            top: 64px;
            left: -92px;
            
            @include breakpoint(laptop) {
                top: 53px;
                left: -77px;
                width: 387px;
            }
            
            @include breakpoint(tablet) {
                top: 53px;
                left: -77px;
                width: 362px;
            }
            
            @include breakpoint(mobile) {
                top: 32px;
                left: -48px;
                width: 241px;
            }
        }
        
        .bg1 {
            position: absolute;
            z-index: 2;
            top: 103px;
            left: -36px;
            
            @include breakpoint(laptop) {
                top: 86px;
                left: -29px;
                width: 87px;
            }
            
            @include breakpoint(tablet) {
                top: 81px;
                left: -29px;
                width: 87px;
            }
            
            @include breakpoint(mobile) {
                top: 53px;
                left: -18px;
                width: 54px;
            }
        }
    }
    
    .content-wrapper {
        float: right;
        width: 476px;
        margin-top: 132px;
        margin-right: 6px;
        margin-bottom: 50px;
        
        @include breakpoint(laptop) {
            width: 407px;
            margin-right: 0px;
            margin-top: 103px;
        }
        
        @include breakpoint(tablet) {
            width: 100%;
            margin-right: 0px;
            margin-top: -2px;
            margin-bottom: 0px;
        }
        
        @include breakpoint(mobile) {
            width: 100%;
            margin-right: 0px;
            margin-top: 11px;
            margin-bottom: 0px;
            text-align: center;
        }
        
        .logo {
            float: left;
            width: 144px;
            
            @include breakpoint(laptop, tablet, mobile) {
                width: 107px;
            }
            
            @include breakpoint(mobile) {
                float: none;
                display: table;
                margin: 0 auto;
            }
        }
        
        .description {
            float: left;
            margin-top: 37px;
            width: 87%;
            
            @include breakpoint(laptop) {
                margin-top: 31px;
            }
            
            @include breakpoint(tablet) {
                margin-top: 31px;
            }
            
            @include breakpoint(mobile) {
                width: 100%;
                margin-top: 31px;
                text-align: center;
            }
        }
        
        .btn-wrapper {
            float: left;
            width: 100%;
            margin-top: 38px;
            
            @include breakpoint(laptop) {
                margin-top: 30px;
            }
            
            @include breakpoint(tablet) {
                margin-top: 30px;
            }
            
            @include breakpoint(mobile) {
                margin-top: 30px;
                text-align: center;
            }
        }
    }
    
    .bx-wrapper,
    .bx-viewport {
        float: left;
        width: 100% !important;
        max-width: 100% !important;
    }
    
    .partners-wrapper {
        float: left;
        width: 100%;
        visibility: hidden;
        margin-top: 86px;
        
        @include breakpoint(laptop) {
            margin-top: 46px;
        }
        
        @include breakpoint(tablet) {
            margin-top: 33px;
        }
        
        @include breakpoint(mobile) {
            margin-top: 33px;
        }
    }
    
    .partners {
        float: left;
        width: 100%;
        
        a {
            float: left;
            width: 170px !important;
            height: 76px !important;
            margin-right: 16.7px !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            
            @include breakpoint(laptop) {
                width: 140px !important;
                height: 63px !important;
                margin-right: 14px !important;
            }
            
            @include breakpoint(tablet) {
                width: 133px !important;
                height: 53px !important;
                margin-right: 10px !important;
            }
            
            @include breakpoint(mobile) {
                width: 100px !important;
                height: 50px !important;
                margin-right: 10px !important;
            }
            
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

.section-3 {
    padding-top: 85px;
    padding-bottom: 50px;
    
    @include breakpoint(laptop) {
        padding-top: 108px;
        padding-bottom: 25px;
    }
    
    @include breakpoint(tablet) {
        padding-top: 110px;
        padding-bottom: 75px;
    }
    
    @include breakpoint(mobile) {
        padding-top: 110px;
        padding-bottom: 0px;
    }
    
    .content-wrapper {
        float: left;
        width: 488px;
        margin-top: 109px;
        
        @include breakpoint(laptop) {
            width: 407px;
            margin-top: 68px;
        }
        
        @include breakpoint(tablet) {
            width: 397px;
            margin-top: 54px;
        }
        
        @include breakpoint(mobile) {
            width: 100%;
            margin-top: 0px;
            text-align: center;
        }
        
        .logo {
            width: 135px;
            
            @include breakpoint(laptop) {
                width: 101px;
            }
            
            @include breakpoint(tablet) {
                width: 101px;
            }
            
            @include breakpoint(mobile) {
                width: 101px;
            }
        }
        
        .description {
            float: left;
            width: 100%;
            margin-top: 31px;
            
            @include breakpoint(laptop) {
                margin-top: 25px;
            }
            
            @include breakpoint(tablet) {
                margin-top: 25px;
            }
            
            @include breakpoint(mobile) {
                margin-top: 25px;
                text-align: center;
            }
        }
        
        .btn-wrapper {
            float: left;
            width: 100%;
            margin-top: 38px;
            
            @include breakpoint(laptop) {
                margin-top: 30px;
            }
            
            @include breakpoint(tablet) {
                margin-top: 30px;
            }
            
            @include breakpoint(mobile) {
                margin-top: 30px;
                text-align: center;
            }
        }
    }
    
    .background-wrapper {
        float: right;
        position: relative;
        width: 488px;
        
        @include breakpoint(laptop) {
            width: 378px;
            margin-right: 71px;
        }
        
        @include breakpoint(tablet) {
            width: 377px;
            margin-right: -194px;
        }
        
        @include breakpoint(mobile) {
            display: none;
        }
        
        .bg1 {
            position: absolute;
            bottom: -27px;
            left: 116px;
            z-index: 0;
            
            @include breakpoint(laptop) {
                width: 358px;
                bottom: -20px;
                left: 87px;
            }
            
            @include breakpoint(tablet) {
                width: 358px;
                bottom: -70px;
                left: -45px;
            }
        }
        
        .bg2 {
            position: absolute;
            bottom: -9px;
            left: 193px;
            z-index: 2;
            
            @include breakpoint(laptop) {
                width: 81px;
                bottom: -6px;
                left: 148px;
            }
            
            @include breakpoint(tablet) {
                width: 81px;
                bottom: -56px;
                left: 21px;
            }
        }
        
        .bg3 {
            position: relative;
            z-index: 1;
            
            @include breakpoint(laptop, tablet) {
                width: 100%;
            }
        }
    }
}

.section-5 {
    padding-top: 94px;
    padding-bottom: 50px;
    
    @include breakpoint(laptop) {
        padding-bottom: 0px;
        padding-top: 108px;
    }
    
    @include breakpoint(tablet) {
        padding-bottom: 75px;
        padding-top: 121px;
    }
    
    @include breakpoint(mobile) {    
        padding-top: 63px;
        padding-bottom: 0px;
    }
    
    .content-wrapper {
        float: left;
        width: 488px;
        margin-top: 124px;
        
        @include breakpoint(laptop) {
            width: 407px;
            margin-top: 83px;
        }
        
        @include breakpoint(tablet) {
            width: 407px;
            margin-top: 83px;
        }
        
        @include breakpoint(mobile) {
            width: 100%;
            margin-top: 0px;
            text-align: center;
        }
        
        .logo {
            width: 245px;
            
            @include breakpoint(laptop) {
                width: 175px;
            }
            
            @include breakpoint(tablet) {
                width: 175px;
            }
            
            @include breakpoint(mobile) {
                width: 175px;
            }
        }
        
        .description {
            float: left;
            width: 100%;
            margin-top: 37px;
            
            @include breakpoint(laptop) {
                margin-top: 26px;
            }
            
            @include breakpoint(tablet) {
                margin-top: 26px;
            }
            
            @include breakpoint(mobile) {
                margin-top: 26px;
                text-align: center;
            }
        }
        
        .btn-wrapper {
            float: left;
            width: 100%;
            margin-top: 38px;
            
            @include breakpoint(laptop) {
                margin-top: 31px;
            }
            
            @include breakpoint(tablet) {
                margin-top: 31px;
            }
            
            @include breakpoint(mobile) {
                margin-top: 31px;
                text-align: center;
            }
        }
    }
    
    .background-wrapper {
        float: right;
        position: relative;
        width: 488px;
        
        @include breakpoint(laptop) {
            width: 378px;
        }
        
        @include breakpoint(tablet) {
            width: 378px;
            margin-right: -198px;
        }
        
        @include breakpoint(mobile) {
            display: none;
        }
        
        .bg1 {
            position: absolute;
            bottom: -23px;
            left: -73px;
            z-index: 0;
            
            @include breakpoint(laptop) {
                width: 358px;
                bottom: -19px;
                left: -58px;
            }
            
            @include breakpoint(tablet) {
                width: 358px;
                bottom: -69px;
                left: -48px;
            }
        }
        
        .bg2 {
            position: absolute;
            top: 164px;
            left: -17px;
            z-index: 2;
            
            @include breakpoint(laptop) {
                width: 81px;
                top: 126px;
                left: -14px;
            }
            
            @include breakpoint(tablet) {
                width: 81px;
                top: 442px;
                left: 16px;
                z-index: 1;
            }
        }
        
        .bg3 {
            position: relative;
            z-index: 1;
            
            @include breakpoint(laptop, tablet) {
                width: 100%;
            }
            
            @include breakpoint(tablet) {
                width: 100%;
                z-index: 2;
            }
        }
    }
}

.form-group {
    float: left;
    width: 100%;
    margin-bottom: 26px;
    
    @include breakpoint(laptop) {
        margin-bottom: 22px;
    }

    @include breakpoint(tablet) {
        margin-bottom: 23px;
    }

    @include breakpoint(mobile) {
        margin-bottom: 21px;
    }
    
    &.left {
        float: left;
        width: calc(50% - 10px);
    }
    
    &.right {
        float: right;
        width: calc(50% - 10px);
    }
    
    &.accept {
        width: 395px;
        
        @include breakpoint(tablet, mobile) {
            width: 100%;
        }
    }
    
    &.submit {
        float: right;
        width: auto;
        
        @include breakpoint(tablet, mobile) {
            width: 100%;
            text-align: center;
        }
    }
    
    .recaptcha {
        float: left;
    }
}

textarea, input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #C2C2C2;
    padding-bottom: 18px;
    font-weight: 600;
    resize: none;
    font-family: 'Poppins', sans-serif;

    @include breakpoint(laptop) {
        padding-bottom: 14px;
    }

    @include breakpoint(tablet) {
        padding-bottom: 16px;
    }

    @include breakpoint(mobile) {
        padding-bottom: 15px;
    }

    &::-webkit-input-placeholder {
        color: #B7B7B7;
        font-size: 13px;
        font-weight: normal;
        
        @include breakpoint(laptop) {
            font-size: 12px;
        }

        @include breakpoint(tablet) {
            font-size: 12px;
        }

        @include breakpoint(mobile) {
            font-size: 12px;
        }
    }

    &::placeholder {
        color: #B7B7B7;
        font-size: 14px;
        font-weight: normal;

        @include breakpoint(laptop) {
            font-size: 12px;
        }

        @include breakpoint(tablet) {
            font-size: 12px;
        }

        @include breakpoint(mobile) {
            font-size: 12px;
        }
    }
}

textarea {
    height: 103px;
    font-family: 'Poppins', sans-serif;

    @include breakpoint(laptop) {
        height: 95px;
    }

    @include breakpoint(tablet, mobile) {
        height: 95px;
    }
}

.checkbox {
    cursor: pointer;
    float: left;
    width: 100%;
    position: relative;

    input {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        visibility: hidden;

        &:checked ~ .checkmark {
            .checked {
                display: block;
                float: left;
                position: absolute;
                top: -1px;
                left: -1px;
                width: calc(100% + 2px);
                height: calc(100% + 2px);
                z-index: 2;
            }
        }
    }

    .checkmark {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 2px;
        left: 0;
        z-index: 2;
        border: 1px solid #CACDD5;
        margin-right: 9px;
        background: white;

        .checked {
            display: none;
        }
    }

    .text {
        float: left;
        width: calc(100% - 30px);
        padding-left: 30px;
        font-size: 11px;
        line-height: 16px;
        position: relative;
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        
        p {
            font-size: 11px;
            line-height: 16px;
            font-family: 'Poppins', sans-serif;
        }

        a {
            color: #1E1E1E;
            text-decoration: underline;
            
            &:hover {
                color: #FF0041;
            }
        }
    }
}

.contact-section {
    padding-top: 15px;
    padding-bottom: 50px;
    min-height: 800px;
    
    @include breakpoint(laptop) {
        padding-top: 66px;
        min-height: unset;
        padding-bottom: 25px;
    }
    
    @include breakpoint(tablet) {
        padding-top: 66px;
        min-height: unset;
        padding-bottom: 59px;
    }
    
    @include breakpoint(mobile) {
        padding-top: 100px;
        min-height: unset;
        padding-bottom: 43px;
    }
    
    .background-wrapper {
        position: absolute;
        top: 0;
        left: -408px;
        
        @include breakpoint(laptop) {
            left: -270px;
        }
        
        @include breakpoint(tablet, mobile) {
            display: none;
        }
        
        .bg1 {
            position: absolute;
            right: 99px;
            bottom: 42px;
            z-index: 2;
            
            @include breakpoint(laptop) {
                width: 108px;
                right: 69px;
                bottom: 28px;
            }
        }
        
        .bg2 {
            position: absolute;
            bottom: -41px;
            left: 41px;
            z-index: 0;
            
            @include breakpoint(laptop) {
                width: 285px;
                bottom: -31px;
                left: 27px;
            }
        }
        
        .bg3 {
            position: relative;
            z-index: 1;
            
            @include breakpoint(laptop) {
                width: 496px;
            }
        }
    }
    
    .content-wrapper {
        float: right;
        width: 649px;
        margin-top: 215px;
        margin-right: 187px;
        
        @include breakpoint(laptop) {
            width: 627px;
            margin-top: 113px;
            margin-right: 89px;
        }
        
        @include breakpoint(tablet) {
            width: 100%;
            margin-top: 0px;
            margin-right: 0px;
        }
        
        @include breakpoint(mobile) {
            width: 100%;
            margin-top: 0px;
            margin-right: 0px;
        }
        
        .section-title {
            float: left;
            width: 100%;
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 54px;
            
            @include breakpoint(laptop) {
                font-size: 30px;
                margin-bottom: 26px;
            }
            
            @include breakpoint(tablet) {
                font-size: 30px;
                margin-bottom: 44px;
                text-align: center;
            }
            
            @include breakpoint(mobile) {
                font-size: 30px;
                margin-bottom: 26px;
                text-align: center;
            }
        }
    }
}

#contact-message {
    display: none;
    width: 100%;
    float: left;
    height: 300px;
    padding-bottom: 100px;
    text-align: center;

    .success, .error {
        display: none;
        font-size: 20px;
        width: 400px;
        text-align: center;
        margin: 0 auto;
        line-height: 30px;
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .success {
        color: green;
    }

    .error {
        color: red;
    }

    .btn {
        max-width: 200px;
    }
}

#footer {
    float: left;
    width: 100%;
    border-bottom: 9px solid #FF0041;
    padding-bottom: 80px;
    
    @include breakpoint(laptop) {
        padding-bottom: 55px;
    }
    
    @include breakpoint(tablet) {
        padding-bottom: 55px;
    }
    
    @include breakpoint(mobile) {
        padding-bottom: 25px;
        text-align: center;
    }
    
    .logo {
        float: left;
        width: 81px;
        
        @include breakpoint(laptop) {
            width: 62px;
        }
        
        @include breakpoint(tablet) {
            width: 62px;
        }
        
        @include breakpoint(mobile) {
            width: 62px;
            float: none;
            display: table;
            margin: 0 auto;
            margin-bottom: 39px;
        }
        
        img {
            float: left;
            width: 100%;
        }
    }
    
    .contact-mail {
        float: left;
        margin-left: 91px;
        text-decoration: none;
        font-size: 14px;
        color: #1E1E1E;
        margin-top: 13px;
        
        @include breakpoint(laptop) {
            font-size: 12px;
            margin-left: 48px;
            margin-top: 8px;
        }
        
        @include breakpoint(tablet) {
            font-size: 12px;
            margin-left: 48px;
            margin-top: 8px;
        }
        
        @include breakpoint(mobile) {
            font-size: 12px;
            float: none;
            margin: 0 auto;
            display: table;
            margin-bottom: 9px;
        }
        
        span {
            color: #FF0041;
            font-weight: bold;
        }
        
        &:hover {
            text-decoration: underline;
        }
    }
    
    
    .contact-phone {
        float: left;
        margin-left: 50px;
        text-decoration: none;
        font-size: 14px;
        color: #1E1E1E;
        margin-top: 13px;
        
        @include breakpoint(laptop) {
            font-size: 12px;
            margin-top: 8px;
            margin-left: 30px;
        }
        
        @include breakpoint(tablet) {
            font-size: 12px;
            margin-top: 8px;
            margin-left: 30px;
        }
        
        @include breakpoint(mobile) {
            font-size: 12px;
            float: none;
            margin: 0 auto;
            display: table;
        }
        
        span {
            color: #FF0041;
            font-weight: bold;
        }
        
        &:hover {
            text-decoration: underline;
        }
    }
    
    .socials-wrapper {
        float: left;
        margin-left: 65px;
        
        @include breakpoint(laptop) {
            margin-left: 43px;
        }
        
        @include breakpoint(tablet) {
            margin-left: 39px;
        }
        
        @include breakpoint(mobile) {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-left: 0px;
            margin-bottom: 13px;
        }
    }
    
    .facebook,
    .instagram {
        float: left;
        width: 43px;
        height: 43px;
        position: relative;
        text-decoration: none;
        margin: 0 5px;
        
        &:hover {
            .icon {
                opacity: 0;
                
                &.hover {
                    opacity: 1;
                }
            }
        }
        
        .icon {
            float: left;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 1;
            transition: all 0.3s;
            
            &.hover {
                z-index: 2;
                opacity: 0;
            }
        }
    }
    
    .bottom {
        float: left;
        width: 100%;
        margin-top: 40px;
        
        @include breakpoint(laptop) {
            margin-top: 34px;
        }
        
        @include breakpoint(tablet) {
            margin-top: 34px;
        }
        
        @include breakpoint(mobile) {
            margin-top: 30px;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
        
        .copyrights {
            float: left;
            font-size: 13px;
            line-height: 25px;
            
            @include breakpoint(laptop) {
                font-size: 12px;
            }
            
            @include breakpoint(tablet) {
                font-size: 12px;
            }
            
            @include breakpoint(mobile) {
                font-size: 12px;
                margin-top: 31px;
            }
            
            a {
                text-decoration: none;
                color: #1E1E1E;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        
        .privacy-policy {
            float: right;
            font-size: 13px;
            line-height: 25px;
            text-decoration: underline;
            color: #1E1E1E;
            
            @include breakpoint(laptop) {
                font-size: 12px;
            }
            
            @include breakpoint(tablet) {
                font-size: 12px;
            }
            
            
            &:hover {
                color: #FF0041;
            }
        }
    }
}

.section-4 {
    padding-top: 210px;
    padding-bottom: 50px;
    
    @include breakpoint(laptop) {    
        padding-top: 150px;
        padding-bottom: 0px;
    }
    
    @include breakpoint(tablet) {    
        padding-top: 165px;
        padding-bottom: 0px;
    }
    
    @include breakpoint(mobile) {
        padding-top: 104px;
        padding-bottom: 0px;
    }

    .video-slider-wrapper {
        float: left;
        width: 647px;
        height: 363px;
        position: relative;
        z-index: 51;
        margin-bottom: 77px;
        
        @include breakpoint(laptop) {    
            width: 541px;
            height: 303px;
        }
        
        @include breakpoint(tablet) {    
            width: 541px;
            height: 303px;
            float: none;
            margin: 0 auto;
            display: table;
        }
        
        @include breakpoint(mobile) {    
            max-width: 100%;
            width: 335px;
            height: 188px;
            float: none;
            margin: 0 auto;
            display: table;
        }
        
         &:before {
            content: "";
            position: absolute;
            top: -1px;
            left: 100%;
            width: 10000px;
            height: calc(100% + 2px);
            background: white;
            z-index: 51;
            
            @include breakpoint(tablet, mobile) {
                display: none;
            }
        }
        
        .bg1 {
            position: absolute;
            top: -140px;
            left: 14px;
            z-index: 1;
            
            @include breakpoint(laptop) {    
                width: 87px;
                top: -113px;
                left: -4px;
            }
            
            @include breakpoint(tablet) {    
                width: 87px;
                top: -113px;
                left: -4px;
            }
            
            @include breakpoint(mobile) {    
                width: 54px;
                top: -71px;
                left: -4px;
            }
        }
        
        .bg2 {
            position: absolute;
            top: -104px;
            left: -260px;
            z-index: 0;
            
            @include breakpoint(laptop) {    
                width: 387px;
                top: -84px;
                left: -216px;
            }
            
            @include breakpoint(tablet) {
                width: 387px;
                top: -84px;
                left: -216px;
            }
            
            @include breakpoint(mobile) {
                width: 240px;
                top: -55px;
                left: -131px;
            }
        }
        
        .bx-wrapper,
        .bx-viewport {
            overflow: visible !important;
            width: 647px !important;
            height: 363px !important;
            
            @include breakpoint(laptop, tablet) {    
                width: 541px !important;
                height: 303px !important;
            }
            
            @include breakpoint(mobile) {
                width: 335px !important;
                height: 188px !important;
                max-width: 100% !important;
            }
        }
        
        .video-slider {
            float: left;
            width: 100%;
        }

        .bx-controls {
            float: right;
            margin-right: -8px;
            margin-top: 18px;
            
            @include breakpoint(laptop) {
                margin-right: -2px;
                margin-top: 17px;
            }
            
            @include breakpoint(tablet) {
                margin-right: -2px;
                margin-top: 13px;
            }
            
            @include breakpoint(mobile) {
                margin: 0 auto;
                margin-top: 13px;
                float: none;
                display: table;
            }
            
            .bx-controls-direction {
                float: left;
            }
            
            .bx-next,
            .bx-prev {
                float: left;
                width: 52px;
                height: 52px;
                cursor: pointer;
                position: relative;
                margin: 0 7px;
                
                .icon {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    left: 0;
                    z-index: 0;
                    transition: all 0.3s;
                    
                    &.hover {
                        z-index: 1;
                        opacity: 0;
                    }
                }
                
                &:hover {
                    .icon {
                        opacity: 0;
                        
                        &.hover {
                            opacity: 1;
                        }
                    }
                }
            }
            
            .bx-next {
                .icon {
                    transform: rotate(180deg);
                }
            }
        }
        
        .item {
            float: left;
            width: 647px;
            height: 363px;
            
            @include breakpoint(laptop) {    
                width: 541px !important;
                height: 303px !important;
            }
            
            @include breakpoint(tablet) {    
                width: 541px !important;
                height: 303px !important;
            }
            
            @include breakpoint(mobile) {    
                width: 335px !important;
                height: 188px !important;
                max-width: 100% !important;
            }
            
            &.current {
                .ytplayer {
                    transform: scale(1);
                    margin-left: 0px;
                }
            }
            
            .ytplayer {
                float: left;
                width: 647px;
                height: 363px;
                transform: scale(0.70);
                transition: all 0.3s;
                margin-left: 54px;
                
                @include breakpoint(laptop) {    
                    width: 541px !important;
                    height: 303px !important;
                }
                
                @include breakpoint(tablet) {    
                    width: 541px !important;
                    height: 303px !important;
                }
                
                @include breakpoint(mobile) {
                    width: 335px !important;
                    height: 188px !important;
                    margin-left: 0px;
                    max-width: 100% !important;
                }
            }
            
            iframe {
                float: left;
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
    
    .content-wrapper {
        float: right;
        width: 438px;
        position: relative;
        z-index: 52;
        margin-right: 50px;
        
        @include breakpoint(laptop) {
            margin-right: 11px;
            margin-top: 18px;
        }
        
        @include breakpoint(tablet) {
            float: left;
            width: 567px;
            margin-right: 0px;
            margin-top: 18px;
        }
        
        @include breakpoint(mobile) {
            margin-top: 74px;
            margin-right: 0px;
            width: 100%;
            text-align: center;
        }
        
        .logo {
            float: left;
            width: 140px;
            
            @include breakpoint(laptop) {
                width: 102px;
            }
            
            @include breakpoint(tablet) {
                width: 102px;
            }
            
            @include breakpoint(mobile) {
                width: 102px;
                float: none;
                display: block;
                margin: 0 auto;
            }
        }
        
        .description {
            float: left;
            width: 100%;
            margin-top: 38px;
            
            @include breakpoint(laptop) {
                margin-top: 32px;
            }
            
            @include breakpoint(tablet) {
                margin-top: 32px;
            }
            
            @include breakpoint(mobile) {
                margin-top: 32px;
                text-align: center;
            }
        }
    }
    
    .btn-wrapper {
        float: left;
        width: 100%;
        text-align: center;
    }
    
    .actors-slider-wrapper {
        float: left;
        width: 100%;
        position: relative;
        margin-top: 69px;
        margin-bottom: 49px;
        
        @include breakpoint(laptop) {
            margin-top: 57px;
            margin-bottom: 30px;
        }
        
        @include breakpoint(tablet) {
            margin-top: 40px;
            margin-bottom: 30px;
        }
        
        @include breakpoint(mobile) {
            margin-top: 40px;
            margin-bottom: 20px;
        }
        
        .bx-wrapper,
        .bx-viewport {
            float: left !important;
            width: 100% !important;
            max-width: 100% !important;
            
            @include breakpoint(tablet, mobile) {
                overflow: visible !important;
            }
            
            @include breakpoint(mobile) {
                float: none !important;
                width: 204px !important;
                max-width: 204px !important;
                display: table !important;
                margin: 0 auto !important;
            }
        }
        
        .bx-viewport {
            padding: 10px 0;
        }
        
        .actors-slider {
            float: left;
            width: 100%;
            visibility: hidden;
            
            .item {
                float: left;
                width: 245px;
                margin-right: 17px;
                
                @include breakpoint(laptop) {
                    width: 204px !important;
                    margin-right: 15px !important;
                }
                
                @include breakpoint(tablet) {
                    width: 204px !important;
                    margin-right: 15px !important;
                }
                
                @include breakpoint(mobile) {
                    width: 204px !important;
                    margin-right: 15px !important;
                }
                
                .item-inner-wrapper {
                    float: left;
                    width: 100%;
                    transition: all 0.3s;
                }
                
                &:hover {
                    .item-inner-wrapper {
                        transform: translateY(-10px);
                    }
                }
                
                img {
                    float: left;
                    width: 100%;
                }
                
                .item-title {
                    float: left;
                    width: 100%;
                    margin-top: 10px;
                    font-size: 16px;
                    font-weight: bold;
                    text-decoration: none;
                    color: #1E1E1E;
                    
                    @include breakpoint(laptop) {
                        font-size: 14px;
                    }
                    
                    @include breakpoint(tablet) {
                        font-size: 14px;
                    }
                }
            }
        }
        
        .bx-controls {
            .bx-next,
            .bx-prev {
                float: left;
                width: 52px;
                height: 52px;
                cursor: pointer;
                position: relative;
                margin: 0 7px;
                
                .icon {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    left: 0;
                    z-index: 0;
                    transition: all 0.3s;
                    
                    &.hover {
                        z-index: 1;
                        opacity: 0;
                    }
                }
                
                &:hover {
                    .icon {
                        opacity: 0;
                        
                        &.hover {
                            opacity: 1;
                        }
                    }
                }
            }
            
            .bx-prev {
                position: absolute;
                position: absolute;
                left: -81px;
                top: 50%;
                transform: translateY(-71%);
                
                @include breakpoint(laptop) {
                    left: -66px;
                    transform: translateY(-78%);
                }
                
                @include breakpoint(tablet) {
                    left: -43px;
                }
                
                @include breakpoint(mobile) {
                    left: 91px;
                }
            }
            
            .bx-next {
                position: absolute;
                right: -72px;
                top: 50%;
                transform: translateY(-71%);
                
                @include breakpoint(laptop) {
                    transform: translateY(-78%);
                    right: -67px;
                }
                
                @include breakpoint(tablet) {
                    right: -16px;
                }
                
                @include breakpoint(mobile) {
                    right: 104px;
                }
                
                .icon {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.cookies-container {
    position: fixed;
    z-index: 200;
    bottom: 0;
    left: 0;
    background: rgb(30, 30, 30);
    width: 100%;
    padding: 14px 0;
    
    .content-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        width: 100%;
        
        @include breakpoint(mobile) {
            justify-content: center;
        }
    }
    
    .text {
        float: left;
        width: 922px;
        font-size: 12px;
        line-height: 20px;
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        
        @include breakpoint(tablet) {
            width: 470px;
        }
        
        @include breakpoint(mobile) {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }
        
        a, p {
            font-size: 12px;
            line-height: 20px;
            color: #FFFFFF;
            font-family: 'Poppins', sans-serif;
        }
    }
    
    .btn {
        color: white;
    }
}

.page-content {
    float: left;
    width: 100%;
    margin-top: 160px;
    margin-bottom: 95px;
    
    @include breakpoint(laptop) {
        margin-top: 150px;
    }
    
    @include breakpoint(tablet) {
        margin-top: 130px;
        margin-bottom: 70px;
    }
    
    @include breakpoint(mobile) {
        margin-top: 90px;
        margin-bottom: 50px;
    }
    
    h1 {
        float: left;
        width: 100%;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 50px;
        font-weight: 600;
        
        @include breakpoint(laptop) {
            margin-bottom: 43px;
        }
        
        @include breakpoint(tablet) {
            font-size: 35px;
            line-height: 35px;
            margin-bottom: 40px;
        }
        
        @include breakpoint(mobile) {
            font-size: 35px;
            line-height: 35px;
            margin-bottom: 40px;
        }
    }
}

.subpage-tablet-bg {
    display: none;
    
    @include breakpoint(tablet) {
        display: block;
        position: absolute;
        top: -152px;
        right: -190px;
    }
}

.subpage-mobile-bg {
    display: none;
    
    @include breakpoint(mobile) {
        display: block;
        position: absolute;
        top: -253px;
        right: -291px;
    }
}