@import "mixins.scss";

#media-page {
    font-family: 'Roboto', sans-serif;

    .media {
        float: left;
        width: 100%;

        .media-title {
            float: left;
            color: #FFFFFF;
            font-size: 36px;
            font-weight: 700;
            margin: 82px 0 61px 0;

            @include breakpoint(tablet) {
                margin: 52px 0 31px 0;
            }

            @include breakpoint(mobile) {
                margin: 30px 0 30px 40px;
                font-size: 30px;
            }
        }

        .media-items {
            float: left;
            width: 100%;

            .media-item {
                float: left;
                width: 25%;
                margin-bottom: 25px;

                @include breakpoint(tablet) {
                    width: 33%;
                }

                @include breakpoint(mobile) {
                    width: 100%;
                }

                .media-item-title {
                    font-size: 30px;
                    color: #FFFFFF;
                    font-weight: 700;
                    padding-right: 20px;
                    width: calc(100% - 20px);
                }
            }
        }

        .media-show {
            float: left;
            width: 100%;

            .media-left {
                float: left;
                width: 350px;

                @include breakpoint(tablet) {
                    width: 245px;
                }

                @include breakpoint(mobile) {
                    width: 100%;
                }

                .media-show-title {
                    float: left;
                    width: 100%;
                    font-size: 30px;
                    color: #FFFFFF;
                    font-weight: 700;
                    line-height: 34px;
                }

                .download {
                    float: left;
                    width: 100%;

                    .download-title {
                        font-size: 18px;
                        color: #FFFFFF;
                    }

                    .download-link {
                        float: left;
                        clear: both;
                        display: block;
                        font-size: 14px;
                        line-height: 30px;
                        color: #FFFFFF;

                        &:hover {
                            color: #5e9f18;
                        }

                        &:before {
                            content: '';
                            display: block;
                            width: 17px;
                            height: 19px;
                            margin-top: 5px;
                            margin-right: 10px;
                            background: url('../images/download-image.png') no-repeat;
                            float: left;
                        }
                    }
                }

                .media-links {
                    float: left;
                    width: 100%;

                    .media-links-title {
                        font-size: 18px;
                        color: #FFFFFF;
                    }

                    .media-link {
                        float: left;
                        clear: both;
                        display: block;
                        font-size: 14px;
                        line-height: 30px;
                        color: #FFFFFF;

                        &:hover {
                            color: #5e9f18;
                        }

                        &:before {
                            content: '';
                            display: block;
                            width: 22px;
                            height: 19px;
                            margin-top: 5px;
                            margin-right: 10px;
                            background: url('../images/youtube.png') no-repeat;
                            float: left;
                        }
                    }
                }

                .social-media {
                    float: left;
                    width: 100%;

                    .social-media-title {
                        font-size: 18px;
                        color: #FFFFFF;
                    }

                    .social-media-link {
                        float: left;
                        clear: both;
                        display: block;
                        font-size: 14px;
                        line-height: 30px;
                        color: #FFFFFF;

                        &:hover {
                            color: #5e9f18;
                        }
                    }
                }
            }

            .media-right {
                float: left;
                width: calc(100% - 350px);
                padding-bottom: 50px;

                @include breakpoint(tablet) {
                    width: calc(100% - 280px);
                    margin-left: 35px;
                }

                @include breakpoint(mobile) {
                    width: 100%;
                    padding-top: 20px;
                }

                * {
                    font-family: 'Roboto', sans-serif;
                    color: #FFFFFF;
                    font-size: 14px;
                    line-height: 28px;

                    @include breakpoint(mobile) {
                        line-height: 26px;
                        font-size: 12px;
                    }
                }

                .media-page-title {
                    font-size: 18px;
                    margin: 28px 0;

                    @include breakpoint(mobile) {
                        font-size: 14px;
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}