<div class="actual-block">
    <div class="header1">Artyści</div>
    {% for article in entities %}
    <div onclick="javascript:location.href='{{ path('ls_actors_show', {'slug': article.slug}) }}'"  class="actual-item">
        <img src="{{ article.getThumbWebPath('list') }}?{{ random(10000) }}">
        <div class="actual-link"><a href="{{ path('ls_actors_show', {'slug': article.slug}) }}">{{ article.title }}</a></div>
    </div>
    {% endfor %}
</div>
<div class="show-actuals-btn">
	<a href="{{ path('ls_actors') }}">Zobacz wszystkie</a>
</div>
