<div class="actors-slider-wrapper" data-aos="fade-up">
    <div class="actors-slider">
        {% for entity in entities %}
            <a href="{{ path('ls_actors_show', {'slug': entity.slug}) }}"  class="item">
                <div class="item-inner-wrapper">
                    <img src="{{ entity.getThumbWebPath('list') }}" alt="{{ entity.title }}">
                    <div class="item-title">
                        {{ entity.title }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
