{% extends '::index.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ cms_config.get('seo_title_kmevents', '') }}{% endblock %}
{% block description %}{{ entity.seodescription }} - {{ cms_config.get('seo_description_kmevents', '') }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}, {{ cms_config.get('seo_keywords_kmevents', '') }}{% endblock %}

{% block content %}
    <div id="actorPage" class="actorsBackground">
        <div class="toMainPageWrapper">
            <div class="kmevents-container">
                <div class="toMainPage">
                    <a href="{{ path('ls_core_homepage') }}">Powrót do strony głównej</a>
                </div>
            </div>
        </div>
        <div class="kmeventsMenu">
            <div class="kmevents-container">
                <a href="{{ path('ls_section_kmevents') }}">
                    <img src="{{ asset('bundles/lscore/images/kmevents_logo.png') }}" class="kmeventsLogo" alt="kmevents" />
                </a>
                <div class="kmeventsMenu_navWrapper">
                    {{ knp_menu_render(menuEvents) }}
					<div class="socialsNetworks">
                        <a class="socialsNetworks_facebook" href="{{ cms_config.get('km_events_facebook', '')|nl2br|raw }}"></a>
                        <a class="socialsNetworks_instagram" href="{{ cms_config.get('km_events_instagram', '')|nl2br|raw }}"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="actorContent">
            <div class="kmevents-container">
                <h1>Artyści</h1>
                <div class="actorContent_leftSide">
                    <img src="{{ entity.getThumbWebPath('list') }}" alt="{{ entity.title }}" />
                    <h2>{{ entity.title }}</h2>
                    <p class="booking">
                        <span class="booking_title">Zapraszamy do bookingu:</span>
                        <span class="booking_content">{{ entity.contactInformation|nl2br }}</span>
                    </p>
                </div>
                <div class="actorContent_textArea">
                    <p>{{ entity.content|raw }}</p>
                    {% if entity.gallery %}
                        {% include "LsGalleryBundle:Front:gallery.html.twig" with { movies: entity.gallery.movies } %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}