{{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
<ul class="nav nav-tabs pills">
    <li class="active">
        <a data-toggle="tab" href="#tab-general">Ustawienia</a>
    </li>
</ul>

<div class="tab-content" style="margin-top: 15px;">
    <div id="tab-general" class="tab-pane active">
        <div class="form-group{% if form.label.vars.errors|length %} has-error has-feedback{% endif %}">
            {{ form_label(form.label, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                <div class="form-field">
                    {{ form_widget(form.label, {'attr': {'class': 'form-control' }}) }}
                    {% if form.label.vars.errors|length %}
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <div class="error-tooltip">
                            <div class="text">
                                <ul>
                                    {% for error in form.label.vars.errors %}
                                        <li>{{ error.message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="arrow">
                                <div class="inner"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
                
        {% if entity.id is empty %}
            <div class="form-group{% if form.type.vars.errors|length %} has-error has-feedback{% endif %}">
                {{ form_label(form.type, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    <div class="form-field">
                        {{ form_widget(form.type, {'attr': {'class': 'form-control' }}) }}
                        {% if form.type.vars.errors|length %}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <div class="error-tooltip">
                                <div class="text">
                                    <ul>
                                        {% for error in form.type.vars.errors %}
                                            <li>{{ error.message }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="arrow">
                                    <div class="inner"></div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
                
        <div class="form-group">
            {{ form_label(form.description, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                <div class="form-field">
                    {{ form_widget(form.description, {'attr': {'class': 'form-control' }}) }}
                </div>
            </div>
        </div>
                
        {% if form.imageWidth is defined %}
            <div class="form-group image-type" style="display: none;">
                {{ form_label(form.imageWidth, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    <div class="form-field">
                        {{ form_widget(form.imageWidth, {'attr': {'class': 'form-control' }}) }}
                    </div>
                </div>
            </div>
        {% endif %}
        
        {% if form.imageHeight is defined %}
            <div class="form-group image-type" style="display: none;">
                {{ form_label(form.imageHeight, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    <div class="form-field">
                        {{ form_widget(form.imageHeight, {'attr': {'class': 'form-control' }}) }}
                    </div>
                </div>
            </div>
        {% endif %}
                
        {% if entity.type == 2 %}
            <div class="form-group">
                {{ form_label(form.value, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.value, {'attr': {'class': 'wysiwyg' }}) }}
                </div>
            </div>
        {% elseif entity.type == 3 %}
            <div class="form-group" style="margin-bottom: 0;">
                <div class="control-label col-sm-3">&nbsp;</div>
                <div class="col-sm-9">
                    <p class="help-block">Nie mniejsze niż {{ entity.imageWidth }} x {{ entity.imageHeight }} px</p>
                </div>
            </div>
            <div class="form-group{% if form.file.vars.errors|length %} has-error has-feedback{% endif %}">
                {{ form_label(form.file, null, {'label_attr': {'class': 'control-label col-sm-3' }}) }}
                <div class="col-sm-9">
                    <div class="input-group">
                        <input class="form-control" type="text" readonly="readonly" autocomplete="off">
                        <span class="input-group-btn">
                            <span class="btn{% if form.file.vars.errors|length %} btn-danger{% else %} btn-default{% endif %} btn-file">
                                Przeglądaj... {{ form_widget(form.file) }}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            {% if entity.getPhotoWebPath != null %}
                <div class="form-group">
                    <div class="control-label col-sm-3">Aktualne zdjęcie</div>
                    <div class="col-sm-9">
                        <img src="{{ entity.getPhotoWebPath() }}?{{ random(10000) }}" style="max-width:100%; height: auto;" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-3">&nbsp;</div>
                    <div class="col-sm-9">
                        <p class="help-block">Kliknij w miniaturkę aby wykadrować</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-3">Miniatura do szczegółów</div>
                    <div class="col-sm-9">
                        <a href="{{ path('ls_admin_dictionary_crop', {'id': entity.id, 'type' : 'detail'}) }}" title="Kadruj zdjęcie" style="display: block; cursor: pointer; float: left;">
                            <img src="{{ entity.getThumbWebPath('detail') }}?{{ random(10000) }}" style="max-width:100%; height: auto;" />
                        </a>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="form-group">
                {{ form_label(form.value, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    <div class="form-field">
                        {{ form_widget(form.value, {'attr': {'class': 'form-control' }}) }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
<div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
        {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}
        {% if not form_edit %}
            {{ form_widget(form.submit_and_new, {'attr': {'class': 'btn btn-default' }}) }}
        {% endif %}
    </div>
</div>
{{ form_end(form) }}
