{% macro partialTranslations(form, field, help) %}
    {% set locale_names = { 'en': 'Angielski', 'pl': 'Polski' } %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <ul class="nav nav-tabs">
                {% for translations in form %}
                    {% set locale = translations.vars.value.locale %}
                    <li {% if app.request.locale == locale %}class="active"{% endif %}>
                        <a href="#translation-{{ field }}-{{ locale }}" data-toggle="tab">
                            {{ locale_names[locale] }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="tab-content" style="margin-top: 15px;">
        {% for translations in form %}
            {% set locale = translations.vars.value.locale %}

            {% for translationsField in translations if translationsField.vars.name == field %}
                <div id="translation-{{ field }}-{{ locale }}" class="tab-pane {% if app.request.locale == locale %}active{% endif %}">
                    <div class="form-group{% if translationsField.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(translationsField, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            <div class="form-field">
                                {{ form_widget(translationsField) }}
                                {% if translationsField.vars.errors|length %}
                                    <div class="error-tooltip">
                                        <div class="text">
                                            <ul>
                                                {% for error in translationsField.vars.errors %}
                                                    <li>{{ error.message }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="arrow">
                                            <div class="inner"></div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if help is not empty %}
                                    <p class="help-block">{{ help|raw }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endmacro %}

{% macro partialTranslationsRendered(form, field) %}
    {% for translations in form %}
        {% for translationsField in translations if translationsField.vars.name == field %}
            {% do translationsField.setRendered %}
        {% endfor %}
    {% endfor %}
{% endmacro %}

{% macro partialTranslationsHidden(form, field) %}
    {% for translations in form %}
        {% for translationsField in translations if translationsField.vars.name == field %}
            {{ form_widget(translationsField) }}
        {% endfor %}
    {% endfor %}
{% endmacro %}
