{% extends '::bambini.html.twig' %}

{% block title %}{{ category.seotitle }} - {{ cms_config.get('seo_title_kmevents', '') }}{% endblock %}
{% block description %}{{ category.seodescription }}{% endblock %}
{% block keywords %}{{ category.seokeywords }}{% endblock %}

{% block main_content %}
    <div class="list-section">
        <div class="container">
            <div class="categories-left-list">
                <div class="list-title" onclick="toggleDropdown(this);">
                    Wybierz kategorię
                </div>
                <div class="items-wrapper">
                    {% for item in categories %}
                        <a href="{{ path('ls_bambini_coloring', {'categorySlug': item.slug}) }}" class="item {% if item.id == category.id %}active{% endif %}">
                            {{ item.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>
                
            <div class="items-list">
                <h1 class="title">Kolorowanki <span>{{ category.title }}</span></h1>
                <p class="description">{{ category.description | nl2br }}</p>
                
                
                <div class="items-wrapper">
                    {% for photo in category.photos %}
                        <a href="{{ path('ls_bambini_coloring_show', {'categorySlug': category.slug, 'slug': photo.getItemSlug }) }}" class="item">
                            <div class="image-wrapper">
                                <img src="{{ photo.getThumbWebPath('list') }}" alt="{{ photo.title }}"/>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
