{% extends '::bambini.html.twig' %}

{% block title %}{% if entity.seotitle %}{{ entity.seotitle }} - {% endif %}{{ category.seotitle }} - {{ cms_config.get('seo_title_kmevents', '') }}{% endblock %}
{% block description %}{% if entity.seodescription %}{{ entity.seodescription }}{% else %}{{ category.seodescription }}{% endif %}{% endblock %}
{% block keywords %}{% if entity.seokeywords %}{{ entity.seokeywords }}{% else %}{{ category.seokeywords }}{% endif %}{% endblock %}

{% block wrapper_attr %}class="print-mode"{% endblock %}

{% block main_content %}
    <div class="list-section">
        <div class="container">
            <div class="categories-left-list">
                <div class="list-title" onclick="toggleDropdown(this);">
                    Wybierz kategorię
                </div>
                <div class="items-wrapper">
                    {% for item in categories %}
                        <a href="{{ path('ls_bambini_coloring', {'categorySlug': item.slug}) }}" class="item {% if item.id == category.id %}active{% endif %}">
                            {{ item.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>
                
            <div class="items-list">
                <h1 class="title">
                    {% if entity.title %}
                        {{ entity.title }}
                    {% else %}
                        Kolorowanki <span>{{ category.title }}</span>
                    {% endif %}
                </h1>
                <p class="description">
                    {% if entity.description %}
                        {{ entity.description | nl2br }}
                    {% else %}
                        {{ category.description | nl2br }}
                    {% endif %}
                </p>
                
                <div class="photo-wrapper">
                    <button onclick="window.print();" class="print-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.16795 19.4453C8.35342 19.1671 8.66565 19 9 19H23C23.3344 19 23.6466 19.1671 23.8321 19.4453L27.8321 25.4453C28.0366 25.7522 28.0557 26.1467 27.8817 26.4719C27.7077 26.797 27.3688 27 27 27H5C4.63121 27 4.29235 26.797 4.11833 26.4719C3.94431 26.1467 3.96338 25.7522 4.16795 25.4453L8.16795 19.4453ZM9.53519 21L6.86852 25H25.1315L22.4648 21H9.53519Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.78357 12.0078C6.23551 12.12 5 13.425 5 15V22H7V24H4C3.44772 24 3 23.5523 3 23V15C3 12.2477 5.24772 10 8 10C8.15525 10 8.30836 10.0361 8.44721 10.1056C13.1657 12.4648 18.8343 12.4648 23.5528 10.1056C23.6916 10.0361 23.8448 10 24 10C26.7523 10 29 12.2477 29 15V23C29 23.5523 28.5523 24 28 24H25V22H27V15C27 13.425 25.7645 12.12 24.2164 12.0078C19.0591 14.4974 12.9409 14.4974 7.78357 12.0078Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M24 17H22V15H24V17Z" fill="black"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 6C9 5.44772 9.44772 5 10 5H22C22.5523 5 23 5.44772 23 6V12H21V7H11V12H9V6Z" fill="black"/>
                        </svg>
                        
                        Wydrukuj kolorowankę
                    </button>
                    
                    <div class="photo-item">
                        <img src="{{ entity.getPhotoWebPath }}" alt="{{ entity.title }}"/>
                    </div>
                </div>
                    
                {% if other|length > 0 %}
                    <div class="other-wrapper">
                        <h3 class="other-title">Zobacz podobne kolorowanki</h3>
                        
                        <div class="items-wrapper">
                            {% for photo in other %}
                                <a href="{{ path('ls_bambini_coloring_show', {'categorySlug': category.slug, 'slug': photo.getItemSlug }) }}" class="item">
                                    <div class="image-wrapper">
                                        <img src="{{ photo.getThumbWebPath('list') }}" alt="{{ photo.title }}"/>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block print_item %}
    <img class="print-image" src="{{ entity.getPhotoWebPath }}" alt="{{ entity.title }}"/>
{% endblock %}