{% if entity is not empty %}
    {% if (app.session.get('popup') != session_value or app.request.cookies.get('popup') != session_value) and entity.getPhotoWebPath() is not empty %}
        <div id="popup">
			<div class="popup-background" onclick="closePopup('{{ path('ls_popup_close', {'value': session_value }) }}');"></div>
            <div class="popup-container">
            	<img src="{{ entity.getPhotoWebPath() }}?{{ random(10000) }}">
				{% if entity.btnUrl is not empty and entity.btnTitle is not empty and entity.btnUrl2 is not empty and entity.btnTitle2 is not empty %}
					<div class="popup-bottom">
						{% if entity.btnUrl is not empty and entity.btnTitle is not empty %}
							<a onclick="closePopup('{{ path('ls_popup_close', {'value': session_value }) }}');" href="{{ entity.btnUrl }}" class="myButton myButton-green"{% if entity.btnBlank %} target="_blank"{% endif %}>{{ entity.btnTitle }}</a>
						{% endif %}
						{% if entity.btnUrl2 is not empty and entity.btnTitle2 is not empty %}
							<a onclick="closePopup('{{ path('ls_popup_close', {'value': session_value }) }}');" href="{{ entity.btnUrl2 }}" class="myButton myButton-white"{% if entity.btnBlank2 %} target="_blank"{% endif %}>{{ entity.btnTitle2 }}</a>
						{% endif %}
					</div>
				{% endif %}
            </div>
        </div>
    {% endif %}
{% endif %}