{% form_theme form with 'LsCoreBundle:Frontend:fields.html.twig' %}

<div class="modal-title">Prześlij demo</div>

{{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-modal', 'novalidate': 'novalidate'}}) }}
    <div id="contact-name" class="form-group">
        {{ form_label(form.name, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
        <div class="contact-input">
            {{ form_widget(form.name, {'attr': {'class': 'form-control' }}) }}
        </div>
    </div>
    <div id="contact-email" class="form-group">
        {{ form_label(form.email, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
        <div class="contact-input">
            {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }}
        </div>
    </div>

    <div id="contact-content" class="form-group">
        {{ form_label(form.message, null, {'label_attr': {'class': 'contact-label control-label' }}) }}
        <div class="contact-input">
            {{ form_widget(form.message, {'attr': {'class': 'form-control contact-textarea' }}) }}
        </div>
    </div>
        
    <div class="form-group file-names">
    </div>
        
    <div id="contact-content" class="form-group">
        {{ form_label(form.uploadFiles, null, {'label_attr': {'class': 'contact-label control-label file-label' }}) }}
        <div style="display:none;" class="contact-input">
            {{ form_widget(form.uploadFiles, {'attr': {'class': 'form-control btn-file' }}) }}
        </div>
    </div>

    <div id="send-demo-btn" class="form-group">
        <div class="contact-input">
            {{ form_widget(form.submit, {'attr': {'class': 'submit-button' }}) }}
        </div>
    </div>
{{ form_end(form) }}