{% form_theme form with 'LsCoreBundle:Frontend:fields2.html.twig' %}

{{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'contact-form', 'novalidate': 'novalidate'}}) }}
    <div class="form-group">
        {{ form_widget(form.name, {'attr': {'class': 'form-control name-form' }}) }}
    </div>
    <div class="form-group left">
        {{ form_widget(form.email, {'attr': {'class': 'form-control email-form'}}) }}
    </div>
    <div class="form-group right">
        {{ form_widget(form.phone, {'attr': {'class': 'form-control phone-form' }}) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.content, {'attr': {'class': 'form-control content-form' }}) }}
    </div>
    <div class="form-group">
        <div class="recaptcha">
            {{ form_row(form.google_recaptcha, {'attr': {'class': 'g-recaptcha' }}) }}
        </div>
    </div>
    <div class="form-group accept">
        {{ form_widget(form.accept, {'label': cms_text.get('contact_rodo', '')}) }}
    </div>
    <div class="form-group submit">
        {{ form_widget(form.submit, {'attr': {'class': 'btn' }}) }}
    </div>
{{ form_end(form) }}