{% extends '::backend.html.twig' %}
{% form_theme form with 'LsCoreBundle:Backend:fields.html.twig' %}

{% block body %}
    {% include 'LsCoreBundle:Backend:_errors.html.twig' %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_bambini_coloring_photo', {'categoryId': category.id}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
                <ul class="nav nav-tabs pills">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-general">Treść</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab-seo">SEO</a>
                    </li>
                </ul>

                <div class="tab-content" style="margin-top: 15px;">
                    <div id="tab-general" class="tab-pane active">
                        <div class="form-group{% if form.title.vars.errors|length %} has-error has-feedback{% endif %}">
                            {{ form_label(form.title, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.title, {'attr': {'class': 'form-control' }}) }}
                                {% if form.title.vars.errors|length %}
                                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group{% if form.description.vars.errors|length %} has-error has-feedback{% endif %}">
                            {{ form_label(form.description, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.description, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                            
                        <div class="form-group{% if form.file.vars.errors|length %} has-error has-feedback{% endif %}">
                            {{ form_label(form.file, null, {'label_attr': {'class': 'control-label col-sm-3' }}) }}
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input class="form-control" type="text" readonly="readonly" autocomplete="off">
                                    <span class="input-group-btn">
                                        <span class="btn{% if form.file.vars.errors|length %} btn-danger{% else %} btn-default{% endif %} btn-file">
                                            Przeglądaj... {{ form_widget(form.file) }}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        {% if entity.getPhotoWebPath != null %}
                            <div class="form-group">
                                <div class="control-label col-sm-3">Aktualne zdjęcie</div>
                                <div class="col-sm-9">
                                    <img src="{{ entity.getPhotoWebPath() }}?{{ random(10000) }}" style="max-width:100%; height: auto;" />
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div id="tab-seo" class="tab-pane">
                        <div class="form-group">
                            {{ form_label(form.slug, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.slug, {'attr': {'class': 'form-control' }}) }}
                                <p class="help-block">Element linku URL identyfikujący aktualność np. http://www.test.pl/aktualnosci/<b>aktualnosc</b>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                {{ form_widget(form.seo_generate) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.seo_title, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.seo_title, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.seo_keywords, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.seo_keywords, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.seo_description, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.seo_description, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
                        {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}
                    </div>
                </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this);
            var numFiles = input.get(0).files ? input.get(0).files.length : 1;
            var label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready(function () {
            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
                var input = $(this).parents('.input-group').find(':text');
                var log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }
            });
        });
    </script>
{% endblock %}