{{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
<ul class="nav nav-tabs pills">
    <li class="active">
        <a data-toggle="tab" href="#tab-general">Użytkownik</a>
    </li>
</ul>

<div class="tab-content" style="margin-top: 15px;">
    <div id="tab-general" class="tab-pane active">
        <div class="form-group{% if form.username.vars.errors|length %} has-error has-feedback{% endif %}">
            {{ form_label(form.username, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                <div class="form-field">
                    {{ form_widget(form.username, {'attr': {'class': 'form-control' }}) }}
                    {% if form.username.vars.errors|length %}
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <div class="error-tooltip">
                            <div class="text">
                                <ul>
                                    {% for error in form.username.vars.errors %}
                                        <li>{{ error.message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="arrow">
                                <div class="inner"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-group{% if form.email.vars.errors|length %} has-error has-feedback{% endif %}">
            {{ form_label(form.email, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                <div class="form-field">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }}
                    {% if form.email.vars.errors|length %}
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <div class="error-tooltip">
                            <div class="text">
                                <ul>
                                    {% for error in form.email.vars.errors %}
                                        <li>{{ error.message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="arrow">
                                <div class="inner"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-group{% if form.plain_password.vars.errors|length %} has-error has-feedback{% endif %}">
            {{ form_label(form.plain_password, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                <div class="form-field">
                    {{ form_widget(form.plain_password, {'attr': {'class': 'form-control' }}) }}
                    {% if form.plain_password.vars.errors|length %}
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <div class="error-tooltip">
                            <div class="text">
                                <ul>
                                    {% for error in form.plain_password.vars.errors %}
                                        <li>{{ error.message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="arrow">
                                <div class="inner"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-group{% if form.roles.vars.errors|length %} has-error has-feedback{% endif %}">
            {{ form_label(form.roles, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
            <div class="col-sm-9">
                <div class="form-field" style="float: left; padding-right: 25px;">
                    {{ form_widget(form.roles) }}
                    {% if form.roles.vars.errors|length %}
                        <div class="error-tooltip right-top">
                            <div class="text">
                                <ul>
                                    {% for error in form.roles.vars.errors %}
                                        <li>{{ error.message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="arrow">
                                <div class="inner"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label"><label>Inne opcje</label></div>
            <div class="col-sm-9 form-field">
                {{ form_widget(form.active) }}
            </div>
        </div>
    </div>
</div>
<div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
        {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}
        {% if not form_edit %}
            {{ form_widget(form.submit_and_new, {'attr': {'class': 'btn btn-default' }}) }}
        {% endif %}
    </div>
</div>
{{ form_end(form) }}
